[2021-03-23 12:57] kanishka8276 opened #379 "Bug in round off calculator"
## **Describe the bug**
Round off calculator does not work for decimal numbers and thus rounding off to ones place is not working.
![Screenshot (136)](https://user-images.githubusercontent.com/66053534/112149813-64468380-8c05-11eb-91f8-a863976a3b08.png)
![Screenshot (137)](https://user-images.githubusercontent.com/66053534/112149821-66a8dd80-8c05-11eb-8b52-5ca2201cb90e.png)

[2021-03-23 13:02] zhcet19 opened #380 "Adding option two divide two complex number under complex Calculation"
## **Is your feature request related to a problem? Please describe.**

I want to add an a option two divide two complex number .

## **Describe the solution you'd like**

- A clear and concise description of what you want to happen.

[2021-03-23 13:03] zhcet19 commented on #380
/assign

[2021-03-23 14:09] RaveenaBhasin opened #383 "Adding conditions of specific inverse trigonometric functions"
I would like to add graph and condition of inverse trigo functions
example-sin^(-1)(2x/1+x^2) Like there are 3 conditions under which it is used and there are many more functions I would like to add.
Please assign this issue to me.

[2021-03-23 14:18] sairish2001 commented on #303
Appreciated, you informed us earlier.

[2021-03-23 14:56] #203 closed

[2021-03-23 15:56] sairish2001 commented on #379
Can you please elaborate this issue?

[2021-03-23 15:58] sairish2001 commented on #379
You will fix the steps of roundoff?

[2021-03-23 15:59] kanishka8276 commented on #379
@sairish2001  if we enter decimal number like 7.5 and ask it to round off it is printing 7.5 only.

[2021-03-23 16:00] kanishka8276 commented on #379
Yes, I will try to do it!

[2021-03-23 16:05] kanishka8276 commented on #366
Hey @AB-san I opened this issue so that I can work on it . I am also a GsSOC'21 participant.

[2021-03-23 16:13] AB-san commented on #366
But you need to ask them to assign you right? You didnt at that time when i saw the issue so thats y i worked on it

[2021-03-23 16:17] satcasm opened #386 "UI of complex number calculation"
Would like to improve upon the UI of complex number calculation.(The result should contain some more text, will add that and make the input fields a bit spacious)

Also, it would be nice to shift ```calculation for 1 complex number``` into a separate page. It would make the page look clean.
Would like to work on it under GSSOC '21.

[2021-03-23 16:20] satyampgt4 commented on #303
i would like to work on please assign it to me

[2021-03-23 16:22] AB-san commented on #366
I am really sorry i didnt knew that we cant work on the issue until its assigned to me

[2021-03-23 16:25] AB-san commented on #366
And dont mind but the pull request i made solves another issue which is not mentioned in the one that you have created i.e, when r==1

[2021-03-23 16:28] kanishka8276 commented on #366
Yes, I would suggest create another issue for r==1 and get it assigned so that your PR is merged!

[2021-03-23 17:12] AB-san opened #388 "Bug in "Sum of N terms of GP calculator" when r=1"
## **Describe the bug**

In sum of n terms of GP calculator When common ratio ==1 the sum comes out to 0
## **Possible solution**
Modify the javascript code for when r==1 || The formula of GP sum when r==1 is ( no. of terms * 1st term)

## **Screenshots**
![image](https://user-images.githubusercontent.com/71064674/112188331-ea27f600-8c28-11eb-84d6-c5bd5c971983.png)

[2021-03-23 17:13] AB-san commented on #388
Please assign me this issue i will start working on it as soon as i m assigned to it !!

[2021-03-23 17:19] khareyash05 commented on #340
@sairish2001 Created a PR Have a look!

[2021-03-23 17:40] #331 closed

[2021-03-23 17:42] khareyash05 opened #390 "state rules for divergence and convergence of series"
Hi! I would like to add rules and tests like Raabe's test D'ALembert Test which test convergence and divergence of series

[2021-03-23 17:43] #361 closed

[2021-03-23 17:51] AB-san opened #391 "Bug in prime number"
## **Describe the bug**

Prime Number calculator disappears within a fraction of second  as soon as we click on it

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-03-23 17:53] khareyash05 opened #392 "similarity and congruence of triangles"
Hi! I would like to add the conditions for similarity and congruence of triangles

[2021-03-23 17:58] #358 closed

[2021-03-23 18:06] #225 closed

[2021-03-23 18:10] #340 closed

[2021-03-23 18:13] sairish2001 commented on #343
Actually, most of the formulas for shapes is already there under Shapes Calculator

[2021-03-23 18:15] sairish2001 commented on #374
Go ahead with this issue!
Feel free to ask your doubts, if any
Deadline 25 March,2021 (11:59 PM IST)

[2021-03-23 18:16] sairish2001 commented on #303
Go ahead!
Feel free to ask your doubts, if any
Deadline 26 March, 2021 (11:59 PM IST)

[2021-03-23 18:17] sairish2001 commented on #257
Yes, add this in unit converter

[2021-03-23 18:18] sairish2001 commented on #220
Can you show steps for the same?

[2021-03-23 18:20] sairish2001 commented on #4
Go ahead!
Feel free to ask your doubts, if any
Deadline 28 March,2021 (11:59 PM IST)

[2021-03-23 18:22] sairish2001 commented on #352
Kindly do show steps for the same

[2021-03-23 18:23] #360 closed

[2021-03-23 18:25] sairish2001 commented on #363
This issue is already closed, with merged PR

[2021-03-23 18:25] #363 closed

[2021-03-23 18:27] sairish2001 commented on #365
Go ahead!
Deadline 26 March,2021 (11:59 PM IST)

[2021-03-23 18:30] sairish2001 commented on #378
Go ahead!
Deadline 27 March,2021 (11:59 PM IST)

[2021-03-23 18:31] sairish2001 commented on #367
Go ahead!
Deadline 29 March,2021 (11:59 PM IST)

[2021-03-23 18:35] sairish2001 commented on #376
Go ahead!
Deadline 29 March,2021 (11:59 PM IST)

[2021-03-23 18:36] sairish2001 commented on #380
Go ahead!
Do provide steps for this
Deadline 29 March,2021 (11:59 PM IST)

[2021-03-23 18:37] sairish2001 commented on #383
Go ahead
Deadline 28 March,2021 (11:59 PM IST)

[2021-03-23 18:39] sairish2001 commented on #386
Go ahead!
Deadline 29 March,2021 (11:59 PM IST)

[2021-03-23 18:40] sairish2001 commented on #390
This is a calculator or just formulas?

[2021-03-23 18:41] sairish2001 commented on #390
Go ahead!
Feel free to ask your doubts, if any

[2021-03-23 18:43] sairish2001 commented on #377
Go ahead!
Deadline 26 March,2021 (11:59 PM IST)

[2021-03-23 18:44] sairish2001 commented on #391
Go ahead!
Deadline 27 March,2021 (11:59 PM IST)

[2021-03-23 18:45] sairish2001 commented on #392
Go ahead!
Deadline 29 March,2021 (11:59 PM IST)

[2021-03-23 18:46] sairish2001 commented on #388
Go ahead
Deadline 28 March,2021 (11:59 PM IST)

[2021-03-23 18:51] sairish2001 commented on #366
Go ahead! @AB-san
Deadline 28 March,2021 (11:59 PM IST)

[2021-03-23 19:09] #378 closed

[2021-03-23 19:27] #391 closed

[2021-03-23 19:29] #376 closed

[2021-03-23 19:32] #260 closed

[2021-03-23 19:34] kanishka8276 opened #397 "Bug in median calculator."
## **Describe the bug**
If odd number of space separated numbers are entered then it shows wrong median.

Please assign this to me.

![Screenshot (142)](https://user-images.githubusercontent.com/66053534/112207380-0b92dd00-8c3d-11eb-849c-1084db64598f.png)
![Screenshot (143)](https://user-images.githubusercontent.com/66053534/112207387-0cc40a00-8c3d-11eb-9d5e-938e9e4ff585.png)

[2021-03-23 19:38] #366 closed

[2021-03-23 19:39] sairish2001 commented on #397
Go ahead
Deadline 27 March,2021 (11:59 PM IST)

[2021-03-23 19:43] kanishka8276 opened #399 "Output of Ascending/descending order calculator"
## **Is your feature request related to a problem? Please describe.**
If a user enters a different set Of numbers and finds ascending and descending order and then enter another set of numbers and finds only the ascending order then the descending order of the previous set of numbers is still displayed which can create confusion when dealing with large amount of data.

## **Describe the solution y

[2021-03-23 20:01] sairish2001 commented on #399
Go ahead
Deadline 28 March, 2021 (11:59 PM IST)

[2021-03-23 20:09] abhijeet141 opened #400 "To add Properties of Logarithm"
I would like to add all the properties of Logarithm.

[2021-03-23 20:09] abhijeet141 commented on #400
Hi, I want to work on this issue I will start working on it as soon as I get assigned!! I am a part of GSSoC'21.
Kindly assign this issue to me!
Discord Username : Abhijeet Sinha(P)
Discord Tag: #4018

[2021-03-23 22:00] bitaashna commented on #355
@sairish2001 I have created a PR #401 Please check it!

[2021-03-24 01:58] khareyash05 opened #402 "mislocation of Volume CSa tsa"
I think Volume Csa and Tsa should be placed in Graph and SHapes area and not in general maths as all the shapes are mentioned in there . It will be best suited there

[2021-03-24 02:32] khareyash05 commented on #392
@sairish2001 Attached a PR Have a look!

[2021-03-24 04:13] AB-san opened #406 "Bug in logarithm calculator"
## **Describe the bug**

After clicking in logarithm calculator , the nav bar isnt getting closed on its own while it gets closed on its own when we click on other other calculators

[2021-03-24 04:14] AB-san commented on #406
Please assign me this issue

[2021-03-24 04:22] RaveenaBhasin opened #407 "Adding trigonometric identities involving three angles"
I would like to add trigonometric identities involving three angle
Eg:sin(A+B+C) and many more.
Please assign this to me.

[2021-03-24 04:30] AB-san opened #408 "Bug in Rules for Roots of Quadratic Equation"
## **Describe the bug**

A html tag is visible which is </p>

## **Screenshots**

![image](https://user-images.githubusercontent.com/71064674/112255213-cba51780-8c87-11eb-9b94-b76363103d84.png)

[2021-03-24 04:31] AB-san commented on #408
Please assign me this issue

[2021-03-24 04:53] gritika18 commented on #90
@shrey27tri01 Any changes you want or anything else regarding the logo? Please let me know whether you are satisfied with the changes or not. I'll make a PR then. Thankyou

[2021-03-24 05:03] AB-san opened #409 "Bug in TSA of prism"
## **Describe the bug**

Now -> TSA= LSA+ Area of Base || but, it must be -> TSA=LSA+2x Area of Base

## **Possible solution**

Modify the formula

## **Screenshots**

![image](https://user-images.githubusercontent.com/71064674/112258275-3c4e3300-8c8c-11eb-9acd-81cb1b25f2bb.png)

[2021-03-24 05:08] bitaashna commented on #354
@sairish2001 I have created a PR #410 Please check it.

[2021-03-24 05:14] bitaashna opened #411 "Adding Trignometric Equation and it's General Solution"
In Trigonometry section,I would like to add a section for Trignometric Equation and it's General Solution in tabular format

[2021-03-24 05:14] bitaashna commented on #411
@sairish2001 I would like to work on this.Can you please assign it to me.

[2021-03-24 05:18] bitaashna opened #412 "Adding Domain and Range of Inverse Trignometric function"
In trigonometry section,I would like to add a section For Domain and range of inverse functions in table format

[2021-03-24 05:19] bitaashna commented on #412
@sairish2001 I would like to work on this.Can you please assign it to me.

[2021-03-24 05:25] AB-san opened #413 "Tsa, lsa of frustum of cone"
## **Describe the bug**

(In frustum of cone) Declare the variable "L" just the way it is declared for cone , just for better understanding of the formula

## **Screenshots**

![image](https://user-images.githubusercontent.com/71064674/112259898-10807c80-8c8f-11eb-9064-6cfb44137e17.png)

[2021-03-24 05:26] AB-san commented on #413
Assign me please

[2021-03-24 05:30] #355 closed

[2021-03-24 05:31] #392 closed

[2021-03-24 05:34] #354 closed

[2021-03-24 05:34] zhcet19 commented on #380
@sairish2001  someone has already added this feauter

[2021-03-24 05:37] zhcet19 commented on #380
@sairish2001 would you like to add some other feauter in this section

[2021-03-24 05:46] zhcet19 commented on #380
I issue about present division I found that when something is being divided by 0+0i the message should be could not divide by zero instead.I can rectify this issue

[2021-03-24 05:55] kanishka8276 opened #415 "Output of Decimal/Binary Converter"
## **Is your feature request related to a problem? Please describe.**

If we first perform a conversion and then remove the value to be converted it shows NaN and if we enter wrong values in Binary converter then Too it shows NaN

## **Describe the solution you'd like**

Adding conditions in the function so that if nothing is entered it should not show any output and if invalid binary number is en

[2021-03-24 06:05] kanishka8276 opened #416 "Bug in Play with equations"
## **Describe the bug**

If x doesn't have any coefficient then it shows \newline in red in the output.

![Screenshot (150)](https://user-images.githubusercontent.com/66053534/112263235-fd70ab00-8c94-11eb-8f92-b73bc740503a.png)
![Screenshot (151)](https://user-images.githubusercontent.com/66053534/112263239-fea1d800-8c94-11eb-9ab6-d5f25f584647.png)

Please assign this to me.

[2021-03-24 06:11] khareyash05 commented on #377
@sairish2001 Attached a PR Have a look!

[2021-03-24 06:20] madihamallick opened #418 "adding some more properties to determinants"
## **Is your feature request related to a problem? Please describe.**

- I would like some more properties to determinants section
![Capture](https://user-images.githubusercontent.com/70858557/112264476-f8acf680-8c96-11eb-9f58-a36a59a9470d.PNG)

## **Describe the solution you'd like**

- A clear and concise description of what you want to happen.

please assign this to me under GSSoC

[2021-03-24 06:22] rk05-lenavo commented on #352
I am a GSSoC'21 participant @sairish2001
Can you assign me this issue

[2021-03-24 06:35] AB-san commented on #409
please assign me for this issue

[2021-03-24 06:44] AB-san opened #421 "Add volume , LSA and TSA of frustum of pyramid and also for different types of prism and pyramid"
There are more than one type prism for ex- pentagonal prism
There are more than one type of pyramids also ex- square pyramid, pentagonal pyramid, etc
Theres one more solid called frustum of pyramid
I would like to add the volume, tsa,lsa of those 3d objects

[2021-03-24 06:44] AB-san commented on #421
Please assign me this issue

[2021-03-24 07:03] kanishka8276 opened #422 "Adding option to find natural logarithm."
The present log calculator finds log when the base is an integer. And natural logarithm is very commonly used so we can add option to calculate natural log in log calculator.
Please assign this to me.

[2021-03-24 07:09] kanishka8276 opened #423 "Bug in log calculator when base is <=0"
## **Describe the bug**

The base of log cannot be zero but if we enter 0 then it shows the output to be 0 instead of showing a warning. Also if a negative number is entered as a base it shows the warning enter an integer whereas a negative number is also a integer so it should show enter positive integer.

Please assign this to me.

![Screenshot (156)](https://user-images.githubusercontent.com/66

[2021-03-24 07:40] abhijeet141 commented on #327
By mistake i have deleted my files i will code it again and send you PR

[2021-03-24 07:57] madihamallick opened #425 "Adding Rhombus under Graphs and Shapes"
I would like to add Rhombus also in the calculator of shapes part. Please assign this to me under GSSoC.

![Capture](https://user-images.githubusercontent.com/70858557/112274427-7c211480-8ca4-11eb-802b-5172fd7fc0ab.PNG)

[2021-03-24 09:25] sairish2001 commented on #400
Go ahead
Deadline 29 March,2021 (11:59 PM IST)

[2021-03-24 09:26] sairish2001 commented on #402
Go ahead
Deadline 26 March,2021 (11:59 PM IST)

[2021-03-24 09:27] sairish2001 commented on #406
Go ahead
Deadline 26 March,2021 (11:59 PM IST)

[2021-03-24 09:28] sairish2001 commented on #407
Go ahead
Deadline 29 March,2021 (11:59 PM IST)

[2021-03-24 09:30] sairish2001 commented on #408
Go ahead
Deadline 26 March,2021 (11:59 PM IST)

[2021-03-24 09:31] sairish2001 commented on #409
Go ahead
Deadline 26 March,2021 (11:59 PM IST)

[2021-03-24 09:33] sairish2001 commented on #411
can you please elaborate this issue?

[2021-03-24 09:33] sairish2001 commented on #412
you mean to add Calculator?

[2021-03-24 09:35] sairish2001 commented on #413
Go ahead
Deadline 26 March,2021 (11:59 PM IST)

[2021-03-24 09:37] sairish2001 commented on #415
Go ahead
Deadline 27 March,2021 (11:59 PM IST)

[2021-03-24 09:40] sairish2001 commented on #418
Go ahead
Deadline 29 March,2021 (11:59 PM IST)

[2021-03-24 09:42] sairish2001 commented on #421
Go ahead
Deadline 29 March,2021 (11:59 PM IST)

[2021-03-24 09:43] sairish2001 commented on #422
I think this natural log is in the Calculator!

Have a look

[2021-03-24 09:45] sairish2001 commented on #423
Go ahead
Deadline 29 March,2021 (11:59 PM IST)

Also remove this alert popup as warning, try to show some text warning instead

[2021-03-24 09:45] sairish2001 commented on #425
Go ahead
Deadline 29 March,2021 (11:59 PM IST)

[2021-03-24 09:46] sairish2001 commented on #425
Will you apply Working to these input fields?

[2021-03-24 09:48] madihamallick commented on #425
Yes. I will

[2021-03-24 09:49] kanishka8276 commented on #422
Yes It is😅

[2021-03-24 09:50] #422 closed

[2021-03-24 09:52] #388 closed

[2021-03-24 09:55] #374 closed

[2021-03-24 09:56] #397 closed

[2021-03-24 09:57] #377 closed

[2021-03-24 09:59] #399 closed

[2021-03-24 09:59] #95 closed

[2021-03-24 10:18] khareyash05 commented on #423
@kanishka8276 also type the condition for the base cannot be equal to one

[2021-03-24 10:20] kanishka8276 commented on #423
Yes sure!

[2021-03-24 10:23] khareyash05 commented on #402
@sairish2001 Created a PR Have a look!

[2021-03-24 10:33] #402 closed

[2021-03-24 10:42] khareyash05 opened #429 "add location of roots and corresponding conditions"
Hi! I would like to add location of roots section under which i will state if lets say roots are +ve then what is the condition for equation or if both roots are equal but opposite in sign then what is the condition

[2021-03-24 10:44] khareyash05 opened #430 "add steps for curve tracing"
Hi! I would like to add steps for curve tracing of cartesian as well as polar curves

[2021-03-24 10:46] khareyash05 opened #431 "add different coordinates system"
Hi! I would like to add different coordinates systems such as polar coordinates,spherical coordinates and cylindrical coordinates

[2021-03-24 10:54] #343 closed

[2021-03-24 11:05] abhijeet141 opened #432 "To add more Formulae in the section Definite Integration Formulae as many formulae are missing"
Definite Integration Inequality formulae , one periodicity properties and few standard results are missing in the section Definite integration formulae.

[2021-03-24 11:05] abhijeet141 commented on #432
Hi, I want to work on this issue I will start working on it as soon as I get assigned!! I am a part of GSSoC'21.
Kindly assign this issue to me!
Discord Username : Abhijeet Sinha(P)
Discord Tag: #4018

[2021-03-24 11:09] bitaashna commented on #412
No.I mean to add their range and domain like
for sin inverse x domain is -1 to 1 and range - pie/2 to pie/2
and many more

[2021-03-24 11:13] bitaashna commented on #411
No, not a calculator,just adding formulae section:-
as given below
![Screenshot from 2021-03-24 16-40-41](https://user-images.githubusercontent.com/57864526/112301423-edba8c00-8cbf-11eb-908a-492c8eded487.png)

[2021-03-24 11:20] sairish2001 opened #433 "Note! Kindly Read before 1st April,2021"
After 1st April,2021 no issue would be assigned which is related with:
- Adding formulas

From 1st April,2021 only issues related to
- Bugs
- Addition of Calculators

will be accepted

[2021-03-24 11:20] #433 closed

[2021-03-24 11:22] bitaashna opened #434 "Adding Tetrahedron under Graphs and Shapes"
I would like to add regular tetrahedron in the calculator of shapes part.
It will be including :

- volume calculation,
- height calculation,
- circumradius calculation and
- height calculations

I will mention the formulae and along with them apply calculation part to it.

[2021-03-24 11:22] bitaashna commented on #434
@sairish2001 I would like to work on the above mentioned issue.
Please assign it to me.

[2021-03-24 11:24] abhijeet141 opened #435 "To add more Formulae in the section Indefinite Integration Formulae as many formulae are missing"
## **Describe the solution you'd like**
Some Fundamental integration formula and some standard formula and forms are missing

[2021-03-24 11:26] abhijeet141 commented on #435
Hi, I want to work on this issue I will start working on it as soon as I get assigned!! I am a part of GSSoC'21.
Kindly assign this issue to me!
Discord Username : Abhijeet Sinha(P)
Discord Tag: #4018

[2021-03-24 11:27] RaveenaBhasin commented on #411
@bitaashna I have already added this in the trigonometry section. You can try creating a calculator for that

[2021-03-24 11:35] bitaashna opened #436 "Adding calculator for Hemisphere,Hollow sphere and hollow cylinder in calculators for 3d shapes"
I would like to add three calculators:
1. hemisphere
2. hollow sphere
3. hollow cylinder

[2021-03-24 11:35] bitaashna commented on #436
@sairish2001 I would like to work on this.Please assign it to me.

[2021-03-24 11:40] abhijeet141 opened #437 "Bug in Calculator"
## **Describe the bug**

When you divide any number by 0 there is no result printed the expected output is Not Defined

## **Possible solution**

- Modify the js code for calculator

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/67696867/112304678-c5cd2780-8cc3-11eb-89e6-3ac1dfb4f127.png)

[2021-03-24 11:40] abhijeet141 commented on #437
Hi, I want to work on this issue I will start working on it as soon as I get assigned!! I am a part of GSSoC'21.
Kindly assign this issue to me!
Discord Username : Abhijeet Sinha(P)
Discord Tag: #4018

[2021-03-24 11:43] abhijeet141 opened #438 "To add Decimal / Hexadecimal converter"
## **Describe the solution you'd like**

- I want to add a convertor that will convert decimal to hexadecimal and vice versa.

[2021-03-24 11:44] AB-san opened #439 "To add Decimal/Octal Converter"
## **Is your feature request related to a problem? Please describe.**

no theres no problem

## **Describe the solution you'd like**

I want to add a converter that can directly convert Decimal to Octal Number system and vice versa

[2021-03-24 11:44] abhijeet141 commented on #438
Hi, I want to work on this issue I will start working on it as soon as I get assigned!! I am a part of GSSoC'21.
Kindly assign this issue to me!
Discord Username : Abhijeet Sinha(P)
Discord Tag: #4018

[2021-03-24 11:44] AB-san commented on #439
Please assign me this issue I will start working on it as soon as possible

[2021-03-24 11:45] madihamallick opened #440 "Adding Kite under Graphs and Shapes"
I would like to add **Kite** under Graphs and Shapes along with the working of input fields. Please assign this to me under GSSoC.

[2021-03-24 11:59] khareyash05 opened #441 "vector calculus theorems"
Hi! I would like to add 3 fundamental theorems of vector calculus which are Gauss Divergence Theorem,Stokes Theorem and Green's Theorem with proofs

[2021-03-24 12:26] bitaashna commented on #411
ok @RaveenaBhasin .

[2021-03-24 12:26] #411 closed

[2021-03-24 12:31] RaveenaBhasin opened #444 "Adding important results in trigonometry"
I would like to add some important trigonometry results
Eg: sinx sin(60-x)sin(60+x)=1\4sin3x and many more
Please assign me this issue

[2021-03-24 12:33] bitaashna opened #446 "r1 denotes radius of excircle (Bug in formula)"
## **Describe the bug**

r1 is the excircle not incircle

## **Possible solution**

replace excircle by incircle

## **Screenshots**

![Screenshot from 2021-03-24 18-00-09](https://user-images.githubusercontent.com/57864526/112311001-3592e080-8ccb-11eb-9514-7d8e78dd8e2c.png)

[2021-03-24 12:34] bitaashna commented on #446
I would like to correct it.Please assign it to me. @sairish2001

[2021-03-24 12:35] RaveenaBhasin opened #447 "Adding calculator for means"
I would like to add calculator for arithmetic , geometric and harmonic mean in the linear algebra section.
Please assign this issue to me.

[2021-03-24 12:44] bitaashna opened #448 "Adding Some more formulae in Solution of triangle section"
I would like to add some more formulae in Solution of triangle as many are missing:-
I would like to add following Formulae;-

-  radius of incircle
- length of angle bisector
- length of median
- length of altitude
- relation between length of three medians and three sides
- relation between area of inscribed and excribed circle
- relation between angles of a triangle and its incircle radii and c

[2021-03-24 12:45] bitaashna commented on #448
@sairish2001 I would like to work on this. can you please assign it to me.

[2021-03-24 14:49] shonali2600 opened #450 "Design a Header for the project with the name and logo of this project"
## **Is your feature request related to a problem? Please describe.**

No, it's not a problem just want to make it look good by adding a header section that contains the logo and name of the project.

## **Describe the solution you'd like**
I Will design the header part.

I'm a gssoc participant please assign this issue to me.

[2021-03-24 15:04] kanishka8276 opened #451 ""%" is not changing to "DEG" on clicking more"
## **Is your feature request related to a problem? Please describe.**
"More" in the calculator should change to "less" after More is clicked and other functions are displayed and more() function is called.

Please assign this to me.

![Screenshot (161)](https://user-images.githubusercontent.com/66053534/112332962-2ec29880-8ce0-11eb-8fe1-ec18fb48cb5b.png)

[2021-03-24 15:17] sairish2001 commented on #450
Actually it's a webapp, I would like it to look more like an app rather than website

[2021-03-24 15:22] kanishka8276 opened #452 "Suggestion for AP calculator."
In Arithmetic calculator Adding an option to get a AP instead of first term and common difference from the user and find it's sum and print it to the n terms  where user have to input n and the series.

Please assign this to me.

[2021-03-24 15:29] sairish2001 commented on #451
On clicking more % text should change to DEG
also on clicking more change it's text to less as you said

Logic for % to DEG is already implemented, there's a bug which is not changing it's innertext

[2021-03-24 15:29] sairish2001 commented on #451
Go ahead
Deadline 29 March,2021 (11:59 PM IST)

[2021-03-24 15:30] kanishka8276 opened #453 "Adding option to calculate inverse of square matrix."
Adding an option to calculate inverse of square matrix in single matrix calculator.
Please assign this to me.

[2021-03-24 16:33] asimaries commented on #351
![image](https://user-images.githubusercontent.com/75176367/112347230-b1515500-8cec-11eb-8757-da8c9a9c2d98.png)

check this https://github.com/asimaries/Awesome-JavaScript-Projects.github.io/blob/main/README.md
I will take reference from this repo

[2021-03-24 16:44] khareyash05 commented on #390
@sairish2001 Attached a PR Have a look!

[2021-03-24 17:04] #243 closed

[2021-03-24 17:06] #407 closed

[2021-03-24 17:09] #425 closed

[2021-03-24 17:10] #379 closed

[2021-03-24 17:14] #365 closed

[2021-03-24 17:15] #408 closed

[2021-03-24 17:17] #390 closed

[2021-03-24 17:22] #329 closed

[2021-03-24 17:32] khareyash05 opened #457 "to solve differential equations"
Hi! I would like to add steps to solve different types of differential equations

[2021-03-24 18:02] #423 closed

[2021-03-24 18:05] sairish2001 commented on #457
Go ahead!
Deadline 30 March,2021 (11:59 PM IST)

[2021-03-24 18:06] sairish2001 commented on #453
You will add just option?

[2021-03-24 18:09] kanishka8276 commented on #453
No, the associated functions also!

[2021-03-24 18:11] sairish2001 commented on #452
can you please elaborate a little bit?

[2021-03-24 18:14] kanishka8276 commented on #452
@sairish2001  I mean right now the user enters the common difference, first element and n.
I am suggesting that we can add another option to the AP calculator where user can enter an AP of 3 or more numbers and n then our function will find the common difference, the sum up to n numbers and also print the series till n.

[2021-03-24 18:15] sairish2001 commented on #453
Do show steps, if possible

[2021-03-24 18:16] sairish2001 commented on #453
Go ahead!
Deadline 30 March,2021 (11:59 PM IST)

[2021-03-24 18:17] sairish2001 commented on #452
Great!
Go ahead!
Deadline 30 March,2021 (11:59 PM IST)

[2021-03-24 18:18] #450 closed

[2021-03-24 18:18] sairish2001 commented on #448
Go ahead!
Deadline 30 March,2021 (11:59 PM IST)

[2021-03-24 18:19] sairish2001 commented on #447
Go ahead!
Deadline 30 March,2021 (11:59 PM IST)

[2021-03-24 18:20] sairish2001 commented on #446
Go ahead!
Deadline 27 March,2021 (11:59 PM IST)

[2021-03-24 18:21] sairish2001 commented on #444
Go ahead!
Deadline 27 March,2021 (11:59 PM IST)

[2021-03-24 18:21] sairish2001 commented on #441
Go ahead!
Deadline 30 March,2021 (11:59 PM IST)

[2021-03-24 18:22] sairish2001 commented on #440
I think kite and rhombus are similar?
and the issue for rhombus is already opened

[2021-03-24 18:23] sairish2001 commented on #439
Go ahead!
Deadline 30 March,2021 (11:59 PM IST)

[2021-03-24 18:24] sairish2001 commented on #439
Do implement in **Octal/ Binary converter** under **Binary Calculations** category.

[2021-03-24 18:25] sairish2001 commented on #438
Go ahead!
Deadline 30 March,2021 (11:59 PM IST)

[2021-03-24 18:25] sairish2001 commented on #438
Do implement in **Binary to Hexadecimal converter** under Binary Calculations

[2021-03-24 18:27] sairish2001 commented on #437
Actually I don't want such errors to come

[2021-03-24 18:27] #437 closed

[2021-03-24 18:28] sairish2001 commented on #436
Go ahead!
Deadline 30 March,2021 (11:59 PM IST)

[2021-03-24 18:28] madihamallick commented on #440
okay.

[2021-03-24 18:29] sairish2001 commented on #435
Go ahead!
Deadline 30 March,2021 (11:59 PM IST)

[2021-03-24 18:29] sairish2001 commented on #434
Go ahead!
Deadline 30 March,2021 (11:59 PM IST)

[2021-03-24 18:30] sairish2001 commented on #432
Go ahead!
Deadline 30 March,2021 (11:59 PM IST)

[2021-03-24 18:30] abhijeet141 commented on #437
Okk Sir

[2021-03-24 18:31] sairish2001 commented on #430
Go ahead!
Deadline 30 March,2021 (11:59 PM IST)

[2021-03-24 18:32] sairish2001 commented on #429
Can you please provide an example for it?

[2021-03-24 18:33] sairish2001 commented on #412
Go ahead!
Deadline 28 March,2021 (11:59 PM IST)

[2021-03-24 18:34] sairish2001 commented on #380
Go ahead

[2021-03-24 18:35] sairish2001 commented on #351
Great!
Go ahead

[2021-03-24 18:35] madihamallick commented on #440
I don't think they are similar. Rhombus is a parallelogram whereas Kite is a quadrilateral.  Also their perimeter and side formula's are different, so it would be better if I add this too.

[2021-03-24 18:38] sairish2001 commented on #440
Go ahead
Deadline 30 March,2021 (11:59 PM IST)

[2021-03-24 18:39] madihamallick commented on #440
Thank you.

[2021-03-24 20:17] asimaries commented on #351
I have complete the work should I remove the old readme content from here
![image](https://user-images.githubusercontent.com/75176367/112377508-da351280-8d0b-11eb-961f-670e92d1893b.png) or where should I add that

[2021-03-25 00:54] khareyash05 commented on #429
![Screenshot_2021-03-25-06-23-52-406_com.android.chrome.jpg](https://user-images.githubusercontent.com/60147732/112402533-b76a2480-8d32-11eb-806b-0ee2a25a94be.jpg)
@sairish2001 see this

[2021-03-25 04:43] #432 closed

[2021-03-25 04:46] khareyash05 commented on #430
@sairish2001 Attached a PR Have a look!

[2021-03-25 04:46] #430 closed

[2021-03-25 05:21] #383 closed

[2021-03-25 05:22] khareyash05 commented on #431
@sairish2001 Attached a PR Have a look!

[2021-03-25 05:22] #431 closed

[2021-03-25 05:23] madihamallick commented on #440
Please assign this to me, so that I can start working.

[2021-03-25 05:24] khareyash05 commented on #429
@sairish2001 Shall I work on it?

[2021-03-25 05:28] khareyash05 opened #464 "maxima minima of functions"
Hi! I would like to add steps for finding maxima and minima of functions

[2021-03-25 05:37] khareyash05 opened #465 "translation and rotation of functions"
I will add steps on when the function changes what should be the steps
ex - if f(x)-> f(-x) then how will the graph of function change
if f(x)->|f(x)| how will the graph change

[2021-03-25 05:38] khareyash05 opened #468 "Sets,Relations and Functions"
Hi! I would like to add about sets relations and functions their types and their differences with examples

[2021-03-25 05:54] RaveenaBhasin opened #470 "Adding images and more imp results in solution of triangle"
I would like to add images of incircle, ex-circle, pedal triangle etc. and would like to some important results in that particular section.
Please assign this issue to me.

[2021-03-25 05:56] arpit456jain opened #471 "Gssoc'21 Share to WhatsApp button is not working in Desktop version."
## **Describe the bug**

"share to WhatsApp" button is not working in Desktop version.
I am attaching a video for better understanding my issue.

https://user-images.githubusercontent.com/55352601/112425592-58210a00-8d5c-11eb-8cbe-501a35049e96.mp4

## **Possible solution**

The link in the a tag is wrong.
I had already fixed it.
After my changes the website will look like this.

https://user-image

[2021-03-25 05:56] arpit456jain commented on #471
Kindly assign me this issue

[2021-03-25 05:58] #409 closed

[2021-03-25 05:59] #444 closed

[2021-03-25 09:52] RaveenaBhasin opened #477 "Adding tangent and normal information"
I would like to all the properties of tangent and normal to a curve
Eg: length of tangent and normal, angle of intersection and some more points.
Please assign this issue to me.

[2021-03-25 10:16] khareyash05 commented on #441
@sairish2001 Created a PR Have a look!

[2021-03-25 11:18] zhcet19 opened #479 "Adding probability of a event calculator"
## **Is your feature request related to a problem? Please describe.**

I want to implement a calculator to find probability of a event by asking no of possible trials and actual trails

## **Describe the solution you'd like**

- A clear and concise description of what you want to happen.

[2021-03-25 11:55] #415 closed

[2021-03-25 13:06] #418 closed

[2021-03-25 13:06] #435 closed

[2021-03-25 13:07] #413 closed

[2021-03-25 13:08] #441 closed

[2021-03-25 13:08] #451 closed

[2021-03-25 13:39] kanishka8276 opened #482 "Multiplication in operations on fraction calculator not working."
## **Describe the bug**

- Multiplication Option in Operations on fraction is not working. When we click on multiply button nothing happens.

Please assign this to me.

[2021-03-25 13:42] kanishka8276 opened #483 "Bug in mixed to improper fraction calculator"
## **Describe the bug**

Wrong formula for mixed to improper fraction is implemented.

## **Possible solution**

- Implement the correct formula.

## **Screenshots**

![Screenshot (172)](https://user-images.githubusercontent.com/66053534/112482541-2df03c00-8d9e-11eb-9a2d-edf581cbc170.png)

Please assign this to me.

[2021-03-25 13:57] kanishka8276 opened #484 "Adding calculator to find 1's and 2's complement of binary number."
Adding calculator to find 1's and 2's complement of binary number under binary calculations.
Please assign this to me.

[2021-03-25 15:12] AB-san opened #485 "Missing property in congruency of triangles"
## **Is your feature request related to a problem? Please describe.**

AAS Property - Angle-Angle-Side property is missing in  congruency of triangles

[2021-03-25 15:12] AB-san commented on #485
Please assign me this issue

[2021-03-25 15:16] AB-san opened #486 "Missing Pictorial reference for similarity of triangles"
## **Is your feature request related to a problem? Please describe.**

I would like to add pictorial reference for better understanding of similarity of triangles just the way it is there for congruency.

[2021-03-25 15:16] AB-san commented on #486
Please assign me this issue

[2021-03-25 15:19] satyampgt4 opened #487 "bcd covertor"
## Proposal
add binary to bcd convertor
(A clear and concise description of what the proposal is.)

[2021-03-25 15:19] satyampgt4 commented on #487
i would like to work on it under gssoc21

[2021-03-25 15:26] satyampgt4 opened #488 "polar representation"
## Proposal

add polar representation of complex number

(A clear and concise description of what the proposal is.)

[2021-03-25 15:26] satyampgt4 commented on #488
i would like to work on it under gssoc21

[2021-03-25 15:35] #303 closed

[2021-03-25 16:01] arpit456jain commented on #471
@janvi01 @AishwaryaKaranth @Karthik-Nayak98  Please assign me this issue if possible

[2021-03-25 16:17] Karthik-Nayak98 commented on #471
I am not the maintainer @arpit456jain. He is the maintainer@sairish2001.

[2021-03-25 16:19] arpit456jain commented on #471
ok @Karthik-Nayak98 sir .
@sairish2001 sir please assign me this issue.

[2021-03-25 16:50] khareyash05 commented on #429
@sairish2001 Shall I work on it?

[2021-03-25 17:23] SarthakKeshari opened #491 "Shape Cal working for negative values"
## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-03-25 17:25] #491 closed

[2021-03-25 17:54] sairish2001 commented on #257
Deadline extended 27 March,2021 (11:59 PM IST)

[2021-03-25 18:28] SarthakKeshari opened #494 "Rectifying the shape calculator working over negative values"
## **Describe the bug**

- Showing a prompt if user enter negative value for shape calculator

## **Possible solution**

- Rectifying the if else

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![Rectified negative values](https://user-images.githubusercontent.com/55992140/112524364-bd5d1580-8dc5-11eb-8c65-ad8a86d24f71.PNG)

Please assign this to me @sairish2001

[2021-03-25 18:28] SarthakKeshari commented on #494
Please assign this to me @sairish2001

[2021-03-25 18:53] #367 closed

[2021-03-25 19:00] #494 closed

[2021-03-25 19:04] sairish2001 commented on #464
Go ahead
Deadline 31 March,2021 (11:59 PM IST)

[2021-03-25 19:05] sairish2001 commented on #465
Go ahead
Deadline 31 March,2021 (11:59 PM IST)

[2021-03-25 19:06] sairish2001 commented on #468
Go ahead
Deadline 31 March,2021 (11:59 PM IST)

[2021-03-25 19:06] sairish2001 commented on #470
Go ahead
Deadline 31 March,2021 (11:59 PM IST)

[2021-03-25 19:10] sairish2001 commented on #477
Go ahead
Deadline 31 March,2021 (11:59 PM IST)

[2021-03-25 19:20] sairish2001 commented on #351
Remove it

[2021-03-25 19:21] sairish2001 commented on #429
Go ahead
Deadline 31 March,2021 (11:59 PM IST)

[2021-03-25 19:26] sairish2001 commented on #479
Do show steps for it

Go ahead
Deadline 31 March,2021 (11:59 PM IST)

[2021-03-25 19:27] sairish2001 commented on #482
Go ahead
Deadline 31 March,2021 (11:59 PM IST)

[2021-03-25 19:28] sairish2001 commented on #483
Go ahead
Deadline 31 March,2021 (11:59 PM IST)

[2021-03-25 19:28] sairish2001 commented on #484
Go ahead
Deadline 31 March,2021 (11:59 PM IST)

[2021-03-25 19:29] sairish2001 commented on #485
Go ahead
Deadline 31 March,2021 (11:59 PM IST)

[2021-03-25 19:29] sairish2001 commented on #486
Go ahead
Deadline 31 March,2021 (11:59 PM IST)

[2021-03-25 19:30] sairish2001 commented on #487
Go ahead
Deadline 31 March,2021 (11:59 PM IST)

[2021-03-25 19:30] sairish2001 commented on #488
Go ahead
Deadline 31 March,2021 (11:59 PM IST)

[2021-03-25 23:16] SarthakKeshari opened #495 "Presentation Enhancement"
## **Is your feature request related to a problem? Please describe.**

- I feel the correct way of presentation is also one of the good way to attract users. I arithmetic progression series shows extra comma(,) after the series or NaN

## **Describe the solution you'd like**

- I want to remove that extra comma using string handling.
![Presentation Improvement](https://user-images.githubuserconten

[2021-03-25 23:18] SarthakKeshari commented on #495
Kindly assign this to me @sairish2001

[2021-03-26 02:37] SarthakKeshari opened #497 "Adding calculator to conic section"
## **Is your feature request related to a problem? Please describe.**

- My feature is to add a calculator to the conic section part of the website. Since it only contains a table for user to understand parabola, hyperbola and eclipse(there is also spelling error in website).

## **Describe the solution you'd like**

- I want to add a reliable calculator for the advantage of the user in order to c

[2021-03-26 02:38] SarthakKeshari commented on #497
Kindly assign this to me @sairish2001

[2021-03-26 03:56] #457 closed

[2021-03-26 03:58] sairish2001 commented on #495
Go ahead
Go ahead
Deadline 30 March,2021 (11:59 PM IST)

[2021-03-26 04:00] sairish2001 commented on #497
Can you show steps for it?

Go ahead
Deadline 31 March,2021 (11:59 PM IST)

[2021-03-26 04:45] SarthakKeshari commented on #495
I assure you to abide by the code of conduct and complete the task before deadline

[2021-03-26 04:48] SarthakKeshari commented on #497
I will go through the concept of conic section and will get back to you regarding the steps

[2021-03-26 05:14] RaveenaBhasin opened #500 "Adding different properties\theorems for laplace transformations"
I would like to add theorems used in laplace transformations
Eg: first shifting theorem, second shifting theorem, multiplication theorem and many more .
Please assign this issue to me.

[2021-03-26 05:43] #483 closed

[2021-03-26 05:43] #482 closed

[2021-03-26 05:45] #495 closed

[2021-03-26 05:45] #421 closed

[2021-03-26 05:47] sairish2001 commented on #500
Go ahead
Deadline 31 March,2021 (11:59 PM IST)

[2021-03-26 06:35] satyampgt4 commented on #488
while solving angle i am getting my angle in decimal how can i get it in fraction

[2021-03-26 06:57] #487 closed

[2021-03-26 06:58] #477 closed

[2021-03-26 07:02] sairish2001 commented on #488
user nerdamer.evaluate, you can find this in appjs/simplecallogic.js

by evaluating using nerdamer you will get answer in fractions

[2021-03-26 07:55] SarthakKeshari opened #505 "Function calling issue in Log Calculator"
## **Describe the bug**

- When in log calculator once a negative value is passed to the function it does not respond further for correct values

## **Possible solution**

- Altering the required function

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
-
![Log Cal_error](https://user-images.githubusercontent.com/55992140/112600032-aacef480-8e36-11eb-8d62-75def1f

[2021-03-26 07:55] SarthakKeshari commented on #505
Kindly assign this to me @sairish2001

[2021-03-26 08:53] anjali7786 commented on #4
Hii sir, please tell me whether I need to show the inverse of the matrix or steps too?

[2021-03-26 09:31] #470 closed

[2021-03-26 09:31] #488 closed

[2021-03-26 12:29] janvi01 commented on #158
I would like to add calculation for trapezium, parallelogram and fix bug in ellipse .
@sairish2001
should I create new issue?

[2021-03-26 12:52] arpit456jain commented on #471
@sairish2001 sir please assign me this issue.

[2021-03-26 13:01] #479 closed

[2021-03-26 13:39] zhcet19 opened #509 "Adding joint probability of independent and mutually exclusive events in probability section"
## **Is your feature request related to a problem? Please describe.**

I want to add joint probability( events A and B occur on a single performance of an experiment, )
## **Describe the solution you'd like**

- A clear and concise description of what you want to happen.

[2021-03-26 13:56] Upasana1216 commented on #3
Sir, Do I need to improve more?

[2021-03-26 14:05] Kriti7744 opened #510 "Adding Time and Work problems."
I want to include a section of Time and Work problems in the general maths section as they are an essential part of any major competitive exam and will be highly beneficial for the visitors.

[2021-03-26 14:07] Kriti7744 commented on #510
Please assign me to work on this

[2021-03-26 15:19] madihamallick opened #512 "Isosceles triangle working of input field"
## **Describe the bug**

- Though there is function for working of input fields for isosceles triangle it is not working. I would like to fix this. Kindly assign this to me under GSSoC.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

![Capture](https://user-images.githubusercontent.com/70858557/112653641-a3c6d700-8e74-11eb-929f-0796ff4412f6.PNG)

[2021-03-26 17:36] SarthakKeshari opened #515 "Trignometry missing the sin x,cos x,etc. calculator"
## **Is your feature request related to a problem? Please describe.**

- There should be a calculator to address users trignometric calculations

## **Describe the solution you'd like**

- Add the required calculators to work on radiians and degrees

[2021-03-26 17:37] SarthakKeshari commented on #515
Kindly assign this issue to me

[2021-03-26 17:40] #400 closed

[2021-03-26 17:46] #406 closed

[2021-03-26 17:51] #440 closed

[2021-03-26 17:58] sairish2001 opened #516 "Favourite section is default open, hide it"
Favourite section is default open. Hide it

## Solution
Try `class="collapse"`

[2021-03-26 18:17] SarthakKeshari commented on #516
Kindly assign this issue to me @sairish2001

[2021-03-26 18:27] sairish2001 commented on #516
Go ahead
Deadline 29 March,2021 (11:59 PM IST)

[2021-03-26 18:29] sairish2001 commented on #515
These trigonometry calculations are already implemented in the calculator

[2021-03-26 18:31] sairish2001 commented on #515
![image](https://user-images.githubusercontent.com/60106112/112677253-80f5ec00-8e8f-11eb-95b5-faae31dd45ce.png)

[2021-03-26 18:37] #515 closed

[2021-03-26 18:39] sairish2001 commented on #512
Go ahead
Deadline 31 March,2021 (11:59 PM IST)

[2021-03-26 18:41] sairish2001 commented on #510
Can you please show me an example for it?

[2021-03-26 18:42] sairish2001 commented on #509
Go ahead
Deadline 31 March,2021 (11:59 PM IST)

[2021-03-26 18:43] sairish2001 commented on #505
Go ahead
Deadline 31 March,2021 (11:59 PM IST)

[2021-03-26 18:45] sairish2001 commented on #471
@arpit456jain It is working fine, I just checked.
Maybe you denied some permissions in your browser

[2021-03-26 18:45] #471 closed

[2021-03-26 19:17] anjali494 opened #521 "Adding circles to conic sections"
## Proposal

(A clear and concise description of what the proposal is.)

I would like to add circles under conic sections. I will make similar tables giving different equations of circles and their corresponding equations for tangents and normals.

I am a GSSOC'21 participant and would like to work on this issue.

[2021-03-26 19:18] AB-san opened #522 "To add BCD addition feature"
## **Is your feature request related to a problem? Please describe.**

I would like to add a feature to implement BCD addition between 2 inputs

[2021-03-26 19:18] AB-san commented on #522
Please assign me this issue

[2021-03-26 19:20] satyampgt4 opened #523 "10-excess-3 binary code"
## Proposal
excess-3 code calculator
(A clear and concise description of what the proposal is.)

[2021-03-26 19:20] satyampgt4 commented on #523
Go ahead
Deadline 31 March,2021 (11:59 PM IST)

[2021-03-26 19:21] satyampgt4 commented on #523
i would like to work on it

[2021-03-26 19:23] SarthakKeshari opened #524 "Trignometry section missing calculator"
## **Is your feature request related to a problem? Please describe.**

- Trignometry section missing the sin x,cos x,etc. calculator

## **Describe the solution you'd like**

- A calculator for providing instant calculated value for angle in radians and degrees. This can be achieved by using Math functions in js

[2021-03-26 19:24] SarthakKeshari commented on #524
Kindly assign this issue to me @sairish2001

[2021-03-26 19:24] AB-san opened #525 "To add feature to convert BCD to decimal"
## **Is your feature request related to a problem? Please describe.**

I would like to add a converter to convert BCD input to Decimal

[2021-03-26 19:25] AB-san commented on #525
Please assign me this issue

[2021-03-26 19:28] abhijeet141 opened #526 "Its mentioned in BCD that it is converting Binary to BCD but there is typing error it should be Decimal to BCD"
## **Describe the bug**

Its mentioned in BCD that it is converting Binary to BCD but there is typing error it should be Decimal to BCD

## **Possible solution**

- only to replace binary with decimal

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/67696867/112683387-7b040900-8e97-11eb-860b-61f18dc371a6.png)

[2021-03-26 19:37] SarthakKeshari opened #527 "Enhancing presentation of GP Sum"
GP after taking required input from the user does't show the series its working on. So proper presentation is needed similar to that of AP series.

AP Sum Presentation
![AP Sum Presentation](https://user-images.githubusercontent.com/55992140/112684269-c79c1400-8e98-11eb-85c6-7782c5298233.PNG)

GP Sum Presentation
![Attention - GP Sum Presentation](https://user-images.githubusercontent.com/55992140

[2021-03-26 19:38] SarthakKeshari commented on #527
Kindly assign this issue to me @sairish2001

[2021-03-26 19:51] AB-san opened #528 "To add a calculator to find 9's and 10's compliment"
## **Is your feature request related to a problem? Please describe.**

Adding calculator to find 9's and 10's complement of binary number under binary calculations.

[2021-03-26 19:51] AB-san commented on #528
Please assign me this issue

[2021-03-26 19:54] AB-san opened #529 "Bug in matrix under Linear algebra"
## **Describe the bug**

Theres no change when we click on Matrix button under Linear Algebra  in nav bar

[2021-03-26 19:54] AB-san commented on #529
Please assign me this issue

[2021-03-26 19:58] AB-san opened #530 "Bug in Properties of Matrices and Determinant under Linear Algebra"
## **Describe the bug**

Nothing is reflected when we click on Propertiese of Matrices and Determinant button under Linear Algebra in the side nav bar

[2021-03-26 19:58] AB-san commented on #530
Please assign me this issue

[2021-03-26 20:03] #530 closed

[2021-03-26 20:03] abhijeet141 opened #531 "Bug in Properties of Matrices and Determinant under Linear Algebra"
## **Describe the bug**

- Nothing is shown when we click on properties of matrices and determinant

]

[2021-03-26 20:04] abhijeet141 commented on #531
Hi, I want to work on this issue I will start working on it as soon as I get assigned!! I am a part of GSSoC'21.
Kindly assign this issue to me!
Discord Username : Abhijeet Sinha(P)
Discord Tag: #4018

[2021-03-26 20:12] SarthakKeshari opened #533 "Plot angle to be rectified"
## **Describe the bug**

- The angle plot section displays same kind of output on entering 90 and -270. Hence angle direction is disobeyed.

## **Possible solution**

- Solution to it is to rectify the mathematics involved in display function

## **Screenshots**

- Erroneous screenshot
![Attention - Error in ploting](https://user-images.githubusercontent.com/55992140/112687404-74789000-8e9d-11eb-9

[2021-03-26 20:13] SarthakKeshari commented on #533
Kindly assign this issue to me @sairish2001

[2021-03-26 20:27] #529 closed

[2021-03-26 20:29] #531 closed

[2021-03-26 20:42] AB-san opened #535 "To add properties of Binomial Theorem"
## **Is your feature request related to a problem? Please describe.**
No problem but
I would just like to add some useful expansions of binomial theorem and also Properties of Binomial Coefficients, under your desired section.

[2021-03-26 20:42] AB-san commented on #535
Please assign me this issue

[2021-03-26 20:43] abhijeet141 opened #536 "To add properties of Probability"
## **Describe the solution you'd like**

-I would like to add properties of probability under different section which will display all the properties

[2021-03-26 20:43] abhijeet141 commented on #536
Hi, I want to work on this issue I will start working on it as soon as I get assigned!! I am a part of GSSoC'21.
Kindly assign this issue to me!
Discord Username : Abhijeet Sinha(P)
Discord Tag: #4018

[2021-03-26 20:55] abhijeet141 commented on #526
Hi, I want to work on this issue I will start working on it as soon as I get assigned!! I am a part of GSSoC'21.
Kindly assign this issue to me!
Discord Username : Abhijeet Sinha(P)
Discord Tag: #4018

[2021-03-26 20:57] SarthakKeshari opened #537 "Simple Probability calculator wrong answer"
## **Describe the bug**

- Simple probability calculator produces incorrect results. Eg - It work even for No. favourable outcomes > Total no. of outcomes

## **Possible solution**

- Rectifying the mathematical calculation and putting a check over incorrect inputs

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![Attention - Probability wrong output](https://us

[2021-03-26 20:58] SarthakKeshari commented on #537
Kindly assign this issue to me @sairish2001

[2021-03-26 21:50] abhijeet141 opened #538 "To add Hexadecimal/Octal Converter"
## **Describe the solution you'd like**

I would like to add a converter that can directly convert Hexadecimal to Octal Number system and vice versa.

[2021-03-26 21:50] abhijeet141 commented on #538
Hi, I want to work on this issue I will start working on it as soon as I get assigned!! I am a part of GSSoC'21.
Kindly assign this issue to me!
Discord Username : Abhijeet Sinha(P)
Discord Tag: #4018

[2021-03-27 05:38] #505 closed

[2021-03-27 05:40] #158 closed

[2021-03-27 05:41] #516 closed

[2021-03-27 05:44] #351 closed

[2021-03-27 05:47] #446 closed

[2021-03-27 05:49] SarthakKeshari commented on #515
Ok sir

[2021-03-27 05:50] SarthakKeshari commented on #515
Sir will the calculator handle both radians and degree ?

[2021-03-27 05:56] SarthakKeshari commented on #524
I have raised to issue to address angles both in radians and degree

[2021-03-27 05:58] madihamallick opened #541 "Right-angle triangle working of input field"
## **Describe the bug**

Though there is function for working of input fields for right angle triangle it is not working. I would like to fix this. Kindly assign this to me under GSSoC.

## **Possible solution**

- Describe the solution you thought of.

![bug](https://user-images.githubusercontent.com/70858557/112711571-65223280-8eef-11eb-90b6-36d5ff2e2c64.PNG)

- If applicable, add screenshots to

[2021-03-27 06:04] Nishayadav-bit commented on #4
Hey @sairish2001 , I would like to work on this issue under Gssoc'21 participant , Please assign to me .

[2021-03-27 06:10] madihamallick opened #542 "adding working of input fields in parallelogram"
There is no function for the calculation of working of input fields for parallelogram under Graphs and Shapes section. I would like to add that, kindly assign this to me under GSSoC.
![bug1](https://user-images.githubusercontent.com/70858557/112711802-242b1d80-8ef1-11eb-922b-8689f3c504d6.PNG)

[2021-03-27 06:13] madihamallick opened #543 "Bug in Rhombus part under Graphs and Shapes"
## **Describe the bug**

The Area of circle is being displayed under Rhombus section. I would like to remove that. Kindly assign this to me under GSSoC.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

![bug2](https://user-images.githubusercontent.com/70858557/112711857-9439a380-8ef1-11eb-834c-88dcac255ff5.PNG)

[2021-03-27 08:52] kanishka8276 opened #546 "Bug in arithmetic mean in the mean calculator."
## **Describe the bug**
Arithmetic mean in the mean calculator is rounding off the mean. If the mean is 2.5 it displays 2.

Please assign this to me.

[2021-03-27 08:57] kanishka8276 opened #547 "In SPI/CGPA converter."
Rules is displayed like a button with hover effect but it's a heading in SPI/CGPA converter. User may try clicking it many times but wouldn't get any other output.

![Screenshot (176)](https://user-images.githubusercontent.com/66053534/112715889-1d100980-8f09-11eb-8f92-90993d088610.png)

Please assign this to me.

[2021-03-27 09:00] kanishka8276 opened #548 "Adding functionality to SPI/CGPA converter."
The SPI/CGPA converter contains just the rules.
I would like to add functionality to convert SPI to CGPA and vice versa.
Please assign this to me.

[2021-03-27 09:05] kanishka8276 opened #549 "Bug in ascending/descending order."
If a floating number is entered in the set then it shows wrong output. But it should work fine for all numbers , integers and decimals both.
![Screenshot (177)](https://user-images.githubusercontent.com/66053534/112715999-cf47d100-8f09-11eb-9fb7-21117c13d7db.png)
![Screenshot (178)](https://user-images.githubusercontent.com/66053534/112716002-d1119480-8f09-11eb-98c7-88e9701efa15.png)

Please assig

[2021-03-27 09:58] kanishka8276 opened #552 "Bug in polar representation of complex number."
In polar representation the magnitude is multiplied with both cosine and sine terms. But in the output the magnitude is multiplied only with the cosine term.

Please assign this to me.

![Screenshot (179)](https://user-images.githubusercontent.com/66053534/112717242-551b4a80-8f11-11eb-817f-287ae0ea921c.png)

[2021-03-27 12:29] khareyash05 commented on #464
@sairish2001 Atached a PR HAve a look!

[2021-03-27 14:18] khareyash05 opened #556 "add operations on sets"
I will like to add union,intersection,cartesian product on sets also A-B ,B-A. I will add them with pictures telling about the specific operation

[2021-03-27 14:53] khareyash05 opened #558 "Link not working"
@sairish2001 This is just for your information that the github pages link to this repo is not working

[2021-03-27 15:50] #509 closed

[2021-03-27 15:51] #412 closed

[2021-03-27 15:52] #485 closed

[2021-03-27 15:54] #448 closed

[2021-03-27 15:55] #464 closed

[2021-03-27 15:56] #484 closed

[2021-03-27 15:59] sairish2001 commented on #521
Go ahead
Deadline 1 April,2021 (11:59 PM IST)

[2021-03-27 16:00] sairish2001 commented on #522
Go ahead
Deadline 1 April,2021 (11:59 PM IST)

[2021-03-27 16:00] sairish2001 commented on #523
Go ahead
Deadline 1 April,2021 (11:59 PM IST)

[2021-03-27 16:01] sairish2001 commented on #524
This is already implemented in Calculator.
it gives output for both radians and degrees

[2021-03-27 16:01] #524 closed

[2021-03-27 16:02] sairish2001 commented on #525
Go ahead
Deadline 1 April,2021 (11:59 PM IST)

[2021-03-27 16:05] sairish2001 commented on #526
Go ahead
Deadline 30 April,2021 (11:59 PM IST)

[2021-03-27 16:06] sairish2001 commented on #527
Go ahead
Deadline 1 April,2021 (11:59 PM IST)

[2021-03-27 16:06] sairish2001 commented on #528
Go ahead
Deadline 1 April,2021 (11:59 PM IST)

[2021-03-27 16:07] sairish2001 commented on #533
Go ahead
Deadline 1 April,2021 (11:59 PM IST)

[2021-03-27 16:08] sairish2001 commented on #535
Go ahead
Deadline 1 April,2021 (11:59 PM IST)

[2021-03-27 16:08] sairish2001 commented on #536
Go ahead
Deadline 1 April,2021 (11:59 PM IST)

[2021-03-27 16:09] sairish2001 commented on #537
Go ahead
Deadline 1 April,2021 (11:59 PM IST)

[2021-03-27 16:09] sairish2001 commented on #538
Go ahead
Deadline 1 April,2021 (11:59 PM IST)

[2021-03-27 16:10] sairish2001 commented on #541
Go ahead
Deadline 1 April,2021 (11:59 PM IST)

[2021-03-27 16:10] sairish2001 commented on #542
Go ahead
Deadline 1 April,2021 (11:59 PM IST)

[2021-03-27 16:11] sairish2001 commented on #543
Go ahead
Deadline 30 March,2021 (11:59 PM IST)

[2021-03-27 16:12] sairish2001 commented on #546
Go ahead
Deadline 1 April,2021 (11:59 PM IST)

[2021-03-27 16:14] sairish2001 commented on #547
Go ahead
Deadline 1
30 March,2021 (11:59 PM IST)

[2021-03-27 16:15] sairish2001 commented on #548
Functionality is already implemented

[2021-03-27 16:16] sairish2001 commented on #549
Go ahead
Deadline 1 April,2021 (11:59 PM IST)

[2021-03-27 16:17] sairish2001 commented on #552
Go ahead
Deadline 1 April,2021 (11:59 PM IST)

[2021-03-27 16:18] sairish2001 commented on #556
Go ahead
Deadline 1 April,2021 (11:59 PM IST)

[2021-03-27 16:18] sairish2001 commented on #558
Thanks for pointing out

[2021-03-27 16:18] #558 closed

[2021-03-27 16:26] #548 closed

[2021-03-27 16:39] kanishka8276 opened #562 "Changing UI of SPI/CGPA calculator."
## **Is your feature request related to a problem? Please describe.**
The UI of SPI/CGPA calculator is not user friendly. It tough for a user to think that after clicking on the text SPI/CGPA a dialogue box will open as it doesn't look like a link and it's not easily understood.

## **Describe the solution you'd like**
Instead of using a dialogue box we can show the option to convert from SPI to C

[2021-03-27 16:44] khareyash05 opened #563 "title of webpage"
title of the webpage is something else i would like to revert back it to makesmatheasy
It shows joint probability

[2021-03-27 16:44] kanishka8276 opened #564 "Bug in title of the page."
The title of the page  is showing the code for joint probability also.

Please assign this to me.

[2021-03-27 16:45] khareyash05 commented on #564
@kanishka8276 Sorry but I already opened the issue before. Kindly close this issue

[2021-03-27 16:46] kanishka8276 commented on #564
Yeah sure! Actually we both opened it within few seconds.

[2021-03-27 16:46] #564 closed

[2021-03-27 16:47] khareyash05 commented on #564
@kanishka8276 Yeah just a matter of few seconds. Thanx

[2021-03-27 16:52] kanishka8276 opened #565 "Adding Euler representation of complex number."
I would like to add Euler representation of complex number in complex number calculator.
Please assign this to me.

[2021-03-27 16:58] bitaashna opened #567 "Wrongly Wriiten formula of CSA and TSA of hollow sphere"
I would like to correct the formula.It should not be Internal surface area or external surface area,
In that column corresponding formula for CSA and TSA shoul be written
![Screenshot from 2021-03-27 22-26-02](https://user-images.githubusercontent.com/57864526/112728133-b4964c00-8f4b-11eb-8a72-3c43a5da3ecb.png)

[2021-03-27 16:58] bitaashna commented on #567
@sairish2001 Please assign it to me.I would like to work on it

[2021-03-27 17:00] sairish2001 commented on #567
Go ahead
Deadline 30 March,2021 (11:59 PM IST)

[2021-03-27 17:06] SarthakKeshari opened #569 "Title tag misplacement"
## **Describe the bug**

- Open and close <title> tag can be observed misplaced

## **Possible solution**

- Making the required changes in the doc to setup the code properly

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![WhatsApp Image 2021-03-27 at 10 32 43 PM](https://user-images.githubusercontent.com/55992140/112728343-ce845e80-8f4c-11eb-8363-0f98ab5ea010

[2021-03-27 17:06] SarthakKeshari commented on #569
Kindly assign this task to me @sairish2001

[2021-03-27 17:14] bitaashna opened #571 "Adding straight line section to graphs and shapes with some properties and formulae"
I would like to add Staight line section in graphs and shapes section.
I would like to add following:

- Centroid of staright lines with given coordinates
- position of circumcentre
- position of orthocentre
- angle between two lines
- area of triangle formed by 3 straight lines
- parametric equation of straight line
- length of perpendicular
- foot of perpendicular
- image of a point with respect

[2021-03-27 17:14] bitaashna commented on #571
@sairish2001 I would like to work on it.PLease assign it to me.

[2021-03-27 17:21] khareyash05 commented on #429
@sairish2001 Created a PR Have a look!

[2021-03-27 17:22] khareyash05 commented on #569
@SarthakKeshari I have already created the issue #563
Kindly close the issue

[2021-03-27 17:22] #552 closed

[2021-03-27 17:23] #533 closed

[2021-03-27 17:24] #546 closed

[2021-03-27 17:25] SarthakKeshari opened #573 "Serious changes to whole Probability section"
## **Describe the bug**

- Since new changes have been made to probability section. Initially it was simple probabilty now it has two subheads namely
   1) Empirical Probability
   2) Joint Probabilty
   But they are generating very wrong results.
Few examples are -
a) Showing probability greater than 1(which is mathematically impossible)
b) Showing favourable outcomes > total no. of outcomes even

[2021-03-27 17:25] #429 closed

[2021-03-27 17:25] bitaashna opened #574 "Adding Mathematical reasoning section under General Maths section"
I would like Add Mathematical reasoning section under  General Maths section which will include:

- Table for basic logical connections
- Tautology and Contradiction
- converse
- Contrapositive
- negation
- Some other important formulae

[2021-03-27 17:26] bitaashna commented on #574
@sairish2001 Please assign it to me.

[2021-03-27 17:26] anjali7786 commented on #4
Hi sir, I am working on the issue but I want more time to complete it.Kindly extend the deadline.

[2021-03-27 17:26] SarthakKeshari commented on #569
@sairish2001 I am closing this issue since its already been described by @khareyash05 .
Thankyou @khareyash05 for the information

[2021-03-27 17:26] #569 closed

[2021-03-27 17:27] #549 closed

[2021-03-27 17:28] SarthakKeshari commented on #573
Kindly assign this issue to me @sairish2001

[2021-03-27 17:29] #547 closed

[2021-03-27 17:30] #434 closed

[2021-03-27 17:31] #468 closed

[2021-03-27 17:34] bitaashna opened #576 "Adding exact form formulae for differential equation"
I would like to add formulae  for  exact form in Differntial equations section

[2021-03-27 17:34] bitaashna commented on #576
@sairish2001 PLease assignn it to me

[2021-03-27 17:34] sairish2001 commented on #562
Go ahead
Deadline 1 April,2021 (11:59 PM IST)

[2021-03-27 17:36] sairish2001 commented on #563
Go ahead
Deadline 30 March,2021 (11:59 PM IST)

[2021-03-27 17:38] bitaashna opened #577 "Convergence and divergence Wrongly placed"
I think this section should be included in calculus section rather than Linear algebra

[2021-03-27 17:38] sairish2001 commented on #565
Go ahead
Deadline 1 April,2021 (11:59 PM IST)

[2021-03-27 17:38] bitaashna commented on #577
@sairish2001 PLease assign me this issue

[2021-03-27 17:39] sairish2001 commented on #571
Go ahead
Deadline 1 April,2021 (11:59 PM IST)

[2021-03-27 17:39] sairish2001 commented on #573
Go ahead
Deadline 1 April,2021 (11:59 PM IST)

[2021-03-27 17:40] sairish2001 commented on #574
Go ahead
Deadline 1 April,2021 (11:59 PM IST)

[2021-03-27 17:40] sairish2001 commented on #576
Go ahead
Deadline 1 April,2021 (11:59 PM IST)

[2021-03-27 17:41] sairish2001 commented on #577
Go ahead
Deadline 1 April,2021 (11:59 PM IST)

[2021-03-27 17:41] sairish2001 commented on #577
Go ahead
Deadline 30 March,2021 (11:59 PM IST)

[2021-03-27 17:44] khareyash05 opened #580 "Sets relations and functions"
Hi! I would like to add sets relations and functions I opened it before but i think bymistakenly u closed it
I have created the PR

[2021-03-27 17:49] satcasm opened #581 "Calculators section in readme is not updated"
I noticed that the description under the calculators section in the readme is not up to date.
Would like to update it under GSSOC' 21.
Thanks!

[2021-03-27 17:55] khareyash05 opened #583 "boolean algebra rules"
Hi! Would you like to add boolean algebra rules and identities and laws?

[2021-03-27 18:05] khareyash05 commented on #563
@sairish2001 Attached a PR Have a look!

[2021-03-27 18:28] #563 closed

[2021-03-27 18:35] #537 closed

[2021-03-27 18:42] abhijeet141 opened #585 "Some buttons are not working"
## **Describe the bug**

AP GP mean calculator buttons not working

[2021-03-27 18:44] sairish2001 commented on #585
Go ahead
Deadline 30 March,2021 (11:59 PM IST)

[2021-03-27 18:49] SarthakKeshari opened #586 "Statistics section calcultor need to be added"
## **Is your feature request related to a problem? Please describe.**

- Calculator needs to be added for mean, median, mode etc. in the statistics section

## **Describe the solution you'd like**

- Add the required functionality

[2021-03-27 18:50] SarthakKeshari commented on #586
Please assign this issue to me @sairish2001

[2021-03-27 18:52] shrey27tri01 commented on #583
@khareyash05 You can go ahead with this :)
Deadline 1st April, 2021, 11:59 PM IST

[2021-03-27 18:54] shrey27tri01 commented on #580
@khareyash05 The PR you mentioned is in the review process :)
Hence, I'm closing this issue

[2021-03-27 18:54] #580 closed

[2021-03-27 18:57] #512 closed

[2021-03-27 19:11] shrey27tri01 commented on #586
@SarthakKeshari Please go ahead with the issue :)
Deadline 2nd April 2021, 11:59 PM IST

[2021-03-27 19:21] #573 closed

[2021-03-27 19:35] SarthakKeshari opened #589 "Simple interest and compound interest negative input and output error"
## **Describe the bug**

- Simple interest and compound interest calculator functioning over negative values needs to be restricted since money amount, time and interest rate can't be negative.

## **Possible solution**

- Setting up value checks at appropriate places inside the function.

## **Screenshots**

- ![Attention - Simple interest and compound interest negative values](https://user-image

[2021-03-27 19:36] SarthakKeshari commented on #589
Kindly assign this issue to me @sairish2001

[2021-03-27 19:44] SarthakKeshari opened #590 "Mathematical functions working on non-numeric values"
## **Describe the bug**

- Mean, Median, Mode etc. working even in case of non-numeric characters

## **Possible solution**

- Making appropriate change in the codebase

## **Screenshots**

![Attention - Mean, Median and Mode non-numeric values working](https://user-images.githubusercontent.com/55992140/112732915-d64efd80-8f62-11eb-827f-0acfe341fee7.PNG)

[2021-03-27 19:44] SarthakKeshari commented on #590
Kindly assign this issue to me @sairish2001

[2021-03-27 19:48] kanishka8276 opened #591 "SPI/CGPA calculator add to favourites not working."
## **Describe the bug**
SPI/CGPA calculator add to favourites function is not working.
Please assign this to me.

[2021-03-27 19:55] kanishka8276 opened #592 "Bug in output of polar representation for negative values."
## **Describe the bug**
When either the real or imaginary part is negative the argument is negative . The output is not well formed in polar representation of complex number it seems that the argument is subtracted from pi but its actually multiplied.
Please assign this to me.

![Screenshot (189)](https://user-images.githubusercontent.com/66053534/112733258-d2bc7600-8f64-11eb-9080-b05983792090.png

[2021-03-27 21:48] bitaashna opened #597 "Mean calculator Wrongly placed"
I think mean calculator should be placed in General  math section rather than linear algebra

[2021-03-27 21:49] bitaashna commented on #597
@sairish2001 Please assign it to me!

[2021-03-27 22:54] bitaashna opened #601 "Adding important formulae for differentiation"
i would like to add the following:

- rolle's theorem
-  LMVT
-  cauchy's theorem
-  Critical points

[2021-03-27 22:55] bitaashna commented on #601
@sairish2001 Please assign it to me

[2021-03-27 22:57] bitaashna opened #602 "Adding a section for " Sets and Relations""
i would like to add a section for set and relations and add some important properties to it

[2021-03-27 22:57] bitaashna commented on #602
@sairish2001 Please assign it to me

[2021-03-27 23:03] bitaashna opened #603 "Adding "Functions " section"
Adding functions section which will be including :

- even function
- odd function
- onto
- one one
- many one
- injective
- surjective
- bijective
- periodic
- symmetricity

[2021-03-27 23:03] bitaashna commented on #603
@sairish2001 Please assign it to me.

[2021-03-27 23:25] AB-san opened #604 "To add calculator which can find 7's and 8's compliment of octal numbers"
## **Is your feature request related to a problem? Please describe.**

No prob
I would like To add calculator which can find 7's and 8's compliment of octal numbers

[2021-03-27 23:25] AB-san commented on #604
Please assign me this issue

[2021-03-27 23:27] AB-san opened #605 "To add calculator which can find 15's and 16's compliment of hexadecimal numbers"
## **Is your feature request related to a problem? Please describe.**

No prob
I would just like To add calculator which can find 15's and 16's compliment of hexadecimal numbers

[2021-03-27 23:27] AB-san commented on #605
Please assign me this issue

[2021-03-28 00:06] kartikrupauliha opened #607 "Add a problem solver for Vectors."
## **Is your feature request related to a problem? Please describe.**

- My feature is to add a calculator to the General Maths part of the website which goes by the name "Operations on Vectors"

## **Describe the solution you'd like**

- On entering values of two vectors and the angle between them, their scalar and vector products are calculated along with respective theory and formulae.

[2021-03-28 04:08] zhcet19 opened #609 "Adding Bayes Theorem Under Probability Section"
## **Is your feature request related to a problem? Please describe.**

I want to add Bayes theorem under probability section

## **Describe the solution you'd like**

- A clear and concise description of what you want to happen.

[2021-03-28 04:46] shrey27tri01 commented on #215
@ShrutiOmer What's the update on this issue? Anything you're stuck on?

[2021-03-28 04:55] ShrutiOmer commented on #215
Actually there was already a scalene triangle calculator in that section.

[2021-03-28 05:00] shrey27tri01 commented on #215
Oh, ok! I'm closing this issue, then!

[2021-03-28 05:01] #215 closed

[2021-03-28 05:05] #562 closed

[2021-03-28 05:07] #565 closed

[2021-03-28 05:07] #436 closed

[2021-03-28 05:09] #577 closed

[2021-03-28 05:11] #576 closed

[2021-03-28 05:26] #257 closed

[2021-03-28 05:29] sairish2001 commented on #603
So you are going to create Calculators for it?

[2021-03-28 05:31] khareyash05 opened #611 "inverse , Periodicity of functions"
Hi! I would like to add inverse and periodicity of functions as to their rules with examples

[2021-03-28 05:39] bitaashna commented on #603
Nope not calculators,Just writing the function and definitiens and formulae used

[2021-03-28 06:09] #500 closed

[2021-03-28 06:33] Alenjojo commented on #310
@sairish2001 Hey its been nearly a week, if there is any further updates can you assign me this issue.

[2021-03-28 06:35] sairish2001 commented on #310
Go ahead
Deadline 1 April,2021 (11:59 PM IST)

[2021-03-28 06:52] Alenjojo opened #613 "Calculator is not showing up after clicking the icon"
## **Describe the bug**

When i click the ""icons/keys.svg"" the calculator is not popping up

## **Possible solution**

I assume the respective function is not getting called after clicking it

I'll try my best to fix it, if you assign me with this issue

[2021-03-28 07:18] Alenjojo commented on #310
Thanks, before that if i need to work on this issue I'll be needing the calculator which apparently isn't working. As you can look up to issue #613 , the calculator isn't responding to the click response. So i can only proceed this issue only after#613 have been solved.

[2021-03-28 08:05] madihamallick opened #614 "maximum parts not showing up"
## **Describe the bug**

Except the change mode, setting, contact and share to whatsapp none of the parts are showing up due some bugs. Kindly assign this to me under GSSoC.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-03-28 08:54] satyampgt4 commented on #257
can i work on it

[2021-03-28 09:56] sairish2001 commented on #589
Go ahead
Deadline 1 April,2021 11:59 PM IST

[2021-03-28 09:57] sairish2001 commented on #590
Go ahead
Deadline 1 April,2021 11:59 PM IST

[2021-03-28 09:57] sairish2001 commented on #591
Go ahead
Deadline 1 April,2021 11:59 PM IST

[2021-03-28 09:58] sairish2001 commented on #592
Go ahead
Deadline 1 April,2021 11:59 PM IST

[2021-03-28 10:33] satcasm opened #615 "More formulas in equations"
The algebraic formulas section is missing some formulas.
Would like to add them under GSSOC' 21.
Thanks!

[2021-03-28 10:44] khareyash05 commented on #556
@sairish2001 Created a PR Have a look!

[2021-03-28 10:57] #556 closed

[2021-03-28 11:03] #526 closed

[2021-03-28 11:09] #438 closed

[2021-03-28 11:09] #614 closed

[2021-03-28 11:16] #528 closed

[2021-03-28 11:38] khareyash05 opened #619 "boolean gates"
I would like to add boolean gates like AND , OR , NOT , XOR , XAND, NAND,NOR with their circuit diagram

[2021-03-28 11:40] #574 closed

[2021-03-28 11:41] khareyash05 commented on #583
@sairish2001 Attached a PR HAve a look!

[2021-03-28 11:42] #543 closed

[2021-03-28 11:45] #583 closed

[2021-03-28 11:50] madihamallick commented on #541
I made a mistake. I just made a PR for fixing the bug in Rhombus part and that PR fixes this issue too, which was just merged #543. Kindly suggest what should I do now. Should I close this now? Kindly update the label

[2021-03-28 11:53] bitaashna opened #621 "Adding a section for 3 d geometry"
I would like to add a 3d geometry section which will consist :-

1. - Distance from the Origin
2. - Distance between 2 point
3. - Division of a line joining 2 points
4. - Projection in 3D Space
5. - Direction cosines and direction Ratios of a Line in Cartesian Plane
6. - Direction cosine of line joining two given points
7. - Projection of line segment joining 2 points, on another line
8. - Angle b

[2021-03-28 11:54] bitaashna commented on #621
@sairish2001 Please assign me the above mentioned issue

[2021-03-28 11:57] bitaashna opened #622 "Adding Applicatioon of Derivative section"
I would like to add a section which will consist of application of derivative such as:-
Rate of Change of a Quantity
Increasing and Decreasing Functions
Monotonicity
Point of Inflection

[2021-03-28 11:58] bitaashna commented on #622
@sairish2001 Please assign me the above mentioned issue.

[2021-03-28 11:59] bitaashna commented on #602
I think It's already done...So I should close it

[2021-03-28 11:59] #602 closed

[2021-03-28 12:05] bitaashna opened #623 "Adding Coordinate Geometry Formulas and theorems"
Adding the following in this section:-

- Distance Formula: To Calculate Distance Between Two Points
- Midpoint Theorem: To Find Mid-point of a Line Connecting Two Points
- Angle Formula: To Find The Angle Between Two Lines
- Section Formula: To Find a Point Which Divides a Line into m:n Ratio
- Area of a Triangle in Cartesian Plane

[2021-03-28 12:05] bitaashna commented on #623
@sairish2001 Please assign me the above mentioned issue!

[2021-03-28 12:06] abhijeet141 opened #624 "Serious Bug in website"
## **Describe the bug**

-some links are again not clickable

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

![image](https://user-images.githubusercontent.com/67696867/112751480-e9f27680-8feb-11eb-8a5a-0f491960a3bf.png)

[2021-03-28 12:06] abhijeet141 commented on #624
Hi, I want to work on this issue I will start working on it as soon as I get assigned!! I am a part of GSSoC'21.
Kindly assign this issue to me!
Discord Username : Abhijeet Sinha(P)
Discord Tag: #4018

[2021-03-28 12:06] bitaashna commented on #603
I thinks It's already there in sets ,relations and functon.
So, it's better to close it

[2021-03-28 12:06] #603 closed

[2021-03-28 12:15] bitaashna opened #625 "Adding Vector Algebra Section"
Adding Vector Algebra Section which will consist of:

- Magnitude of a Vector
- Unit Vector
- Operations on Vectors
- Scalar Triple Product
- Vector Multiplication: Cross and Dot Product
- Components of Vectors (Horizontal & Vertical)

[2021-03-28 12:16] bitaashna commented on #625
@sairish2001 Please assign it to me.

[2021-03-28 15:07] kartikrupauliha commented on #607
Please assign me this issue.

[2021-03-28 16:06] nidhi-08 commented on #349
Hi, I was trying to solve this when I realized there have been some errors and the AP/GP part is not displaying at all after I pulled the code. Can you please look into the matter?

[2021-03-28 16:08] sairish2001 commented on #624
Go ahead
Deadline 1 April, 2021

[2021-03-28 16:19] #567 closed

[2021-03-28 16:21] #486 closed

[2021-03-28 16:22] #542 closed

[2021-03-28 16:37] khareyash05 opened #630 "beta gamma functions"
I would like to state beta and gamma functions their properties and interchangeability

[2021-03-28 16:48] satyampgt4 opened #631 "add data conversion in unit convertor"
## Proposal
add data conversion in unit convertor
(A clear and concise description of what the proposal is.)

[2021-03-28 16:48] satyampgt4 commented on #631
i would like to work on it

[2021-03-28 16:53] khareyash05 commented on #352
@sairish2001 can i work on this ?

[2021-03-28 17:18] khareyash05 commented on #465
@sairish2001 Attached a PR Have a look

[2021-03-28 17:19] khareyash05 commented on #465
@sairish2001 Just a small request . If possible could you please increase the level of the issue because I personally feel level 1 is a level low. If possible.
Thanx

[2021-03-28 17:24] madihamallick opened #633 "working of input fields under graphs and shapes"
## **Describe the bug**

- Due to some bug none of the calculations under Graphs and Shapes is working. I would like to fix this. Kindly assign this to me under GSSoC.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-03-28 17:33] #633 closed

[2021-03-28 17:35] khareyash05 opened #635 "euclid geometry axioms and postulates"
I would like to add euclid geometry's  axioms and postulates

[2021-03-28 17:37] khareyash05 opened #636 "add properties of parallel lines and transversals"
I would like to add properties of parallel lines and transversals like vertically oposiite angles, suplemntary and complemetnray angles , coincident angles and many more

[2021-03-28 17:39] khareyash05 opened #637 "add properties of circles"
Hi I would like to add propeeties of circles like angle subtended by chord at a point, angle subtended by diameter , angle subtended by arc on circle , cyclic quadrilaterals

[2021-03-28 17:39] shrey27tri01 commented on #624
@abhijeet141 Can you pause your work on this? There are other issues that need to be resolved before we can work on this. You can work on other issues meanwhile :)

[2021-03-28 17:47] shrey27tri01 commented on #349
@nidhi-08 We're looking into the matter right now, and will let you know once it gets resolved.

[2021-03-28 17:57] shrey27tri01 commented on #352
@Upasana1216 What are the updates on this issue? Anything you're stuck on?

[2021-03-28 17:58] abhijeet141 commented on #624
Okay

[2021-03-29 02:01] SarthakKeshari opened #640 "Minor UI Changes"
## **Describe the bug**

- Fav button can be seen misplaced and enlarged

## **Possible solution**

- Making required updated to index.html over this section

## **Screenshots**
![Attention - Minor UI changes](https://user-images.githubusercontent.com/55992140/112777792-b4d43b80-9060-11eb-8f48-2fb678d4a979.PNG)

[2021-03-29 02:01] SarthakKeshari commented on #640
Kindly assign this issue to me @sairish2001

[2021-03-29 02:09] SarthakKeshari opened #641 "UI/UX design"
## Proposal

Sir @sairish2001,
      I wish to prepare a UI/UX upgrade for this website. I would be using Adobe XD for achieving this goal. Plan is not the give it a totally different outlook but to make proper amendments in UI at place where its needed. I will keep in mind the consious measures to take so that the whole website look need not be disturbed.
      Sir, if you want a complete new out

[2021-03-29 02:15] SarthakKeshari opened #642 "Currency Calculator working"
## **Describe the bug**

- Currency Converter working over negative values

## **Possible solution**

- Make checks using if else statements and handling NaN conditions to

## **Screenshots**
![Attention - Currency coverter working on negative values](https://user-images.githubusercontent.com/55992140/112778700-b6066800-9062-11eb-91a5-b97112ea4ca6.PNG)

[2021-03-29 02:19] SarthakKeshari opened #643 "Enhancing functionality of Simple interest and compound interest calculator"
## **Is your feature request related to a problem? Please describe.**

- Adding features like compounded annually, half yearly or quaterly to the functionality of CI and SI calculator

## **Describe the solution you'd like**

- Will describe a function to handle this situation

For now there is no such functionality available
![Attention - CI and SI compounded](https://user-images.githubuserconten

[2021-03-29 03:16] zhcet19 commented on #609
@sairish2001 please assign me this issue

[2021-03-29 05:26] #497 closed

[2021-03-29 05:30] #523 closed

[2021-03-29 05:31] #465 closed

[2021-03-29 05:40] sairish2001 commented on #641
If you feel you can create a good wireframe to give it a different look, then feel free to do the same.

Also keep it in mind, it's a webapp, more focuses on creating a Mobile App like look. So design accordingly.

[2021-03-29 05:41] sairish2001 commented on #641
Go ahead
3 April,2021 (11:59 PM IST)

[2021-03-29 05:46] madihamallick opened #644 "Trapezium working of input fields"
There is no function for calculation of input fields for Trapezium under Graphs and Shapes and I would like to add that. kindly assign this to me undet GSSoC so that I can start working on it.

![Capture](https://user-images.githubusercontent.com/70858557/112791820-ead4e800-907f-11eb-877d-b096de721d5a.PNG)

[2021-03-29 06:19] RaveenaBhasin opened #646 "Adding pressure conversion calculator"
I would like to add pressure conversion calculator in unit convertor section.
Please assign this issue to me.

[2021-03-29 06:25] #541 closed

[2021-03-29 06:27] #1 closed

[2021-03-29 06:29] sairish2001 commented on #3
Implement it, and also show steps for the same

[2021-03-29 06:32] sairish2001 commented on #177
@amrzaki2000 Do want to work on this issue?

[2021-03-29 06:50] amrzaki2000 commented on #177
Okay

[2021-03-29 07:20] kanishka8276 opened #647 "Bug in grey code converter."
## **Describe the bug**
The grey code converter is showing results also when a decimal number is entered instead of a binary number. Instead It should show a warning.

Please assign this to me.

![Screenshot (196)](https://user-images.githubusercontent.com/66053534/112800831-cc75e900-908d-11eb-8f01-10f9d4f2d06a.png)

[2021-03-29 07:34] sairish2001 commented on #177
Deadline 2 April,2021 11:59PM IST

[2021-03-29 07:53] kanishka8276 opened #649 "Bug in LCM/HCF/Factors."
## **Describe the bug**
If a letter is entered along with numbers then too it shows output and it shows the common factor is 1 instead of showing a warning.
Please assign this to me.

![Screenshot (199)](https://user-images.githubusercontent.com/66053534/112804710-588a0f80-9092-11eb-930d-ed76cc9b4c2f.png)
![Screenshot (200)](https://user-images.githubusercontent.com/66053534/112804718-5b850000-909

[2021-03-29 08:25] kanishka8276 opened #650 "Bug in Joint probability calculator"
The joint probability calculator closes within few seconds when opened through navigation bar.
Please assign this to me.

[2021-03-29 08:45] #631 closed

[2021-03-29 09:41] kanishka8276 opened #651 "Bug in joint probability calculator when number of favourable outcome is 0"
## **Describe the bug**
When the number of favourable outcomes is 0 it shows an error but the probability can be 0 so the output should be 0 not an error.
Please assign this to me.

![Screenshot (201)](https://user-images.githubusercontent.com/66053534/112818646-62673f00-90a1-11eb-98c7-ed7a76254d05.png)

[2021-03-29 10:34] #592 closed

[2021-03-29 11:24] SarthakKeshari commented on #642
Kindly assign this task to me @sairish2001

[2021-03-29 15:13] satyampgt4 opened #652 "bitwise calculor button is not working"
## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- bitwise calculor button is not working

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-03-29 15:15] satyampgt4 opened #653 "1s and 2s compliment calculator button is not working"
## **Describe the bug**

- 1s and 2s compliment calculator button is not working
## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-03-29 15:25] satyampgt4 opened #654 "data storage is not visible in unit converter and conversion facor is also wrong"
## **Describe the bug**

- data storage is not visible in unit converter
- as  well as conversion are also wrong

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/59261812/112859148-31523300-90d0-11eb-9bfc-37217bb49f4d.png)

[code]
the conversion n

[2021-03-29 15:27] Ankita297 commented on #262
Can  i work on this ?

[2021-03-29 15:28] Ankita297 commented on #262
@sairish2001  So basically we have to add cards of all topics like what we have here ?

[2021-03-29 16:12] Ankita297 commented on #74
Can i work on this ?

[2021-03-29 16:12] Ankita297 commented on #74
@shrey27tri01

[2021-03-29 17:00] Ashwani132003 commented on #262
Yes, that is correct. We had to add cards on front-page.

On Mon, Mar 29, 2021, 20:58 Ankita297 ***@***.***> wrote:

[2021-03-29 17:37] SarthakKeshari opened #656 "Profit Loss over negative values"
## **Describe the bug**

- Profit/ Loss over a negative value is not permitted but this condtion is not taken care in the calculator

## **Possible solution**

- Provding required checks

## **Screenshots**
![Attention - Profit Loss negative values](https://user-images.githubusercontent.com/55992140/112876705-7469d180-90e3-11eb-820b-006b5834f8d5.PNG)

[2021-03-29 17:37] sairish2001 commented on #624
@abhijeet141 Bugs are resolved now. You can move to next issues .Thanks

[2021-03-29 17:37] #624 closed

[2021-03-29 17:37] SarthakKeshari commented on #656
Kindly assign this issue to me @sairish2001

[2021-03-29 17:39] SarthakKeshari commented on #641
Sure sir... I will keep these points in mind

[2021-03-29 17:49] SarthakKeshari opened #657 "Adding metric list to unit converter"
## **Is your feature request related to a problem? Please describe.**

- Adding a metric list to unit conversion section will be a beneficial tool for users who want to a reference while solving some unit usage problem.

## **Describe the solution you'd like**

- I will implement a responsive metric list

![Basic metric list](https://user-images.githubusercontent.com/55992140/112877988-07573b80-90

[2021-03-29 18:11] SarthakKeshari opened #658 "Logo redesign"
## Proposal

Sir @sairish2001,
 The initial logo design is self-explanatory and has visual appeal but If you may allow me I would like to present a few logo designs for MakesMathEasy with an effort for more precise and professional look.

Thankyou

[2021-03-29 18:14] sairish2001 commented on #658
We don't have such plan of changing the Logo. But if you want you can give a try.

Do you want to?

[2021-03-29 18:15] SarthakKeshari opened #659 "Tagline"
## Proposal

Sir @sairish2001,
 Working on this project, I wish to know would you prefer a short and crisp tagline for MakesMathEasy webapp. If yes, I would like to present a handful of taglines, you may select the one you like the most.

Thankyou

[2021-03-29 18:16] sairish2001 commented on #659
Go ahead

[2021-03-29 18:16] SarthakKeshari commented on #658
Yes sir I want to give a try to it. You make take your final decision after my logo presentation.

[2021-03-29 18:17] SarthakKeshari commented on #659
Thankyou Sir

[2021-03-29 18:27] SandeepKrSuman opened #660 "Palindrome Number Checker"
## **Is your feature request related to a problem? Please describe.**

- Check whether the number input by user is palindrome or not.

## **Describe the solution you'd like**

- A palindrome number is a number which remains same on reversal.

-I would like to work on this issue under gssoc21 .

[2021-03-29 18:57] sairish2001 commented on #660
It is not related with maths

[2021-03-29 18:57] #660 closed

[2021-03-29 18:59] sairish2001 commented on #597
Go ahead
Deadline 3 April,2021 (11:59 PM IST)

[2021-03-29 19:00] sairish2001 commented on #601
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-29 19:00] sairish2001 commented on #604
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-29 19:01] sairish2001 commented on #605
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-29 19:01] sairish2001 commented on #607
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-29 19:02] sairish2001 commented on #609
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-29 19:02] sairish2001 commented on #611
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-29 19:05] sairish2001 commented on #613
Actually this bug is occurring due to one PR when it got merged, Now this issue is resolved.

[2021-03-29 19:05] #613 closed

[2021-03-29 19:05] sairish2001 commented on #310
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-29 19:06] sairish2001 commented on #615
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-29 19:06] sairish2001 commented on #619
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-29 20:04] somya51p opened #661 "Calculate CP/SP if profit%/loss% is given"
## **Is your feature request related to a problem? Please describe.**

Adding option to calculate CP or SP if either profit or loss percent is given.

## **Describe the solution you'd like**

This addition would improvise the Profit and loss section calculations.

I wish to contribute to this issue. Please assign me the same under GSSOC'21.

[2021-03-29 20:18] AshuKV commented on #510
Can I work on this issue under GSSOC21? Kindly assign it to me.

[2021-03-29 20:20] somya51p opened #663 "Add Congruency of triangles topic under Shapes"
## Proposal

Congruency of triangles is an important topic under Shapes where we can mention the five conditions in which the two triangles are congruent.

@sairish2001  Please assign me this issue. I wish to contribute to the same under GSSOC'21.

[2021-03-30 03:33] SarthakKeshari commented on #659
Sir I am putting up 14 taglines which I thought would best fit MakesMathEasy. I wish to know your choice and after I get to know the tagline chosen by you. I will create a pull request documenting the tagline and a short article as a description to tagline

![Taglines](https://user-images.githubusercontent.com/55992140/112929810-c38d2200-9136-11eb-8ccc-f804c6d345ad.PNG)

[2021-03-30 05:14] #525 closed

[2021-03-30 05:15] #589 closed

[2021-03-30 05:17] #527 closed

[2021-03-30 05:19] sairish2001 commented on #646
Go ahead
Deadline 4 April,2021 11:59 PM IST

[2021-03-30 05:20] sairish2001 commented on #661
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-30 05:21] sairish2001 commented on #656
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-30 05:22] sairish2001 commented on #654
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-30 05:24] #650 closed

[2021-03-30 05:25] sairish2001 commented on #653
There are some Major bugs in website due to one of the merged PR, which is causing this issue, now it is resolved

[2021-03-30 05:25] kanishka8276 commented on #651
@sairish2001 Please assign this to me.

[2021-03-30 05:25] #653 closed

[2021-03-30 05:27] sairish2001 commented on #619
I think, there's no need of this documentation

[2021-03-30 05:27] #619 closed

[2021-03-30 05:27] sairish2001 commented on #652
There are some Major bugs in website due to one of the merged PR, which is causing this issue, now it is resolved

[2021-03-30 05:27] #652 closed

[2021-03-30 05:28] sairish2001 commented on #651
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-30 05:28] sairish2001 commented on #649
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-30 05:29] sairish2001 commented on #647
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-30 05:32] sairish2001 commented on #644
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-30 05:32] sairish2001 commented on #643
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-30 05:33] sairish2001 commented on #642
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-30 05:33] sairish2001 commented on #640
There are some Major bugs in website due to one of the merged PR, which is causing this issue, now it is resolved

[2021-03-30 05:33] #640 closed

[2021-03-30 05:34] sairish2001 commented on #637
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-30 05:34] sairish2001 commented on #636
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-30 05:36] sairish2001 commented on #635
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-30 05:37] sairish2001 commented on #630
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-30 05:37] sairish2001 commented on #625
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-30 05:38] sairish2001 commented on #623
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-30 05:38] sairish2001 commented on #622
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-30 05:39] sairish2001 commented on #621
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-30 05:39] sairish2001 commented on #581
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-30 05:41] #646 closed

[2021-03-30 05:41] #651 closed

[2021-03-30 05:44] #416 closed

[2021-03-30 05:45] AB-san opened #668 "To Add a calculator which can add 2 numbers , where both the numbers can be from any number system(i.e, binary/decimal/octal/hexadecimal)"
## **Is your feature request related to a problem? Please describe.**

No problem
I would just like To Add a calculator which can add 2 numbers , where both the numbers can be from any number system(i.e, binary/decimal/octal/hexadecimal)

 for example- the calculator can perform actions like -
3+2=5
11+10=101, etc

[2021-03-30 05:47] AB-san commented on #668
Please assign me this issue

[2021-03-30 05:50] sairish2001 commented on #668
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-30 05:50] AB-san opened #669 "To add a calculator which can perform Binary subtraction using 1's and 2's compliment and also display the formula for the same right next to it !"
Please assign me this issue

[2021-03-30 05:50] sairish2001 commented on #669
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-30 05:52] AB-san opened #670 "To add a calculator which can perform subtraction of 2 octal numbers using 7's and 8's compliment and also display the formula for the same right next to it !"
Please assign me this issue

[2021-03-30 05:52] AB-san opened #671 "To add a calculator which can perform subtraction of hexadecimal numbers using 15's and 16's compliment and also display the formula for the same right next to it !"
Please assign me this issue

[2021-03-30 05:54] AB-san opened #672 "To add a calculator which can perform multiplication of 2 numbers, where the 2 numbers can be from any number systems(i.e,Binary/octal/hexadecimal)"
Please assign me this issue

[2021-03-30 05:59] sairish2001 commented on #659
Either
**Unfolding the complex to real**
or
**Your answers just a click away**

your suggestion?

[2021-03-30 05:59] kanishka8276 opened #673 "Bug in permutation/combination calculator"
## **Describe the bug**
It shows results for negative values for r and n which is not allowed as per the properties of permutation and combination
Please assign this to me.

![Screenshot (203)](https://user-images.githubusercontent.com/66053534/112940689-2092d300-914b-11eb-8a18-5192dd6de940.png)

[2021-03-30 06:01] AB-san opened #674 "To Add calculator to generate Hamming Code generator ( for generating code from Right to left manner )"
Please assign me this issue

[2021-03-30 06:38] #647 closed

[2021-03-30 06:41] sairish2001 commented on #262
One of the participant is redesigning the UX for the webapp. So let's wait for it.

[2021-03-30 07:14] Upasana1216 commented on #3
okay sir

On Mon, Mar 29, 2021 at 12:00 PM Rajinderpal Singh ***@***.***>
wrote:

[2021-03-30 07:31] RaveenaBhasin opened #679 "Bug in conversion calculator"
Unit Conversion Calculator is not visible when units are clicked. I would like to resolve this
Please assign this issue to me.

[2021-03-30 07:35] SarthakKeshari commented on #659
Sir @sairish2001,
     Both the selected taglines have there significance but I would give more weightage to "**Your answers just a click away**".
Reason - The tagline lights up the idea of quick behaviour 'just a click' and 'Your answer' emphasis on the user's side of the webapp which shows the tagline to be a silent conversation with users. As well as a whole it talks about handedness of the web

[2021-03-30 07:37] sairish2001 commented on #659
Go ahead with this tagline
i.e.
Your answers just a click away

[2021-03-30 07:43] SarthakKeshari commented on #659
Sure sir. I will do this in a formatted manner. I will prepare a proper document explaining the details of the tagline so that its description throws light over the content and aim of this project.

[2021-03-30 07:46] #439 closed

[2021-03-30 07:47] #609 closed

[2021-03-30 07:48] #649 closed

[2021-03-30 07:50] sairish2001 commented on #679
Not only unit conversation, all the modals are not visible

[2021-03-30 07:51] sairish2001 commented on #679
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-30 09:02] priyanka001tech opened #682 "calculate transpose of a matrix"
## Proposal

CALCULATE TRANSPOSE OF A GIVEN MATRIX
EX: 1 2 3
6 7 9
1 9 0

to
1 6 1
2 7 9
3 9 0

[2021-03-30 09:32] RaveenaBhasin commented on #679
@sairish2001 I have created the PR. Please review it

[2021-03-30 09:32] sairish2001 commented on #682
This is already implemented

[2021-03-30 09:32] #682 closed

[2021-03-30 10:18] zhcet19 opened #684 "Adding power(exponent) calculator under general maths section"
## **Is your feature request related to a problem? Please describe.**

- I want to add a calculator that will calculate power taking two numbers as input .
## **Describe the solution you'd like**

- A clear and concise description of what you want to happen.

[2021-03-30 10:23] zhcet19 opened #685 "HCF and LCM calculator of more than one number"
## **Is your feature request related to a problem? Please describe.**

- Currently,there is a LCM,HCF calculator for a single number input.I want to extend it to more than one input

## **Describe the solution you'd like**

- A clear and concise description of what you want to happen.

[2021-03-30 10:23] #685 closed

[2021-03-30 10:28] zhcet19 opened #686 "adding associative ,commutative laws of boolean algebra under boolean algebra section"
## **Is your feature request related to a problem? Please describe.**

- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## **Describe the solution you'd like**

- A clear and concise description of what you want to happen.

[2021-03-30 11:36] RaveenaBhasin opened #688 "Adding Angle convertor calculator"
II would like to add angle convertor calculator in the unit convertor section.
Please assign this issue to me.

[2021-03-30 11:47] #590 closed

[2021-03-30 11:49] #635 closed

[2021-03-30 11:52] #630 closed

[2021-03-30 13:50] kanishka8276 opened #689 "Bug in Bayes Theorem calculator."
## **Describe the bug**
Wrong implementation of Bayes Theorem.
P(A|B) and P(B|A) don't always add up to 1 but in the current implementation it's always adding up to 1.
Also, to calculate P(A|B) and P(B|A) we need P(A and B) which cannot be determined, this need to be entered by the user.
![Screenshot (208)](https://user-images.githubusercontent.com/66053534/112999855-ecd89d00-918c-11eb-9412-d52b4f

[2021-03-30 13:51] kanishka8276 commented on #673
@sairish2001 Please assign this to me.

[2021-03-30 14:41] abhijeet141 opened #691 "While giving input in bcd any number which is not 0 or 1 it is show in result 0 while there should be a valid error message given"
## **Describe the bug**

While giving input in bcd any number which is not 0 or 1 it is show in result 0 while there should be a valid error message given

## **Possible solution**

- adding if else for that

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/67696867/113007701-0fba7f80-9194-11eb-8c4c-1bf9b023e391.p

[2021-03-30 14:43] abhijeet141 commented on #691
Hi, I want to work on this issue I will start working on it as soon as I get assigned!! I am a part of GSSoC'21.
Kindly assign this issue to me!
Discord Username : Abhijeet Sinha(P)
Discord Tag: #4018

[2021-03-30 14:47] SarthakKeshari opened #692 "Primality Test over negative values"
## **Describe the bug**

- Negative values should not be not considered in primality test

## **Possible solution**

- Putting the appropriate check to determine the correct measures

## **Screenshots**

![Attention - Primality on negative values](https://user-images.githubusercontent.com/55992140/113008659-d9c9cb00-9194-11eb-87e6-7ff0305ac59e.PNG)

[2021-03-30 14:47] SarthakKeshari commented on #657
Kindly assign this issue to me @sairish2001

[2021-03-30 14:50] Upasana1216 commented on #352
Sir, I have designed the page which tells whether the entered year is a leap year or not but I'm not getting how to show the steps

[2021-03-30 14:50] Upasana1216 commented on #220
No sir.

[2021-03-30 14:54] SarthakKeshari opened #693 "Enhancing functionality of Profit Loss Calculator"
## **Is your feature request related to a problem? Please describe.**

- In selling price and cost price calculation discount will also play a major role. Adding discount as an optional functionality.

## **Describe the solution you'd like**

- Adding the discount as an optional functionality to the existing function

Current look and state of Profit-Loss Calculator
![FUNCTIONALITY - Add discount

[2021-03-30 14:54] SarthakKeshari commented on #693
Kindly aasign this issue to me @sairish2001

[2021-03-30 15:23] madihamallick opened #694 "Trapezium image label missing"
## **Describe the bug**

- Trapezium has no label for **c** and **d** which is needed for calculation, I would like to add the same. Also I would like to change the present image as it is barely visible in the dark mode. Kindly assign this to me under GSSoC.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

-
![Capture](https://user-images.githubusercontent.co

[2021-03-30 15:31] Upasana1216 commented on #3
Sir explained code:
[minro.docx](https://github.com/sairish2001/makesmatheasy/files/6230167/minro.docx)

[2021-03-30 15:33] Upasana1216 commented on #3
/*
	Question: Find the minor and cofactor matrix of each element of a matrix
	Steps to find the minor matrix of each element:
		1.	Loop through each element of a matrix
		2.	Check if the element belongs to the same column and row of which we are finding the minor matrix
			If true
				Insert 0 at the position in minor matri
			Else
				Insert the element of matrix in the minor matrix

	Steps to fi

[2021-03-30 15:36] #656 closed

[2021-03-30 15:37] sairish2001 commented on #670
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-30 15:37] sairish2001 commented on #671
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-30 15:37] SarthakKeshari opened #696 "Congruency and Similarilty Section doubt"
Sir @sairish2001 ,
    I saw BYJU'S images being used in Congruence and Similarity section. May I create these images and replace the one taken from BYJU'S?

![Attention - Congruency property BYJU'S images](https://user-images.githubusercontent.com/55992140/113016068-bfdfb680-919b-11eb-8da8-a49db4ea01c8.PNG)

Thankyou

[2021-03-30 15:38] sairish2001 commented on #672
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-30 15:38] sairish2001 commented on #674
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-30 15:45] sairish2001 commented on #686
it's already there

[2021-03-30 15:45] #686 closed

[2021-03-30 15:46] sairish2001 commented on #688
Angle from degree to Radian? . It's already there in Calculator

[2021-03-30 15:47] sairish2001 commented on #689
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-30 15:52] sairish2001 commented on #691
Go ahead
Deadline 5 April,2021 (11:59 PM IST)

[2021-03-30 15:53] sairish2001 commented on #692
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-30 15:53] sairish2001 commented on #693
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-30 15:54] sairish2001 commented on #694
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-30 15:54] sairish2001 commented on #696
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-30 16:14] RaveenaBhasin commented on #688
@sairish2001 Not only from degree to radian, but also from degree to minute, second, octant, sextant, quadrant, revolution.

[2021-03-30 16:25] RaveenaBhasin opened #700 "Adding prism in 3d calcultor"
I would like to add volume and surface area of triangular prism in 3d shape calculator

[2021-03-30 16:26] sairish2001 commented on #688
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-30 16:27] #679 closed

[2021-03-30 16:28] #644 closed

[2021-03-30 16:29] #642 closed

[2021-03-30 16:30] sairish2001 commented on #700
Go ahead
Deadline 4 April,2021 (11:59 PM IST)

[2021-03-30 16:44] kanishka8276 opened #702 "Add arrows and customize Contact page's scrollbar."
I would like to make the scroll bar of contact.html similar to index.html.
Please assign this to me.

[2021-03-30 17:52] sairish2001 commented on #3
This is in C++, are you able to convert it into JavaScript?

[2021-03-30 17:55] #673 closed

[2021-03-30 17:55] #636 closed

[2021-03-30 17:56] #694 closed

[2021-03-30 17:57] #689 closed

[2021-03-30 17:58] #692 closed

[2021-03-30 18:40] sairish2001 commented on #352
just concatenate the string with appropriate message. and at last just show the string into div tag using DOM i.e. innerHTML=<name of variable>

[2021-03-30 18:57] abhijeet141 opened #707 "To add a convertor to convert decimal to 2421 code"
## **Describe the solution you'd like**

- To add a convertor to convert decimal to 2421 code

[2021-03-30 19:01] abhijeet141 commented on #707
Hi, I want to work on this issue I will start working on it as soon as I get assigned!! I am a part of GSSoC'21.
Kindly assign this issue to me!
Discord Username : Abhijeet Sinha(P)
Discord Tag: #4018

[2021-03-31 01:33] khareyash05 opened #709 "Fibonacci series upto n terms"
I would like to show fibonacci series upto no. of terms mentioned by the user

[2021-03-31 01:36] khareyash05 opened #710 "Armstrong number check"
Hi I would like to check whether the no. entered is an armstrong number or not
Armstrong number is a number sum of cubes of its digits is equal to the number

[2021-03-31 04:04] Upasana1216 commented on #3
Yes sir

[2021-03-31 04:38] #591 closed

[2021-03-31 04:51] kanishka8276 opened #712 "Bug in decimal/binary converter."
## **Describe the bug**
Decimal binary converter is showing wrong answers for the all binary to decimal conversions.
Please assign this to me.

![Screenshot (216)](https://user-images.githubusercontent.com/66053534/113092050-e12bbb80-920a-11eb-8aef-fa7039066e42.png)

[2021-03-31 05:22] janvi01 opened #713 "Invalid expression is not working"
## **Describe the bug**

when the expression is invalid or can't be calculated, nothing shows.

<img width="1092" alt="Screenshot 2021-03-31 at 10 45 00 AM" src="https://user-images.githubusercontent.com/34344234/113094351-1e924800-920f-11eb-8cc1-0c92b29ecaa5.png">

## **Possible solution**

I would like to fix or add alert saying invalid expression.

[2021-03-31 05:56] Alenjojo commented on #310
Let me suggest something, is there a need of the arrows inside the input field type. Even thou if i add custom buttons its gonna look crowded. Anyway users will have to type in the values and the input field does look pretty with the button.
As you can see from the image below

![Capture](https://user-images.githubusercontent.com/51394913/113096835-95314480-9213-11eb-8c11-ea2d4d67390b.PNG)

 So th

[2021-03-31 05:59] sairish2001 commented on #310
remove them, it looks nice

[2021-03-31 06:07] RaveenaBhasin commented on #688
@sairish2001 I have made the PR #714

[2021-03-31 06:21] zhcet19 commented on #684
@sairish2001  please assign me this issue

[2021-03-31 06:30] Alenjojo opened #716 "Currency Converter data is static"
## **Describe the bug**

The values of the respective currency is not dynamic. It is fix and it might create an issue later

## **Possible solution**

Might have to use web scrapping to get live data

[2021-03-31 06:32] #310 closed

[2021-03-31 06:58] #522 closed

[2021-03-31 06:59] #702 closed

[2021-03-31 07:02] sairish2001 commented on #684
Actually, I want this to add in the calculator.

[2021-03-31 07:03] sairish2001 commented on #684
For that you have to add few blocks in the calculator

[2021-03-31 07:04] sairish2001 commented on #712
Go ahead
Deadline 5 April,2021 (11:59 PM IST)

[2021-03-31 07:05] sairish2001 commented on #710
Actually, this is not related with maths

[2021-03-31 07:08] sairish2001 commented on #707
This code is not widely used

[2021-03-31 07:09] sairish2001 commented on #713
If you can then try changing the color of text to red; when the expression is invalid rather than showing any warnings

[2021-03-31 07:12] sairish2001 commented on #716
Go ahead
Deadline 5 April,2021 (11:59 PM IST)

[2021-03-31 07:16] janvi01 commented on #713
Yes sure

[2021-03-31 07:24] madihamallick opened #717 "Bug in median calculator"
## **Describe the bug**

- The function is unable to calculate the median due to some bug. I would like work on this issue. Kindly assign this to me under GSSoC.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
-
![Capture](https://user-images.githubusercontent.com/70858557/113106304-3cb47400-9220

[2021-03-31 07:26] SandeepKrSuman opened #718 "Identities and Properties of Complex Numbers"
## **Is your feature request related to a problem? Please describe.**

- I want to add the identities and properties of complex numbers.

- If seems relevant, assign this issue to me under gssoc21

## Screenshots

- Before:
![Screenshot (265)](https://user-images.githubusercontent.com/54541515/113109766-ed704280-9223-11eb-99ee-a1eb06c3d09c.png)

- After:
![Screenshot (266)](https://user-images.git

[2021-03-31 07:26] abhijeet141 opened #719 "To enhance the UI of BCD/Decimal convertor and BCD code addition"
![image](https://user-images.githubusercontent.com/67696867/113106572-8b620e00-9220-11eb-9418-d7a2d3f8b2a3.png)

[2021-03-31 07:27] abhijeet141 commented on #719
Hi, I want to work on this issue I will start working on it as soon as I get assigned!! I am a part of GSSoC'21.
Kindly assign this issue to me!
Discord Username : Abhijeet Sinha(P)
Discord Tag: #4018

[2021-03-31 07:44] madihamallick opened #721 "adding some Boolean algebra rules"
There are **four** more laws under Boolean algebra which is missing here. I would like to add the same. Kindly assign this to me under GSSoC.

![Capture](https://user-images.githubusercontent.com/70858557/113108699-e5fc6980-9222-11eb-896a-980f24aaf3c1.PNG)

[2021-03-31 07:58] madihamallick opened #722 "adding steps for calculation of Interest(simple and compound)"
## **Is your feature request related to a problem? Please describe.**

- Interest(simple and compound) under General math simply calculates the value of Simple and Compound Interest, I would show the steps for the calculation, for both of them. Kindly assign this to me under GSSoC.

![Capture](https://user-images.githubusercontent.com/70858557/113110663-f31a5800-9224-11eb-8532-5d425a7e9f9e.PNG)

#

[2021-03-31 08:08] abhijeet141 opened #723 "To enhance the UI of Boolean Algebra section"
## **Describe the solution you'd like**

-To write all the properties in latex
![image](https://user-images.githubusercontent.com/67696867/113111924-450fad80-9226-11eb-874b-3e8f022ab4f6.png)

[2021-03-31 08:08] abhijeet141 commented on #723
Hi, I want to work on this issue I will start working on it as soon as I get assigned!! I am a part of GSSoC'21.
Kindly assign this issue to me!
Discord Username : Abhijeet Sinha(P)
Discord Tag: #4018

[2021-03-31 08:22] janvi01 commented on #713
i would change the color of text to red, and
add an i button (information circle) displaying invalid expression when clicked on button on the left side of text area.

[2021-03-31 08:41] #709 closed

[2021-03-31 08:42] #710 closed

[2021-03-31 09:24] zhcet19 commented on #684
OK i will add few blocks in calculator for exponentent functionality. You can assign it to me

[2021-03-31 10:36] abhijeet141 opened #724 "Bug in Bitwise operator"
## **Describe the bug**

- In bitwise operator under hexadecimal number system i am not able to take input in alphabets
## **Screenshots**

-
![image](https://user-images.githubusercontent.com/67696867/113131554-fe787e00-923a-11eb-9ab8-eecf80e27df7.png)

[2021-03-31 10:37] abhijeet141 commented on #724
Hi, I want to work on this issue I will start working on it from 3rd April. I am a part of GSSoC'21.
Kindly assign this issue to me!
Discord Username : Abhijeet Sinha(P)
Discord Tag: #4018

[2021-03-31 11:13] abhijeet141 opened #726 "To add left shift operator in Bitwise calculator"
- I would like to add left shift operator in bitwise calculator

[2021-03-31 11:14] abhijeet141 commented on #726
Hi, I want to work on this issue I will start working on it from 3rd April. I am a part of GSSoC'21.
Kindly assign this issue to me!
Discord Username : Abhijeet Sinha(P)
Discord Tag: #4018

[2021-03-31 11:15] abhijeet141 opened #727 "To add right shift operator in bitwise calculator"
## **Describe the solution you'd like**

-I would like to add right shift operator in bitwise operator

[2021-03-31 11:26] abhijeet141 commented on #707
Yes sir i agree that it is not widely used but i thought that we should have all convertors in website

[2021-03-31 11:31] abhijeet141 opened #729 "To add operator of NOT in bitwise operator"
## **Describe the solution you'd like**

- I would like to add NOT operator under the section bitwise operator

[2021-03-31 11:31] abhijeet141 commented on #729
Hi, I want to work on this issue I will start working on it from 3rd April. I am a part of GSSoC'21.
Kindly assign this issue to me!
Discord Username : Abhijeet Sinha(P)
Discord Tag: #4018

[2021-03-31 12:13] SarthakKeshari opened #730 "Letter Character acceptance by ascending/descending"
## **Describe the bug**

- Invalid acceptance of letters along with numbers

## **Possible solution**

- Using appropriate checks to prompt the user and make the calculator work on correct input

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![Attention - mathematical operation working over letters asc and desc](https://user-images.githubusercontent.com/5599214

[2021-03-31 12:13] SarthakKeshari commented on #730
Please assign this issue to me @sairish2001

[2021-03-31 12:32] SarthakKeshari opened #731 "Factorial Calculator working"
## **Describe the bug**

- Factorial calculator is working over negative values and this is not possible as per the gamma function rules.
- Factorial can be found using gamma function and gamma function is not defined for negative integer.
so, Factorial is not defined for negative integer

## **Possible solution**

- Restricting negative values input from user and providing appropriate prompt

##

[2021-03-31 12:32] SarthakKeshari commented on #731
Kindly assign this issue to me @sairish2001

[2021-03-31 12:33] abhijeet141 opened #732 "Bug in Geometric Mean calculator"
## **Describe the bug**

-the GM of a and c when a>0 and c>0 is sqrt(ac) but when a<0 and c<0 then GM = -sqrt(ac) but in the calculator when i am taking both as negative number then also it is calculating with the same formula sqrt(a,c)

## **Screenshots**

![image](https://user-images.githubusercontent.com/67696867/113144892-6afb7900-924b-11eb-8d50-f2f12cd08b34.png)

[2021-03-31 12:34] abhijeet141 commented on #732
Hi, I want to work on this issue I will start working on it from 3rd April. I am a part of GSSoC'21.
Kindly assign this issue to me!
Discord Username : Abhijeet Sinha(P)
Discord Tag: #4018

[2021-03-31 12:38] SarthakKeshari opened #733 "Permutation Combination working over floating values"
## **Describe the bug**

- Permutation Combination calculator working over floating values needs to be restricted since combination/permutation of objects or entities can't be fractional.
- Example - Number of items can't be 100.11111

## **Possible solution**

- Putting appropriate checks and prompting the user in case of incorrect input

## **Screenshots**

![image](https://user-images.githubuse

[2021-03-31 12:38] SarthakKeshari commented on #733
Kindly assign this issue to me @sairish2001

[2021-03-31 12:51] SarthakKeshari opened #734 "Mean, Median and Mode improper working"
## **Describe the bug**

- Mean, Median and Mode not working over negative values needs to be rectified for correct results.

## **Possible solution**

- Improving the existing function to gain the required functionality.

## **Screenshots**

![Attention - Mean, Median and Mode not working over negative values](https://user-images.githubusercontent.com/55992140/113146847-caf31f00-924d-11eb-958c-a7

[2021-03-31 12:51] SarthakKeshari commented on #734
Kindly assign this issue to me @sairish2001

[2021-03-31 14:36] #700 closed

[2021-03-31 14:36] #712 closed

[2021-03-31 14:38] #668 closed

[2021-03-31 14:40] sairish2001 commented on #707
Go ahead
Deadline 14 April,2021 (11:59 PM IST)

[2021-03-31 15:54] #696 closed

[2021-03-31 15:55] sairish2001 commented on #713
Go ahead
Deadline 5 April,2021 (11:59 PM IST)

[2021-03-31 15:56] sairish2001 commented on #684
Go ahead
Deadline 5 April,2021 (11:59 PM IST)

[2021-03-31 17:49] #643 closed

[2021-03-31 21:13] SarthakKeshari commented on #658
Sir @sairish2001,
     I have worked out a logo keeping in mind the project title "**MakesMathEasy**" and tagline "Your answers just a click away".

I am attaching HD copy of the logo for reference but for the website I have the saved the same logo with a webfile format.
I would be glad to have your acceptance.

![MakesMathEasy logo](https://user-images.githubusercontent.com/55992140/113211573-46c

[2021-04-01 03:38] anjali7786 commented on #4
@sairish2001, please tell me whether I need to show the steps of finding the inverse also?

[2021-04-01 04:30] sairish2001 commented on #717
Go ahead
Deadline 5 April,2021 11:59 PM IST

[2021-04-01 04:31] sairish2001 commented on #718
Go ahead
Deadline 5 April,2021 11:59 PM IST

[2021-04-01 04:31] sairish2001 commented on #719
Go ahead
Deadline 5 April,2021 11:59 PM IST

[2021-04-01 04:32] sairish2001 commented on #721
Go ahead
Deadline 5 April,2021 11:59 PM IST

[2021-04-01 04:32] sairish2001 commented on #722
Kindly use LaTeX text where it requires in steps

[2021-04-01 04:32] sairish2001 commented on #722
Go ahead
Deadline 5 April,2021 11:59 PM IST

[2021-04-01 04:34] sairish2001 commented on #723
Use LaTeX for only formulas, not for headings

[2021-04-01 04:34] sairish2001 commented on #723
Go ahead
Deadline 5 April,2021 11:59 PM IST

[2021-04-01 04:35] sairish2001 commented on #724
Go ahead
Deadline 5 April,2021 11:59 PM IST

[2021-04-01 04:36] sairish2001 commented on #726
Go ahead
Deadline 5 April,2021 11:59 PM IST

[2021-04-01 04:36] sairish2001 commented on #727
Go ahead
Deadline 5 April,2021 11:59 PM IST

[2021-04-01 04:36] sairish2001 commented on #729
Go ahead
Deadline 5 April,2021 11:59 PM IST

[2021-04-01 04:37] sairish2001 commented on #730
Go ahead
Deadline 5 April,2021 11:59 PM IST

[2021-04-01 04:38] sairish2001 commented on #731
Go ahead
Deadline 5 April,2021 11:59 PM IST

[2021-04-01 04:38] sairish2001 commented on #732
Go ahead
Deadline 5 April,2021 11:59 PM IST

[2021-04-01 04:39] sairish2001 commented on #733
Go ahead
Deadline 5 April,2021 11:59 PM IST

[2021-04-01 04:39] sairish2001 commented on #734
Go ahead
Deadline 5 April,2021 11:59 PM IST

[2021-04-01 06:21] madihamallick commented on #722
Okay

[2021-04-01 06:45] sairish2001 commented on #4
Yes , you have to show steps

[2021-04-01 06:45] sairish2001 commented on #4
Deadline extended 5 April,2021

[2021-04-01 09:35] janvi01 commented on #713
I have changed the color to red when expression is invalid.

Ref:
<img width="1092" alt="Screenshot 2021-04-01 at 3 00 05 PM" src="https://user-images.githubusercontent.com/34344234/113274325-347d3700-92fb-11eb-8c60-de04938336d1.png">

But still if user clicks on equal to sign to get answer, an i button displays like this

<img width="1092" alt="Screenshot 2021-04-01 at 3 00 30 PM" src="https://us

[2021-04-01 09:36] janvi01 commented on #713
Please review if any changes needed,
or I should make a pr?

[2021-04-01 14:42] madihamallick opened #749 "adding steps under Mean Calculator"
## **Is your feature request related to a problem? Please describe.**

- Under the Arithmetic, Geometric and Harmonic mean calculation under Mean Calculation I would like to add some more steps using LaTeX text for **better understanding**. Kindly assign this to me under GSSoC.

## **Describe the solution you'd like**

![Capture](https://user-images.githubusercontent.com/70858557/113310977-6f48948

[2021-04-01 14:48] K-jais opened #750 "Add Light-Dark mode"
I can Add Light Dark Mode to all of the pages which adds another feature to this website and which just gives two choices to the user as whats its preferable UI is either light or dark.

[2021-04-01 15:08] satyampgt4 opened #751 "add disscount in profit loss calculaotr"
## Proposal

add discount in profit loss calculator

(A clear and concise description of what the proposal is.)

[2021-04-01 15:11] satyampgt4 opened #753 "Rank Calculator"
## Proposal

Rank of a Word in Dictionary

(A clear and concise description of what the proposal is.)

[2021-04-01 16:37] #521 closed

[2021-04-01 16:38] #581 closed

[2021-04-01 18:37] #731 closed

[2021-04-01 18:38] #734 closed

[2021-04-01 18:39] #717 closed

[2021-04-01 18:39] #721 closed

[2021-04-01 18:40] #733 closed

[2021-04-01 18:41] #718 closed

[2021-04-01 18:44] #604 closed

[2021-04-01 18:45] #571 closed

[2021-04-01 18:46] #597 closed

[2021-04-01 18:57] SarthakKeshari commented on #658
@sairish2001 Sir,
     Kindly provide me with your valuable remarks over the logo

[2021-04-01 20:47] SarthakKeshari opened #758 "Adding calculator to the circle section"
## **Is your feature request related to a problem? Please describe.**

- Adding calculator for circle in conic section

## **Describe the solution you'd like**

- Making appropriate amendments in index.html and logicjavascript.js

Initial look

![ADD - Calculator to circle](https://user-images.githubusercontent.com/55992140/113352133-82c12300-9359-11eb-862b-58b3044c6f9e.PNG)

[2021-04-01 21:05] SarthakKeshari opened #759 "Different number system issue"
## **Describe the bug**

- Calcultions should not be performed on two different number systems simultaneously else it would result in errorneous result and the user should also be prompt in case of such error

## **Possible solution**

- Solution would be to take the input over a single number system that would be selected by the user once before the calculation. By default decimal number system w

[2021-04-01 21:06] SarthakKeshari commented on #758
Kindly assign this issue to me @sairish2001

[2021-04-01 21:06] SarthakKeshari commented on #759
Kindly assign this issue to me @sairish2001

[2021-04-01 21:09] SarthakKeshari commented on #751
Hey contributor @satyampgt4,
I have already been assigned this issue under #693.
Kindly close this issue.

Thankyou.

[2021-04-01 21:28] SarthakKeshari opened #760 "Data Unit Converter"
## **Describe the bug**

- Data Unit converter is accepting negative data values and this is wrong since data cannot be negative

## **Possible solution**

- Putting appropriate check to crub this issue and also prompting the user when entering negative values.

## **Screenshots**

![Attention - Data unit converter working over negative values](https://user-images.githubusercontent.com/55992140/11

[2021-04-01 21:28] SarthakKeshari commented on #760
Kindly assign this issue to me @sairish2001

[2021-04-01 21:33] SarthakKeshari opened #761 "Time Unit Converter working"
## **Describe the bug**

- Time Unit Converter working over negative values. Since time is never negative so this error needs to be handled

## **Possible solution**

- Approriate checks over entered values needs to added in order to resolve this issue;

## **Screenshots**

![Attention - Time unit converter working over negative values](https://user-images.githubusercontent.com/55992140/113356417-

[2021-04-01 21:33] SarthakKeshari commented on #761
Kindly assign this issue to me @sairish2001

[2021-04-01 21:40] SarthakKeshari opened #762 "Mass Unit Converter working"
## **Describe the bug**

- Mass can never be negative but the current calculator works over negative values too.

## **Possible solution**

- Checking for negative input and prompting the user obout the incorrect input given

## **Screenshots**
![Attention - Mass unit converter working over negative values](https://user-images.githubusercontent.com/55992140/113357015-d5520d80-9360-11eb-9507-46af0c

[2021-04-01 21:40] SarthakKeshari commented on #762
Kindly assign this issue to me @sairish2001

[2021-04-02 01:21] khareyash05 opened #764 "bug in logarithmic calculator"
WHen we type base = 0 the msg displayed is pls enter a positive number. But better msg can be base cannot be 0 as considering 0 as not a positive no. is  not apt.
![image](https://user-images.githubusercontent.com/60147732/113369803-d5153a80-937f-11eb-8c39-123efea3d85a.png)

[2021-04-02 01:26] khareyash05 opened #765 "bug in p/b/h trigo"
IF entered a negative value in any of fields the abrupt answers are coming up. The lengths of sides cannot be negative
![image](https://user-images.githubusercontent.com/60147732/113370021-6edce780-9380-11eb-9bf2-ec54d612b306.png)
![image](https://user-images.githubusercontent.com/60147732/113370040-7ac8a980-9380-11eb-941a-9f39f0c43c56.png)

[2021-04-02 03:48] Ayushgup85 commented on #352
is this issue still open?if open can i work on this issue?

[2021-04-02 03:49] Ayushgup85 commented on #536
is this issue still open?If open, can i work on this issue?

[2021-04-02 03:50] Ayushgup85 commented on #535
is this issue still open?If open, can i work on this issue?

[2021-04-02 03:50] Ayushgup85 commented on #585
is this issue still open?If open, can i work on this issue?

[2021-04-02 03:52] abhijeet141 commented on #536
Hi @Ayushgup85 yes this issue is open and its date has been extended because my exams are going on.

[2021-04-02 04:43] janvi01 commented on #713
@sairish2001

[2021-04-02 05:10] sairish2001 commented on #713
Will after expression gets vaild, the i button  hides or remains there?

[2021-04-02 05:11] sairish2001 commented on #764
Go ahead
Deadline 5 April,2021 (11:59 PM IST)

[2021-04-02 05:12] sairish2001 commented on #765
Go ahead
Deadline 5 April,2021 (11:59 PM IST)

[2021-04-02 05:12] sairish2001 commented on #750
it's already there, but you can improve if wants to

[2021-04-02 05:13] sairish2001 commented on #750
In the sidenav,
the last 2nd option i.e. Change mode

[2021-04-02 05:21] sairish2001 commented on #658
It looks good, but the previous one looks more trendy.

I respect your Contribution.

[2021-04-02 05:22] janvi01 commented on #713
It disappears and color also changes back to initial color.

[2021-04-02 05:30] SarthakKeshari commented on #658
Ok sir

[2021-04-02 05:46] sairish2001 commented on #758
Go ahead
Deadline 5 April,2021 (11:59 PM IST)

[2021-04-02 05:48] sairish2001 commented on #760
Go ahead
Deadline 6 April,2021 (11:59 PM IST)

[2021-04-02 05:49] sairish2001 commented on #761
Go ahead
Deadline 7 April,2021 (11:59 PM IST)

[2021-04-02 07:00] AB-san commented on #535
Actually I have already sent a pr linked to this issue . Waiting for its approval.

[2021-04-02 08:11] SarthakKeshari opened #768 "Output formatting error in equation reduction"
## **Describe the bug**

- The output shows mis formatted answer on reducing equation.

## **Possible solution**

- Making correction to the printing statement(s)

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![Attention - Output formatting error on reduction of equation](https://user-images.githubusercontent.com/55992140/113396408-2130a100-93b9-11eb-8110-972d

[2021-04-02 08:12] SarthakKeshari commented on #768
Kindly assign this issue to me @sairish2001

[2021-04-02 08:19] SarthakKeshari opened #769 "Incorrect output in 7's ands 8's complement"
## **Describe the bug**

- Working over negative value should generated some prompt for user instead of NaN.

## **Possible solution**

- Putting up proper checks and providing appropriate prompt to the user

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![Attention - 7s and 8s complement resulting in incorrect answer](https://user-images.githubusercontent.com/

[2021-04-02 08:19] SarthakKeshari commented on #769
Kindly assign this issue to me @sairish2001

[2021-04-02 08:23] SarthakKeshari opened #770 "Incorrect output in 9's ands 10's complement"
## **Describe the bug**

- Working over negative value should generated some prompt for user instead of NaN.

## **Possible solution**

- Putting up proper checks and providing appropriate prompt to the user

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![Attention - 9s and 10s complement resulting in incorrect answer](https://user-images.githubusercontent.com

[2021-04-02 08:24] SarthakKeshari commented on #770
Kindly assign this issue to me @sairish2001

[2021-04-02 08:29] SarthakKeshari opened #772 "Show steps for calculation in 9s and 10s complement"
## **Is your feature request related to a problem? Please describe.**

- Showing steps for calculation of 9's and 10's complement calculation

## **Describe the solution you'd like**

- Adding required functionality to code base

Current state
![Attention - Show Steps for 9s and 10s complement calculation](https://user-images.githubusercontent.com/55992140/113398013-8e453600-93bb-11eb-95af-7bc463d

[2021-04-02 08:29] SarthakKeshari commented on #772
Kindly assign this issue to me @sairish2001

[2021-04-02 08:31] SarthakKeshari opened #773 "Show steps for calculation in 7s and 8s complement"
## **Is your feature request related to a problem? Please describe.**

- Showing steps for calculation of 7's and 8's complement calculation

## **Describe the solution you'd like**

- Adding required functionality to code base

[2021-04-02 08:31] SarthakKeshari opened #774 "Show steps for calculation in 1s and 2s complement"
## **Is your feature request related to a problem? Please describe.**

- Showing steps for calculation of 1's and 2's complement calculation

## **Describe the solution you'd like**

- Adding required functionality to code base

[2021-04-02 08:32] SarthakKeshari commented on #773
Kindly assign this issue to me @sairish2001

[2021-04-02 08:32] SarthakKeshari commented on #774
Kindly assign this issue to me @sairish2001

[2021-04-02 08:40] madihamallick opened #775 "adding steps for calculation of EMI"
EMI calculator under General math simply calculates the value, I would show the steps for the calculation. Kindly assign this to me under GSSoC.
![Capture](https://user-images.githubusercontent.com/70858557/113398984-14ae4780-93bd-11eb-88b8-9755aeece360.PNG)

[2021-04-02 09:04] SarthakKeshari opened #776 "Geometric Progression over letter characters"
## **Describe the bug**

- Working of Geometric Progression over letter characters needs to be rectified since only numeral values are acceptable

## **Possible solution**

- Restricting acceptance of letter characters.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![Attention - Working of GP over letter characters](https://user-images.githubusercontent.com/55

[2021-04-02 09:04] SarthakKeshari commented on #776
Kindly assign this issue to me @sairish2001

[2021-04-02 09:05] SarthakKeshari opened #777 "Appropriate prompt in AP"
## **Describe the bug**

- Arithmetic Progression Calculator does not give any prompt to user over blank input rathar show NaN which is not a good way to make the calculator user interactive

## **Possible solution**

- Making appropriate alteration in the existing function and adding a prompt for user over blank input

## **Screenshots**

- If applicable, add screenshots to help explain your prob

[2021-04-02 09:05] SarthakKeshari commented on #777
Kindly assign this issue to me @sairish2001

[2021-04-02 09:06] SarthakKeshari opened #778 "Appropriate prompt in GP"
## **Describe the bug**

- Geometric Progression Calculator does not give any prompt to user over blank input rathar shows formula for calculation.

## **Possible solution**

- Making alteration in the existing function to handle the error

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![Attention - Appropriate prompt over blank input by user in GP](https://use

[2021-04-02 09:07] SarthakKeshari commented on #778
Kindly assign this issue to me @sairish2001

[2021-04-02 09:32] #730 closed

[2021-04-02 09:33] #605 closed

[2021-04-02 09:35] #621 closed

[2021-04-02 09:35] #535 closed

[2021-04-02 09:38] #761 closed

[2021-04-02 09:42] #722 closed

[2021-04-02 09:44] #760 closed

[2021-04-02 09:45] sairish2001 commented on #753
can you please elaborate

[2021-04-02 10:07] kanishka8276 commented on #453
@sairish2001  I won't be able to complete this issue,so please assign this issue to someone else.

[2021-04-02 10:08] #658 closed

[2021-04-02 10:08] sairish2001 commented on #713
create PR

[2021-04-02 10:09] #453 closed

[2021-04-02 10:09] sairish2001 commented on #778
Go ahead
Deadline 7 April,2021 11:59 PM IST

[2021-04-02 10:10] sairish2001 commented on #776
Go ahead
Deadline 7 April,2021 11:59 PM IST

[2021-04-02 10:10] sairish2001 commented on #775
Go ahead
Deadline 7 April,2021 11:59 PM IST

[2021-04-02 10:11] sairish2001 commented on #774
Go ahead
Deadline 7 April,2021 11:59 PM IST

[2021-04-02 10:11] sairish2001 commented on #773
Go ahead
Deadline 7 April,2021 11:59 PM IST

[2021-04-02 10:12] sairish2001 commented on #772
Go ahead
Deadline 7 April,2021 11:59 PM IST

[2021-04-02 10:12] sairish2001 commented on #769
Go ahead
Deadline 7 April,2021 11:59 PM IST

[2021-04-02 10:13] sairish2001 commented on #536
Go ahead
Deadline 6 April,2021 11:59 PM IST

[2021-04-02 10:13] #585 closed

[2021-04-02 10:14] sairish2001 commented on #585
This bug is already fixed

[2021-04-02 10:26] sairish2001 commented on #352
@Upasana1216 any update?
I think you are facing trouble with showing steps. No problem make PR without Steps

[2021-04-02 10:28] sairish2001 commented on #749
Go ahead
Deadline 7 April,2021 11:59 PM IST

[2021-04-02 10:28] #751 closed

[2021-04-02 10:28] sairish2001 commented on #762
Go ahead
Deadline 7 April,2021 11:59 PM IST

[2021-04-02 10:31] sairish2001 commented on #770
Go ahead
Deadline 7 April,2021 11:59 PM IST

[2021-04-02 10:32] sairish2001 commented on #777
Go ahead
Deadline 8 April,2021 11:59 PM IST

[2021-04-02 10:36] satyampgt4 commented on #753
**these are famous and standard problem in pnc
for example**

[2021-04-02 11:09] SarthakKeshari commented on #768
Sir @sairish2001,
       I found a bug that I can rectify. I am attaching the rectified image. If you approve of this kindly assign this issue to me.

![RECTIFIED - Output formatting error on reduction of equation](https://user-images.githubusercontent.com/55992140/113410734-c0fa2900-93d1-11eb-88de-9415b5797926.PNG)

[2021-04-02 12:06] SarthakKeshari commented on #759
Sir @sairish2001,
     Kindly assign this issue to me.

Thankyou

[2021-04-02 12:06] sairish2001 commented on #768
Great!
Go ahead
Deadline 7 April,2021 11:59 PM IST

[2021-04-02 16:09] #349 closed

[2021-04-02 18:55] SarthakKeshari opened #793 "Incorrect output in 15's ands 16's complement"
## **Describe the bug**

- Working over all the letter characters other than a,b,c,d,e and f should generate some prompt for user instead of NaN in this case of hexadecimal number system

## **Possible solution**

- Using appropriate technique to handle this issue and generate prompt for user over incorrect input

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
!

[2021-04-02 18:55] SarthakKeshari commented on #793
Kindly assign this issue to me @sairish2001

[2021-04-02 19:13] SarthakKeshari opened #794 "Show steps for calculation of 15's and 16's complement"
## **Is your feature request related to a problem? Please describe.**

- Showing steps for calculation of 15's and 16's complement calculation

## **Describe the solution you'd like**

- Adding required functionality to code base

![Attention - Show Steps for 15s and 16s complement calculation](https://user-images.githubusercontent.com/55992140/113446563-a47fe000-9415-11eb-8f1a-495ffe4ef8fd.PNG)

[2021-04-02 19:14] SarthakKeshari commented on #794
Kindly assign this issue to me @sairish2001

[2021-04-02 19:26] SarthakKeshari opened #795 "Adding calculator for set operations"
## **Is your feature request related to a problem? Please describe.**

- Adding calculator for set operations like union, intersection, etc.

## **Describe the solution you'd like**

- Making appropriate amendments in index.html and logicjavascript.js in order to add required functionality to the set calculator

Current state
![ADD - Calculator to set operation](https://user-images.githubuserconte

[2021-04-02 19:26] SarthakKeshari commented on #795
Kindly assign this issue to me @sairish2001

[2021-04-02 19:43] SarthakKeshari opened #796 "Inappropriate promt in LCM/HCF/Factors"
## **Describe the bug**

- In case of entering negative numbers "Enter numbers only" prompt is displayed instead of "Only positive values allowed"

## **Possible solution**

- Adding appropriate check over negative numbers to avoid faulty prompt

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![Attention - Inappropriate prompt given for negative values entered i

[2021-04-02 19:43] SarthakKeshari commented on #796
Kindly assign this issue to me @sairish2001

[2021-04-03 06:26] khareyash05 opened #797 "Elements not showing in search bar in ALgebra section"
Mathematrcal Reasoning, Operations on sets, Euclid Geometry and Sets,Relations and functions  of the tags arent being shown up in the search bar recommendations

[2021-04-03 06:29] khareyash05 opened #798 "Elements not showing in search bar of Calculus Section"
SOme of the elements of caluclus like expnasion,transofrmation of functions,inverse and periodicity of functions arent being shown up in search bar

[2021-04-03 07:10] SarthakKeshari opened #801 "Show steps for calculation of Empirical Probability"
## **Is your feature request related to a problem? Please describe.**

- Showing steps for calculation of Empirical Probability

## **Describe the solution you'd like**

- Adding required functionality to code base

![Attention - Show Steps for empirical probability calculation](https://user-images.githubusercontent.com/55992140/113471397-9ebbe600-9479-11eb-8603-164810951381.PNG)

[2021-04-03 07:11] SarthakKeshari commented on #801
Kindly assign this issue to me @sairish2001

[2021-04-03 07:11] SarthakKeshari opened #802 "Show steps for calculation of Joint Probability"
## **Is your feature request related to a problem? Please describe.**

- Showing steps for calculation of Joint Probability

## **Describe the solution you'd like**

- Adding required functionality to code base

![Attention - Show Steps for joint probability calculation](https://user-images.githubusercontent.com/55992140/113471423-cca12a80-9479-11eb-8154-7d5377f588a7.PNG)

[2021-04-03 07:11] SarthakKeshari commented on #802
Kindly assign this issue to me @sairish2001

[2021-04-03 07:11] madihamallick opened #803 "show steps and formula for profit and loss part"
## **Is your feature request related to a problem? Please describe.**

The calculation of profit does not show any **formula** for profit/loss calculation or profit/loss percentage calculation, I would like to add the same. Also I would like to add some steps. Kindly assign this issue to me under GSSoC.

## **Describe the solution you'd like**

-
![Capture](https://user-images.githubusercontent.co

[2021-04-03 07:26] madihamallick opened #804 "adding decimal to gray code converter and vice versa"
Under Binary Calculations, the **Grey Code Converter** calculates grey code to binary and vice-versa, I would also like to add decimal to grey and vice-versa here itself. Kindly assign this to me under GSSoC.

![Capture](https://user-images.githubusercontent.com/70858557/113471650-5ef5fe00-947b-11eb-88bd-fc3db986c08e.PNG)

[2021-04-03 07:31] SarthakKeshari opened #805 "Improve SI and CI calculator"
## **Is your feature request related to a problem? Please describe.**

- Adding the amount formula and amount calculation answer to the current presentation of SI and CI calculator

## **Describe the solution you'd like**

- Adding the required lines of code to the appropriate available function

![Attention - Add final amount to the answer of Simple and compound interest](https://user-images.gith

[2021-04-03 07:31] SarthakKeshari commented on #805
Kindly assign this issue to me @sairish2001

[2021-04-03 08:52] sairish2001 commented on #753
Go ahead
Deadline 7 April,2021 11:59 PM IST

[2021-04-03 08:53] #753 closed

[2021-04-03 08:55] #622 closed

[2021-04-03 08:55] #769 closed

[2021-04-03 08:56] #713 closed

[2021-04-03 08:57] #770 closed

[2021-04-03 08:57] #623 closed

[2021-04-03 08:58] #762 closed

[2021-04-03 08:59] #774 closed

[2021-04-03 09:01] #749 closed

[2021-04-03 09:01] #775 closed

[2021-04-03 10:12] khareyash05 opened #807 "curve tracing heart button not working"
The favourite button for curve tracing isnt working

[2021-04-03 13:47] madihamallick opened #810 "Bug in Decimal/BCD code converter"
## **Describe the bug**

Decimal/BCD code converter under Binary calculations displays the result of EMI calculation. I would like to remove that. Kindly assign this to me under GSSoC.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![Capture](https://user-images.githubusercontent.com/70858557/11

[2021-04-03 14:05] RoliGautam opened #811 "Problem in UI of boolean algebra"
## **Is your feature request related to a problem? Please describe.**
When we open a topic of the BOOLEAN ALGEBRA, the summary of all topics are align to left, which is not looking good and quite disapointed.

## **Describe the solution you'd like**
I can solve this problem and make it in middle , which will looks good.

I am attaching a screenshot of that issue..
Review it, It is not looking good

[2021-04-03 14:29] RoliGautam opened #812 "Add new operation on sets"
## **Is your feature request related to a problem? Please describe.**

I want to add a new operation in sets. I have read this section in this website and there is only four operation as: Union, Intersection, Difference and complement. But there is also an another operation exist in sets which is "symmetric difference of sets", So I want to add this new one operation in this section.
Can you pleas

[2021-04-03 14:55] RoliGautam opened #813 "Add some logics and topics in Sets, Relation and Functions"
## **Is your feature request related to a problem? Please describe.**
I want to add the explanation of types of function, which is not available in website.

Here , in your website there is only name of that function and one line description which is not enough to understand, so I want to add this logic and explanation in detail.
<img width="954" alt="Screenshot 2021-04-03 200325" src="https://use

[2021-04-03 15:27] satyampgt4 commented on #452
anyone working on this issue...?
if no can i work on it

[2021-04-03 15:29] satyampgt4 commented on #538
anyone working on this issue...?
as Deadline is over can i work on it

[2021-04-03 15:42] satyampgt4 opened #814 "exponential form of a complex number"
## Proposal
add feature to find  exponential form of a complex number ;
(A clear and concise description of what the proposal is.)

[2021-04-03 15:55] kanishka8276 commented on #452
@satyampgt4  Yes I am working on this issue. Actually previously their were bug in the site and then I got busy with my exams. Just give me a day if I am able to solve the issue otherwise I will let you know and then you can continue with this.

[2021-04-03 15:58] satyampgt4 opened #815 "roman convertor showing wrong output"
## **Describe the bug**

- roman numerals showing wrong output beyond five thousand

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

## output showing
![image](https://user-images.githubusercontent.com/59261812/113483763-b66b8c80-94c2-11eb-87e7-dddf2d90170d.png)

## correct showing
![image](https://user-images.githubusercontent.com/59261812/113483783-d00cd400

[2021-04-03 16:04] abhijeet141 commented on #538
Yes i am working on this issue actually my exam were going on i will complete it today

[2021-04-04 05:27] sairish2001 commented on #759
Go ahead
Deadline 9 April,2021 11:59 PM IST

[2021-04-04 05:28] sairish2001 commented on #586
@SarthakKeshari any update?

[2021-04-04 05:29] #510 closed

[2021-04-04 05:31] #452 closed

[2021-04-04 05:33] sairish2001 commented on #3
@Upasana1216 you are taking too long. Kindly tell me how many days you need, more?

[2021-04-04 05:54] #625 closed

[2021-04-04 05:56] #773 closed

[2021-04-04 05:57] #601 closed

[2021-04-04 05:58] #772 closed

[2021-04-04 05:59] #611 closed

[2021-04-04 05:59] #637 closed

[2021-04-04 07:02] #538 closed

[2021-04-04 07:09] sairish2001 commented on #793
Go ahead
Deadline 9 April,2021 11:59 PM IST

[2021-04-04 07:10] sairish2001 commented on #794
Go ahead
Deadline 9 April,2021 11:59 PM IST

[2021-04-04 07:10] sairish2001 commented on #795
Go ahead
Deadline 9 April,2021 11:59 PM IST

[2021-04-04 07:11] sairish2001 commented on #796
Go ahead
Deadline 9 April,2021 11:59 PM IST

[2021-04-04 07:12] sairish2001 commented on #797
Go ahead
Deadline 9 April,2021 11:59 PM IST

[2021-04-04 07:12] sairish2001 commented on #798
Go ahead
Deadline 9 April,2021 11:59 PM IST

[2021-04-04 07:13] sairish2001 commented on #801
Go ahead
Deadline 9 April,2021 11:59 PM IST

[2021-04-04 07:13] sairish2001 commented on #802
Go ahead
Deadline 10 April,2021 11:59 PM IST

[2021-04-04 07:14] sairish2001 commented on #803
Go ahead
Deadline 9 April,2021 11:59 PM IST

[2021-04-04 07:14] sairish2001 commented on #804
Go ahead
Deadline 10 April,2021 11:59 PM IST

[2021-04-04 07:16] sairish2001 commented on #805
You mean, you will show steps?

[2021-04-04 07:16] sairish2001 commented on #807
Go ahead
Deadline 9 April,2021 11:59 PM IST

[2021-04-04 07:33] SarthakKeshari commented on #586
Yes, I would be generating the PR atmost by 4pm

[2021-04-04 08:30] SarthakKeshari commented on #805
Sir @sairish2001 ,
I will add one more step for showing Final Amount after SI and CI calculation

[2021-04-04 08:48] sairish2001 commented on #805
Go ahead
Deadline 9 April,2021 11:59 PM IST

[2021-04-04 08:49] #732 closed

[2021-04-04 09:21] SarthakKeshari commented on #641
Sir @sairish2001,
Since I am designing for destop and mobile view both, I request you to increase the deadline till 8th April.

[2021-04-04 09:40] sairish2001 commented on #641
Deadline extended 9 April,2021

[2021-04-04 09:40] sairish2001 commented on #641
if any of either is ready, do share the screenshot

[2021-04-04 09:41] #586 closed

[2021-04-04 09:55] SarthakKeshari commented on #641
I am prototyping the mobile version and will send a working video or adobe link atmost by tomorrow evening

[2021-04-04 10:46] khareyash05 commented on #807
@sairish2001 Attached a PR Have a look!

[2021-04-04 10:46] khareyash05 commented on #764
@sairish2001 Attached a PR Have a look!

[2021-04-04 10:49] #764 closed

[2021-04-04 10:50] #807 closed

[2021-04-04 11:02] #765 closed

[2021-04-04 14:09] #797 closed

[2021-04-04 14:35] khareyash05 opened #824 "Elements not showing in search bar of Trigonometry Section"
Elements like P/B/H trigo, inverse trigo identities,trigo identities , expansion , laplace ,limits arent being shown up in search bar recommendations. I would like to fix

[2021-04-04 14:37] khareyash05 opened #825 "Elements not showing in search bar in Conic Section"
All the elements circle ,parabola ,ellipse and hyperbola arent showing in search bar recommendations. I would like to work on it

[2021-04-05 04:13] Muskan-creator opened #834 "create squareroot calculator"
## **Is your feature request related to a problem? Please describe.**

- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## **Describe the solution you'd like**

- A clear and concise description of what you want to happen.
Please assign me this issue @sairish2001

[2021-04-05 04:40] Muskan-creator opened #835 "bug in LCM|HCF|factor calculator"
## **Describe the bug**
![image](https://user-images.githubusercontent.com/59757988/113537768-2f6c0080-95f7-11eb-918e-f6b54cb8d102.png)

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
Can i work on this issue @sairish2001

[2021-04-05 09:57] #684 closed

[2021-04-05 09:59] #798 closed

[2021-04-05 10:00] #672 closed

[2021-04-05 10:01] #691 closed

[2021-04-05 10:02] #814 closed

[2021-04-05 10:03] #615 closed

[2021-04-05 10:04] #693 closed

[2021-04-05 10:05] #768 closed

[2021-04-05 10:06] #723 closed

[2021-04-05 12:11] Upasana1216 commented on #3
Sir due to health issues I won't be able to work for few weeks. So, may I

[2021-04-05 12:12] Upasana1216 commented on #3
Sir due to health issues I won't be able to work for few weeks.

[2021-04-05 13:53] zhcet19 opened #837 "Adding nth base root of a number option in a number"
## **Is your feature request related to a problem? Please describe.**

- I want to add an option to calculate nth root of a number in calculator ,currently only square root is present

## **Describe the solution you'd like**

- A clear and concise description of what you want to happen.

[2021-04-05 13:56] zhcet19 opened #838 "Adding e (expontenial) in calculator"
## **Is your feature request related to a problem? Please describe.**

- Currently there is no button to enter value of e in calculator.I want to add that

## **Describe the solution you'd like**

- A clear and concise description of what you want to happen.

[2021-04-05 16:03] #90 closed

[2021-04-05 16:30] RoliGautam commented on #812
@sairish2001 Can you please assign me?

[2021-04-05 16:30] RoliGautam commented on #811
@sairish2001 please assign me!

[2021-04-05 16:31] RoliGautam commented on #813
@sairish2001 please assign me!

[2021-04-05 16:32] AshuKV commented on #835
Can I work on this issue under GSSOC21? Kindly assign it to me.

[2021-04-05 16:32] AshuKV commented on #834
Can I work on this issue under GSSOC21? Kindly assign it to me.

[2021-04-05 16:34] sairish2001 commented on #813
Sorry, but no issues related to Documentation will be accepted.

You can move onto the Calculator, if you want to.

[2021-04-05 16:36] sairish2001 commented on #835
@Muskan-creator Can you please elaborate this issue

[2021-04-05 16:38] zhcet19 commented on #838
@sairish2001 please assign me this issue

[2021-04-05 16:38] zhcet19 commented on #837
@sairish2001  please assign me this issue

[2021-04-05 16:38] sairish2001 commented on #834
will you show steps for it?

[2021-04-05 16:39] sairish2001 commented on #811
Go ahead
Deadline 10 April,2021 11:59 PM IST

[2021-04-05 16:40] sairish2001 commented on #837
Go ahead
Deadline 10 April,2021 11:59 PM IST

[2021-04-05 16:41] RoliGautam commented on #811
@sairish2001 Thank you and I will do it within deadline!

[2021-04-05 16:42] sairish2001 commented on #825
Go ahead
Deadline 10 April,2021 11:59 PM IST

[2021-04-05 16:42] sairish2001 commented on #824
Go ahead
Deadline 10 April,2021 11:59 PM IST

[2021-04-05 16:43] sairish2001 commented on #815
Go ahead
Deadline 10 April,2021 11:59 PM IST

[2021-04-05 16:44] sairish2001 commented on #812
Are your talking about Calculator?

[2021-04-05 16:44] #813 closed

[2021-04-05 17:30] sairish2001 commented on #838
Go ahead
Deadline 10 April,2021 11:59 PM IST

add two exponentials
- **e**
- **exp(**

[2021-04-05 19:11] #536 closed

[2021-04-05 19:14] #815 closed

[2021-04-05 19:15] #794 closed

[2021-04-06 03:12] geniusbharti opened #843 "Any base to any base converter"
## **Is your feature request related to a problem? Please describe.**

- Missing any base to any base converter.

## **Describe the solution you'd like**

- A convertor inside the Basic converter feature that includes any base to any base conversion.

[2021-04-06 03:14] geniusbharti commented on #843
I would like to work on this issue.

[2021-04-06 04:14] Muskan-creator commented on #835
![image](https://user-images.githubusercontent.com/59757988/113657918-a0292080-96bc-11eb-8eca-00e62bf1d54c.png)
LCM is not working

[2021-04-06 04:16] Muskan-creator commented on #834
I can create a square root calculator under general math section.

[2021-04-06 04:19] sairish2001 commented on #834
Square root is already there in Calculator

[2021-04-06 04:21] anjali7786 commented on #4
![Page1](https://user-images.githubusercontent.com/57794837/113658327-78868800-96bd-11eb-9f22-5eb4374a57b0.PNG)
![pag32](https://user-images.githubusercontent.com/57794837/113658337-7d4b3c00-96bd-11eb-9587-a40f0f031e06.PNG)
![page3](https://user-images.githubusercontent.com/57794837/113658398-99e77400-96bd-11eb-8056-2314894d6b27.PNG)

@sairish2001 please review the implementation.

[2021-04-06 04:23] anjali7786 commented on #4
Sir, please tell me that how should I add the case when the inverse doesn't exist i.e |A|=0.

[2021-04-06 04:25] sairish2001 commented on #4
Everything is fine, just use
`.toFixed(3)` to set the precision of float number

[2021-04-06 04:26] sairish2001 commented on #4
You can run the determinant code before it's execution, make a check using if else

[2021-04-06 04:31] sairish2001 commented on #834
Go ahead
Deadline 11 April,2021 11:59 PM IST

[2021-04-06 04:32] sairish2001 commented on #834
Go ahead
Deadline 11 April,2021 11:59 PM IST

[2021-04-06 05:33] anjali7786 commented on #4
Does that mean I need to write the code for determinant also or somehow I can use it from the above function? Please tell.

[2021-04-06 06:27] Sukriti-sood commented on #74
@sairish2001 @shrey27tri01  Can I work on this?

[2021-04-06 06:28] #838 closed

[2021-04-06 06:29] #778 closed

[2021-04-06 06:30] sairish2001 commented on #4
Make a PR ,this condition will be treated in next issue

[2021-04-06 06:32] anjali7786 commented on #4
Okay sir

[2021-04-06 06:50] sairish2001 commented on #74
Go ahead
Deadline 11 April,2021 11:59 PM IST

[2021-04-06 07:17] Alenjojo commented on #716
Hey, for getting the currency value from the API needs  an API key, for that it will need an account too. Else it would be helpful if there is someone who is expert in web scraping.

[2021-04-06 08:37] ShrutiOmer opened #846 "Bug in factor calculator in general maths"
## **Describe the bug**

-When the user inputs a number, sometimes the correct result is not displayed.
 for example:- for 99 ,its showing only 11. Correct result should be 3,3,11
## **Possible solution**

- I will do some correction in code, so that correct answer will be displayed.
![prime factors](https://user-images.githubusercontent.com/75009990/113682854-34a57a00-96e1-11eb-8e38-b8a0b4675bef.

[2021-04-06 09:02] anjali7786 commented on #4
![pg](https://user-images.githubusercontent.com/57794837/113686384-d37fa580-96e4-11eb-80fa-8dbd148cfb1a.PNG)

@sairish2001 sir, .toFixed(3) method is not working for some steps. Please see.

[2021-04-06 09:19] sairish2001 commented on #4
may be because it's a string
try to convert it into Float and then apply fixed precision

`parseFloat(____).toFixed(3)`

[2021-04-06 09:21] #776 closed

[2021-04-06 09:41] #777 closed

[2021-04-06 09:42] sairish2001 commented on #835
LCM is working, but how will you find a LCM of 1 number?

[2021-04-06 09:44] sairish2001 commented on #846
Go ahead
Deadline 11 April,2021 11:59 PM IST

[2021-04-06 10:23] ShrutiOmer commented on #846
Thankyou for assigning

[2021-04-06 10:27] ShrutiOmer opened #848 "Bug in addition operation of fraction in general maths"
## **Describe the bug**

- In working procedure of addition of two fractions , the variable 'e' is not replaced by its value.

## **Screenshots**

![addition](https://user-images.githubusercontent.com/75009990/113697399-c5378680-96f0-11eb-993d-5ae08e6db169.png)

[2021-04-06 11:02] janvi01 opened #849 "Modify Trapezium working."
## **Is your feature request related to a problem? Please describe.**

- In trapezium under calculator for shapes, it asks user to input height as well as all sides .

## **Describe the solution you'd like**

-if user inputs all sides , we can find height using heron's formula and then equate accordingly.

I would like to add working of finding height and then accordingly using it to find area, pe

[2021-04-06 11:08] Muskan-creator commented on #835
In this it is written should be more than 1
so I think that greater than 1.It should be written like more than 1 value is required
sorry for misunderstanding

[2021-04-06 11:28] sairish2001 commented on #848
Go ahead
Deadline 11 April,2021 11:59 PM IST

[2021-04-06 11:29] sairish2001 commented on #849
Go ahead
Deadline 11 April,2021 11:59 PM IST

[2021-04-06 13:05] mehabhalodiya opened #850 "Adding T-Ratios for many angles in sequence"
## **Is your feature request related to a problem? Please describe.**

- The problem is that the values of trigonometric ratios are not well organized and also some values of some functions are missing too as you can see below:

![values](https://user-images.githubusercontent.com/73488906/113705170-be157600-96fa-11eb-9468-f95daaff0a39.png)

- One cannot find the values easily if the arrangement is

[2021-04-06 13:21] geniusbharti opened #851 "Subtraction of any Number System feature"
## **Is your feature request related to a problem? Please describe.**
Subtraction of any Number System feature is not present inside Binary Calculations.

![image](https://user-images.githubusercontent.com/75856835/113716261-09825100-9708-11eb-92e0-01543e5c7a4c.png)

## **Describe the solution you'd like**

I would like to add a Subtraction of any number system feature. Currently, the website has

[2021-04-06 13:28] RoliGautam commented on #812
No sir

[2021-04-06 13:53] geniusbharti opened #852 "Show formulae to calculate the Sum of Nterms of an Arithmetic Progression"
## **Is your feature request related to a problem? Please describe.**
![image](https://user-images.githubusercontent.com/75856835/113719417-37b56000-970b-11eb-96fe-d60cc203b2c5.png)

## **Describe the solution you'd like**

-To show formula to calculate the Sum of N Terms of an Arithmetic Progression below the solver when:
-first term, number of terms, and the common difference is given
-first ter

[2021-04-06 15:50] anjali7786 commented on #87
@sairish2001 kindly assign this issue to me under GSSOC'21

[2021-04-06 16:49] #824 closed

[2021-04-06 16:52] #4 closed

[2021-04-06 16:53] sairish2001 commented on #850
Go ahead
Deadline 11 April,2021 (11:59 PM IST)

[2021-04-06 16:53] RoliGautam commented on #811
Hello sir ..
@sairish2001 Can you please have a look of the solution of this issue? Is it okay ?

<img width="854" alt="Screenshot 2021-04-06 222100" src="https://user-images.githubusercontent.com/72242893/113748852-9805cb00-9726-11eb-8cc2-3b76a5124b20.png">

[2021-04-06 16:56] sairish2001 commented on #811
refer this [Katex Support Table](https://katex.org/docs/support_table.html) to write Math Text

[2021-04-06 17:00] RoliGautam commented on #811
ok sir, but.. is this look not good for this?

[2021-04-06 17:25] anjali7786 commented on #724
@sairish2001 kindly assign this issue to me under GSSOC'21

[2021-04-06 17:39] satcasm opened #855 "UI of favourite formulas"
After clicking on the ```favorite``` button, the favorite formulas begin displayed are not rendering properly.
The right-side border of the ```li``` is hiding behind the scroll bar.
Would like to fix it under GSSOC' 21.
Thanks!

Screenshot Reference:
![image](https://user-images.githubusercontent.com/56315878/113754335-bff82d00-972c-11eb-8bbc-8f7fd789dffc.png)

[2021-04-06 19:01] sairish2001 commented on #835
Go ahead
Deadline 10 April,2021 11:59 PM IST

[2021-04-06 19:01] #812 closed

[2021-04-06 19:01] #750 closed

[2021-04-06 19:01] #657 closed

[2021-04-06 19:54] Amit366 commented on #661
@sairish2001 can I work??

[2021-04-07 05:57] sairish2001 commented on #661
Go ahead
Deadline 11 April,2021 11:59 PM IST

[2021-04-07 05:58] sairish2001 commented on #811
are you familiar with Bootstrap?

[2021-04-07 06:15] shonali2600 opened #856 "Number facts which are shorter in length overflows out of its area."
![math bug](https://user-images.githubusercontent.com/57946528/113819119-7e03d100-9796-11eb-85d6-c4f89bc89216.png)

Here it is easily visible that some content is out of its area, and it also happens with most of the content. I would like to solve this issue as a GSSOC Participant.

[2021-04-07 06:21] shonali2600 opened #857 "[GSSOC'21] Hover effect to calculator"
## **Is your feature request related to a problem? Please describe.**

While clicking on any number or operator in the calculator, if it hovers it will give a feel of clicking it and would look more interactive.

## **Describe the solution you'd like**

I would like to add the hover effect to its keys.

[2021-04-07 06:24] shonali2600 opened #858 "scroll back to top button"
## **Is your feature request related to a problem? Please describe.**

I would like to add the scroll back to the top button, as it sometimes irritating to move to the top by scrolling.

[2021-04-07 06:25] janvi01 commented on #849
I have added.
Please have a look

<img width="715" alt="Screenshot 2021-04-07 at 11 50 27 AM" src="https://user-images.githubusercontent.com/34344234/113820209-020a8880-9798-11eb-9644-fd95bbf94b0c.png">
<img width="715" alt="Screenshot 2021-04-07 at 11 51 02 AM" src="https://user-images.githubusercontent.com/34344234/113820220-059e0f80-9798-11eb-8173-58ad8856336e.png">
<img width="715" alt="Screen

[2021-04-07 06:25] janvi01 commented on #849
Is it okay? @sairish2001

[2021-04-07 06:27] madihamallick opened #859 "Bug in Division of Fractions"
## **Describe the bug**
The division of Fractions under the General Math part solves for the undefined fractions as well, I would like to add a prompt to the user when they enter any undefined fraction.
![Capture1](https://user-images.githubusercontent.com/70858557/113820394-46962400-9798-11eb-972a-f5bcb50d6f5d.PNG)
![Capture2](https://user-images.githubusercontent.com/70858557/113820398-47c75100-

[2021-04-07 06:34] madihamallick opened #860 "Calculation part of EMI calculator"
## **Describe the bug**

Whenever we enter any values like 0.9, 0.3, etc (as the value of year which is later converted to months for calculations) it shows an error, whereas the calculation works perfectly with other values greater than 0. I would like to resolve this, Kindly assign this to me under GSSoC.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

![3

[2021-04-07 06:41] madihamallick opened #861 "Conversion of Improper to Mixed Fraction"
## **Describe the bug**

When we enter any fraction having denominator as 0, eg: 5/0 it should simply prompt as the value of fraction is undefined, instead it converts it to mixed. Also while converting it should simply print infinity rather it display it in mixed fraction form. I would like to resolve this, Kindly assign this to me under GSSoC.

## **Possible solution**

- Describe the solution y

[2021-04-07 07:02] RoliGautam commented on #811
yes, I know and also use it when I make my projects

[2021-04-07 07:11] sairish2001 commented on #849
put image at top of the modal, as it is in other modals

[2021-04-07 07:38] janvi01 commented on #849
Image is already there at the top,

<img width="715" alt="Screenshot 2021-04-07 at 1 06 38 PM" src="https://user-images.githubusercontent.com/34344234/113828556-28cdbc80-97a2-11eb-99f2-cf80bad1089c.png">

should i replace it or add (then there will be 2 image)?

[2021-04-07 07:38] janvi01 commented on #849
@sairish2001

[2021-04-07 07:45] sairish2001 commented on #849
Remove your image and go ahead with PR

[2021-04-07 11:21] sairish2001 commented on #856
Go ahead
Deadline 10 April,2021 11:59 PM IST

[2021-04-07 11:23] sairish2001 commented on #859
Go ahead
Deadline 12 April,2021 11:59 PM IST

[2021-04-07 11:25] sairish2001 commented on #860
Go ahead
Deadline 12 April,2021 11:59 PM IST

[2021-04-07 11:26] sairish2001 commented on #861
Go ahead
Deadline 12 April,2021 11:59 PM IST

[2021-04-07 11:29] sairish2001 commented on #811
So I would suggest you to use

grid system

[code]

So that it would show 3 identities in a single row, and 1 identity in smaller screens

[2021-04-07 11:32] #848 closed

[2021-04-07 11:33] #803 closed

[2021-04-07 11:34] #849 closed

[2021-04-07 11:37] sairish2001 commented on #641
@SarthakKeshari  Any update?

[2021-04-07 11:38] sairish2001 commented on #855
Go ahead
Deadline 11 April,2021 11:59 PM IST

[2021-04-07 11:58] RoliGautam commented on #811
ok , sure I will work using it

[2021-04-07 13:44] khareyash05 opened #865 "Pythagorean triplets"
Hi! I would like to add Pythagorean triplets for any value n

[2021-04-07 14:01] Maitryee-Choudhary opened #867 "Adding various sets formula"
## **Is your feature request related to a problem? Please describe.**

- I will be adding various formulas based on set theory.

## **Describe the solution you'd like**

- The formula like for group of 2 sets:
-  n(P U Q) = n(P) + (n(Q) – n (P ⋂ Q)
- n(P−Q)=n(P∩Q)−n(Q) and so on.

hey @sairish2001 would you please assign this issue to me

[2021-04-07 14:02] khareyash05 opened #868 "add searchbar recommendations for basic convertors"
I would like to add searchbar recommendations for basic convertors like cgpa calculator ,date,currency convertor , conversion to words

[2021-04-07 14:05] khareyash05 opened #869 "add searchbar recommendations for equations"
I would like to add searchbar recommendations for equations like location of roots , algebraic equation formulaes and play with equations

[2021-04-07 14:14] sairish2001 commented on #867
Go ahead
Deadline 11 April,2021 11:59 PM IST

[2021-04-07 14:38] Ankita297 commented on #223
Can i work on this ? @sairish2001

[2021-04-07 15:22] SarthakKeshari commented on #641
No, Due to unavoidable circumstances I am unable to complete this issue.
You may close this issue for me

[2021-04-07 15:26] satyampgt4 commented on #669
is this issue is open
can i work on it

[2021-04-07 15:26] satyampgt4 commented on #670
is this issue is open
can i work on it

[2021-04-07 15:26] satyampgt4 commented on #671
is this issue is open
can i work on it

[2021-04-07 15:27] satyampgt4 commented on #607
is this issue is open
can i work on it

[2021-04-07 15:28] satyampgt4 commented on #352
is this issue still open?if open can i work on this issue?

[2021-04-07 15:31] satyampgt4 commented on #719
is this issue still open?if open can i work on this issue?

[2021-04-07 15:33] abhijeet141 commented on #719
Hi @satyampgt4 i am still working on this issue there is some delay because my exams are going on

[2021-04-07 15:33] AB-san commented on #671
I am still working on it , and i have also asked @sairish2001 as my exams are going on!

[2021-04-07 15:34] satyampgt4 commented on #726
is this issue still open? can i work on this issue?

as deadline is over

[2021-04-07 15:34] satyampgt4 commented on #727
is this issue still open? can i work on this issue?

as deadline is over

[2021-04-07 15:35] satyampgt4 commented on #729
is this issue still open? can i work on this issue?

as deadline is over

[2021-04-07 15:49] satyampgt4 opened #871 "add alert while use different base other than selected"
## **Is your feature request related to a problem? Please describe.**

add alert while use different base other than selected

ex input un decimal while selected base is binary

## **Describe the solution you'd like**

- A clear and concise description of what you want to happen.

[2021-04-07 16:12] RoliGautam commented on #811
@sairish2001 There is also a bug , when we change website in white mode , the font of the properties not changed in black . Only headings(Annulment, Identity Law etc.)  color change into black. Can I solve this also?

[2021-04-07 16:17] khareyash05 commented on #352
Hey can i work on this issue?

[2021-04-07 16:25] satcasm opened #875 "Changing the units in style.css file"
While going through the ```style.css``` file , I noticed that all the properties are being used with values in ```px```. In order to keep the site responsive and flexible ,would like to change the units to ```rems/ems``` under GSSOC' 21.
Thanks!

[2021-04-07 17:35] SandeepKrSuman opened #876 "Mean Value Theorems"
I want to add mean value theorems inside calculus section. Mean Value Theorems include (i) Rolle's Theorem, and (ii) Lagrange's Mean Value Theorem (LMVT) . Geometrical Interpretation for these two can also be included for more clarity.

If seem relevant please assign this issue to me under gssoc21

[2021-04-07 19:32] Amit366 commented on #661
@sairish2001 I have done the project. But one problem i.e, the javascript is not returning the final value. Can u help?

[2021-04-07 19:33] Amit366 commented on #661
![Screenshot (183)](https://user-images.githubusercontent.com/60662775/113923531-416fbe00-9806-11eb-8300-b92272206ccb.png)
![Screenshot (182)](https://user-images.githubusercontent.com/60662775/113923551-47659f00-9806-11eb-8010-2284cd8eebc9.png)

[2021-04-08 03:41] keshavgbpecdelhi commented on #223
I had done this ig🤷‍♂️

[2021-04-08 06:43] mehabhalodiya opened #880 "Add Disjoint in Operations on Sets"
## Proposal

Sets can be combined in many different ways so as to produce new sets.

I want to add "Disjoint Sets" in `Operation on Sets` category.

![disjointset](https://user-images.githubusercontent.com/73488906/113980154-c5a45e80-9863-11eb-9db5-0edf73a6b497.png)

Kindly assign this to me under GSSoC.

[2021-04-08 08:22] #825 closed

[2021-04-08 08:23] #805 closed

[2021-04-08 08:25] #793 closed

[2021-04-08 08:58] #855 closed

[2021-04-08 08:59] #850 closed

[2021-04-08 09:00] #835 closed

[2021-04-08 09:01] #846 closed

[2021-04-08 09:02] #804 closed

[2021-04-08 09:04] sairish2001 commented on #865
Go ahead
Deadline 12 April, 2021 (11:59 PM IST)

[2021-04-08 09:05] sairish2001 commented on #868
Go ahead
Deadline 12 April, 2021 (11:59 PM IST)

[2021-04-08 09:05] sairish2001 commented on #869
Go ahead
Deadline 12 April, 2021 (11:59 PM IST)

[2021-04-08 09:06] sairish2001 commented on #871
Go ahead
Deadline 12 April, 2021 (11:59 PM IST)

[2021-04-08 09:06] sairish2001 commented on #875
Go ahead
Deadline 12 April, 2021 (11:59 PM IST)

[2021-04-08 09:07] sairish2001 commented on #876
Will you create a Calculator for it?

[2021-04-08 09:14] sairish2001 commented on #661
What's the output it showing?

[2021-04-08 09:15] Amit366 commented on #661
@sairish2001 it's not showing anything

[2021-04-08 09:16] sairish2001 commented on #661
be make sure the id's are unique, in the whole page.

Check whether any other element is having id='sp' or 'cp'

[2021-04-08 09:17] sairish2001 commented on #661
try to use div tag instead of p

may be the black color of text in p tag is not showing

[2021-04-08 09:23] Amit366 commented on #661
Ok

[2021-04-08 09:42] Amit366 commented on #661
@sairish2001 I think the result is not coming to the HTML part from js.

[2021-04-08 09:42] Amit366 commented on #661
I tried changing the p tag but no result

[2021-04-08 09:50] SandeepKrSuman commented on #876
Not the calculator.
Theorems and explanations.

[2021-04-08 11:33] kanishka8276 opened #882 "Adding calculator to find hyperbolic trigonometric ratios."
I would like to add a calculator to find hyperbolic trigonometric ratios.
Please assign this to me.

[2021-04-08 11:52] RaveenaBhasin opened #883 "Calculator for Energy unit convertor"
I would like to add calculator for different energy unit conversion.
Please assign this issue to me.

[2021-04-08 11:53] mehabhalodiya opened #884 "Add about permutations and combinations"
## **Is your feature request related to a problem? Please describe.**

- Problem: A calculator for permutation and combination exists but what if one don't know how to use, when to use, for what purpose it is made, which type of calculations can be done?

## **Describe the solution you'd like**

- In order to be understandable, information should be complete, concise, clear and in organized method

[2021-04-08 12:00] kanishka8276 opened #885 "UI enhancement in circle calc in conic section."
## **Is your feature request related to a problem? Please describe.**
There are contents in the last column which are not visible and the scroll bar is at the end of the page due to which a user has to scroll all the way to the bottom to scroll.

## **Describe the solution you'd like**
A scrollbar after each table will be better.
Please assign this to me.

![Screenshot (221)](https://user-images.g

[2021-04-08 12:38] kanishka8276 opened #886 "Wrong position of tetrahedron calculator"
Right now the tetrahedron is placed in shapes calculator, but it should be placed in 3-D shapes calculator.
Please assign this to me.

[2021-04-08 13:06] kanishka8276 opened #887 "Bug in Decimal-grey code conveter"
## **Describe the bug**
If there is no input N00 is displayed. Whereas there should be no output.
Please assign this to me.
![Screenshot (223)](https://user-images.githubusercontent.com/66053534/114031769-50538080-9899-11eb-86ba-98ebda620ebb.png)

[2021-04-08 13:14] kanishka8276 opened #888 "Duplicate option in Ops for 1 complex number."
Exponential form and euler representation are same thing. But they are given as 2 different options in  Ops for 1 complex number calculator. One of the option should be removed.
Please assign this to me.

![Screenshot (224)](https://user-images.githubusercontent.com/66053534/114032922-6f064700-989a-11eb-9dae-ec2d2329b621.png)

[2021-04-08 13:39] ShrutiOmer opened #889 "Change cursor for favourite heart shape when user hover over it"
## **Is your feature request related to a problem? Please describe.**

- When user hover over the heart shape the cursor should change from default to pointer cursor.
- If cursor not changes it seems the heart shape is for nothing.

[2021-04-08 13:45] ShrutiOmer opened #890 "Display a message if user not marked anything favourite when clicks on Favourite button."
## **Is your feature request related to a problem? Please describe.**

-When the user click on favourite and nothing is still marked favourite ,the message should display "nothing marked as favourite".

## **Describe the solution you'd like**

- I will add a message which display nothing in favourites

[2021-04-08 13:57] ShrutiOmer opened #891 "Bug in P/B/H calculator"
## **Describe the bug**

- After entering right dimensions for triangle still showing right angle triangle dimension not possible.

## **Screenshots**

- A right angle can have dimensions 4,3 and 5 as hypotenuse. Still showing not possible.
![favourite](https://user-images.githubusercontent.com/75009990/114039241-379a9900-98a0-11eb-8ae1-9935ec16c93b.png)

[2021-04-08 14:15] janvi01 opened #892 "Modify AP, GP part and add more content."
## **Is your feature request related to a problem? Please describe.**

Under Linear algebra dropdown, sum of nth term of AP, GP are there.

## **Describe the solution you'd like**

- I would like to add 'Sequence and series' option which would contain AP, GP part
- Add some more functionalities like get value of nth term, formulae list related to sequence and series.

[2021-04-08 14:39] ShrutiOmer opened #893 "Pressure convertor is not visible in basic converter"
## **Describe the bug**

- Pressure Converter is added but not visible

## **Screenshots**
![image](https://user-images.githubusercontent.com/75009990/114046261-53a13900-98a6-11eb-9907-a820e08a7740.png)

[2021-04-08 15:35] shonali2600 commented on #857
@sairish2001 sir, please try to assign me this issue, if this issue is valid.

[2021-04-08 16:48] sairish2001 commented on #811
![img](https://user-images.githubusercontent.com/60106112/114065405-42f9be80-98b8-11eb-81e6-aa3bd8407ce1.jpg)
image is just for illustration purpose

use Bootstrap to arrange like this

[2021-04-08 19:09] RoliGautam commented on #811
So.. Is it ok or need something ?

[2021-04-08 19:22] sairish2001 commented on #811
Use LaTex text for formulas

[2021-04-08 19:22] RoliGautam commented on #811
ok

[2021-04-09 03:53] coding-geek21 opened #897 "Degree and radians converter"
I am a gssoc'21 participant i would like to contribute to this issue

[2021-04-09 04:22] #856 closed

[2021-04-09 04:56] abhijeet141 opened #898 "To make Binary/Decimal/Hexadecimal/Octal convertor in one section"
I want to make all binary/hexadecimal/decimal/octal convertor in one section

[2021-04-09 04:57] abhijeet141 commented on #898
Hi, I want to work on this issue I will start working on it from 3rd April. I am a part of GSSoC'21.
Kindly assign this issue to me!
Discord Username : Abhijeet Sinha(P)
Discord Tag: #4018

[2021-04-09 08:30] RoliGautam commented on #811
Hello..
Check it please @sairish2001
How is it now??

<img width="926" alt="Screenshot 2021-04-09 135844" src="https://user-images.githubusercontent.com/72242893/114152331-c7d9ec00-993b-11eb-8ab5-2cdafaa60cde.png">

[2021-04-09 08:43] sairish2001 commented on #811
Go ahead with PR

[2021-04-09 08:45] RoliGautam commented on #811
Sure..Thank you

[2021-04-09 10:39] supriyagahoi opened #900 "Adding more type of 3D shapes"
In graphs and shapes their is section of Calculator of 3D shape  -There is only 5type of shapes are avilable for calculation.
I want to add more type of 3D shape  calculator in Graphs and Shapes .

[2021-04-09 10:41] supriyagahoi commented on #900
Hi, I want to work on this feature . I am a part of GSSoC'21.
Kindly assign this work to me!
Discord Username : supriya gahoi
Discord Tag: #2406

[2021-04-09 10:43] supriyagahoi commented on #891
Hi, I want to work on this issue. I am a part of GSSoC'21.
Kindly assign this issue to me!
Discord Username : supriya gahoi
Discord Tag: #2406

[2021-04-09 11:02] sairish2001 commented on #885
Go ahead
Deadline 14 April,2021 11:59 PM IST

[2021-04-09 11:03] sairish2001 commented on #887
Go ahead
Deadline 14 April,2021 11:59 PM IST

[2021-04-09 11:03] sairish2001 commented on #888
Go ahead
Deadline 14 April,2021 11:59 PM IST

[2021-04-09 11:04] sairish2001 commented on #889
Go ahead
Deadline 11 April,2021 11:59 PM IST

[2021-04-09 11:04] sairish2001 commented on #890
Go ahead
Deadline 14 April,2021 11:59 PM IST

[2021-04-09 11:06] sairish2001 commented on #893
Go ahead
Deadline 14 April,2021 11:59 PM IST

[2021-04-09 11:06] #865 closed

[2021-04-09 11:07] sairish2001 commented on #897
It's already there in Calculator

[2021-04-09 11:07] #897 closed

[2021-04-09 11:11] #726 closed

[2021-04-09 11:11] #727 closed

[2021-04-09 11:13] sairish2001 commented on #898
Go ahead
Deadline 14 April,2021 11:59 PM IST

It's already implemented, but are scattered and have different options for different operations, kindly merge into single option.

[2021-04-09 11:14] sairish2001 commented on #900
Go ahead
Deadline 14 April,2021 11:59 PM IST

[2021-04-09 11:16] khareyash05 opened #901 "other types of differential eqAUTIONS"
Hi!  I would like to add more differnt ways to solve differetial eqns
there are 11 ways to solve them in all
linear differntial equation  with constant coeffiecients

[2021-04-09 11:17] abhijeet141 commented on #898
Okay sir :)

[2021-04-09 11:17] sairish2001 commented on #891
Go ahead
Deadline 14 April,2021 11:59 PM IST

[2021-04-09 11:19] sairish2001 commented on #891
Go ahead
Deadline 14 April,2021 11:59 PM IST

[2021-04-09 11:25] sairish2001 commented on #843
Go ahead
Deadline 14 April,2021 11:59 PM IST

[2021-04-09 11:26] sairish2001 commented on #898
![#843](https://github.com/sairish2001/makesmatheasy/issues/843)
this issue is similar to urs.

[2021-04-09 11:27] #898 closed

[2021-04-09 11:28] sairish2001 commented on #884
Go ahead
Deadline 14 April,2021 11:59 PM IST

[2021-04-09 11:29] sairish2001 commented on #883
Go ahead
Deadline 14 April,2021 11:59 PM IST

[2021-04-09 11:30] sairish2001 commented on #880
Go ahead
Deadline 14 April,2021 11:59 PM IST

[2021-04-09 11:30] abhijeet141 commented on #898
Yes i did'nt notice that 🙂

[2021-04-09 11:30] sairish2001 commented on #886
Go ahead
Deadline 14 April,2021 11:59 PM IST

[2021-04-09 11:31] sairish2001 commented on #882
Go ahead
Deadline 14 April,2021 11:59 PM IST

[2021-04-09 11:32] sairish2001 commented on #892
Go ahead
Deadline 14 April,2021 11:59 PM IST

[2021-04-09 11:33] sairish2001 commented on #901
Use LaTeX only for formulas

for headings and text use simple font

[2021-04-09 11:39] khareyash05 commented on #901
Sure @sairish2001

[2021-04-09 11:40] ShrutiOmer commented on #891
Sir I have created this issue, you have assigned to someone else. Please assign it to me.

[2021-04-09 11:46] sairish2001 commented on #891
@ShrutiOmer Creating an issue and asking for assignment is two different things.

You should ask for assignment also.

[2021-04-09 11:46] ShrutiOmer commented on #891
Okk, I will take care of that.

[2021-04-09 12:04] shonali2600 commented on #858
I would like to work on this, Please try to assign me as a gssoc participant.

[2021-04-09 13:04] ShrutiOmer commented on #893
Thank you for assigning

[2021-04-09 13:04] ShrutiOmer commented on #890
Thank you for assigning

[2021-04-09 13:09] shonali2600 commented on #3
@sairish2001 sir, I would like to work on this issue, please assign this issue to me.

[2021-04-09 13:23] RaveenaBhasin commented on #883
@sairish2001 I have made the PR. Please have a look at it

[2021-04-09 13:23] Saumya-07 opened #906 "Added little feautres to enhance user experience"
## Feature request

->Search items from the content in the website and if not found then it should direct to google

->Add enter button to search bar as it would provide a better user experience

->I found the positioning of the calculator a little off, it should either show up as a whole or direct the user to the new page

I am a GSSOC participant and would be very happy to work on this project.

[2021-04-09 13:30] shonali2600 opened #907 "message display when any operation is not allowed on matrix."
## **Is your feature request related to a problem? Please describe.**
When user provides the size of matrix and is not allowed for some operations, then there a message should be displayed informing the user that you cannot perform addition or subtraction on matrix with the given inputs.

![mult](https://user-images.githubusercontent.com/57946528/114187193-59aa1f00-9965-11eb-9fd1-3dacb4f8c820.png)

[2021-04-09 13:39] RaveenaBhasin opened #909 "Adding calculator for force unit conversion"
I would like to add calculator for different units of force.
Please assign this issue to me.

[2021-04-09 13:47] khareyash05 opened #910 "steps for volume and surface of solid of revolution about an axis"
Hi! I would like to add steps for volume and surface of solid of revolution about an axis
with graphs and diagrams using latex

[2021-04-09 13:52] shonali2600 opened #911 "In about section some content is hard to read due to color issue in Light Mode"
## Proposal

I would like to design a card for this About section so that it will be easily visible and easy to read irrespective of the theme chosen, additionally, it will look much more attractive.

[2021-04-09 13:54] shonali2600 commented on #911
Please assign this issue to me, I would like to work on this as a gssoc participant.

[2021-04-09 14:04] shonali2600 opened #912 "Add power unit convertor"
## Proposal

I would like to add a power unit convertor. Please assign this issue to me as a gssoc participant.

[2021-04-09 14:29] madihamallick opened #913 "Bug in conversion of Improper to Mixed Fraction"
## **Describe the bug**

wrong answer is displayed when both numerator and denominator values are same. I would like to work on this issue. Kindly assign this to me under GSSoC.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

![Capture](https://user-images.githubusercontent.com/70858557/114195478-1dc78780-996e-11eb-87a0-13752ac1821b.PNG)

[2021-04-09 14:36] khareyash05 opened #914 "add searchbar recommendations for complex number section"
Hi! I would like to add searchbar recommendations for complex number section like properties identites and operations

[2021-04-09 14:37] khareyash05 opened #915 "add searchbar recommendations for probability section"
Hi! I would like to add searchbar recommendations for probability section for empirical prob,joint,bayes theorem,properties etc.

[2021-04-09 16:00] madihamallick opened #918 "Bug in Operation of fractions"
## **Describe the bug**

The **multiplication, subtraction and addition of Fractions** under the General Math part solves for the undefined fractions as well, I would like to add a prompt to the user when they enter any undefined fraction. Kindly assign this to me under GSSoC.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

![Capture1](https://user-images.gi

[2021-04-09 16:27] kanishka8276 opened #921 "Bug in hemisphere option in 3D shapes calculator"
## **Describe the bug**
Hemisphere option is not showing the output when the radius is entered.
Please assign this to me.

![Screenshot (228)](https://user-images.githubusercontent.com/66053534/114211712-99313500-997e-11eb-9bad-1be0f680a3b2.png)

[2021-04-09 16:32] Amit366 commented on #661
@sairish2001 should I send the PR?? So that you can check.

[2021-04-09 16:33] kanishka8276 opened #922 "Bug in Hollow sphere option in 3D shapes calculator."
## **Describe the bug**
Hollow hemisphere option doesn't show any output even when both the radiuses are entered.
Please assign this to me.

![Screenshot (229)](https://user-images.githubusercontent.com/66053534/114212336-57ed5500-997f-11eb-94f4-f171faa13753.png)

[2021-04-09 16:33] khareyash05 opened #923 "Cayley-Hamilton Theorem and diagonalization of matrix"
Hi! I would like to state Cayley Hamilton-theorem with proof and state on how to find diagonslized matrix of a given matrix

[2021-04-09 16:36] sairish2001 commented on #661
Okay

[2021-04-09 16:36] #889 closed

[2021-04-09 16:37] #880 closed

[2021-04-09 16:39] sairish2001 commented on #3
Go ahead
Deadline 15 April,2021 11:59 PM IST

[2021-04-09 16:40] #883 closed

[2021-04-09 16:41] #869 closed

[2021-04-09 16:41] kanishka8276 opened #924 "Adding link to index.html in contact.html"
There should be a link to go to the index.html in contact.html
Please assign this to me.

[2021-04-09 16:42] sairish2001 commented on #906
Go ahead
Deadline 15 April,2021 11:59 PM IST

[2021-04-09 16:43] sairish2001 commented on #906
Try not to add any new page

Try something in index.html, for the positioning of Calculator

[2021-04-09 16:49] kanishka8276 opened #925 "Bug in searchbar"
## **Describe the bug**
If there are more than 1 suggestions for an input the user cannot select 2nd and third option as numfacts covers them . They are visible but can not be selected.

Please assign this to me.

![Screenshot (231)](https://user-images.githubusercontent.com/66053534/114214130-8ff59780-9981-11eb-865a-63041bed1862.png)

[2021-04-09 16:53] sairish2001 commented on #907
![img](https://user-images.githubusercontent.com/60106112/114214568-16aa7480-9982-11eb-80d5-6fbabe1f4ea6.jpg)
It working properly
![Screenshot_20210409-222123_Chrome.jpg](https://user-images.githubusercontent.com/60106112/114214633-2924ae00-9982-11eb-95de-9fac2cc8de5d.jpg)

[2021-04-09 16:53] khareyash05 opened #926 "add hyperbolic trigonometric identities and expansions"
Hi! I would like to add hyperbolic trigonometric functions and their identities and their exapnsions

[2021-04-09 16:54] #868 closed

[2021-04-09 16:54] sairish2001 commented on #909
It's not a topic of maths

[2021-04-09 16:55] sairish2001 commented on #910
Means a Calculator?

[2021-04-09 17:11] shonali2600 commented on #907
@sairish2001 , like in my input case, it's not possible to add two matrices, it just gives the multiplication option from the dropdown but doesn't tell anything about addition or subtraction. So the user might get confused about why is he not getting the addition option on the matrix.
So I want is to display a proper message to inform where the user is going wrong.

[2021-04-09 17:23] khareyash05 commented on #910
No! @sairish2001  It actually can't be expressed by a calculator its a theory part and i will mention the steps with diagrams and explanations for each step

[2021-04-09 18:39] #811 closed

[2021-04-09 18:44] Saumya-07 commented on #906
Thank you for assigning me this project
I'll take care of the above mentioned

[2021-04-09 18:49] #861 closed

[2021-04-09 18:52] #886 closed

[2021-04-09 18:53] #888 closed

[2021-04-09 18:59] #661 closed

[2021-04-09 21:36] abhijeet141 opened #929 "None of the calculators are giving output"
## **Describe the bug**

-After providing input none of the calculator are giving output

## **Screenshots**

![image](https://user-images.githubusercontent.com/67696867/114243188-ca732a80-99a9-11eb-84ac-032525c835c8.png)

[2021-04-09 21:37] abhijeet141 commented on #929
Hi, I want to work on this issue. I am a part of GSSoC'21.
Kindly assign this issue to me!
Discord Username : Abhijeet Sinha(P)
Discord Tag: #4018

[2021-04-10 02:16] RaveenaBhasin commented on #909
Okay

[2021-04-10 02:16] #909 closed

[2021-04-10 02:19] RaveenaBhasin opened #930 "Bug in profit/loss calculator"
The profit loss calculator not showing any result when data is entered.
I would like to solve this issue. Please assign this issue to me.
![Screenshot (1710)](https://user-images.githubusercontent.com/73697080/114255156-45037080-99d1-11eb-9279-e25411a91676.png)

[2021-04-10 03:05] geniusbharti commented on #843
@sairish2001 Okay.

[2021-04-10 03:10] RaveenaBhasin opened #931 "Adding calculator for square pyramid"
I would like to add a calculator for the square pyramid in shape calculator.
Please assign this issue to me @sairish2001

[2021-04-10 03:11] RaveenaBhasin opened #932 "Adding calculator for conical frustum"
I would like to add a calculator for the conical frustum in shape calculator.
Please assign this issue to me @sairish2001

[2021-04-10 03:54] khareyash05 opened #933 "big favourite size in operation on sets and misalign"
the favourite button in operation of sets is too big and is causing misalignment of  tabs because of this buttons aren't working
![image](https://user-images.githubusercontent.com/60147732/114257643-0379c200-99df-11eb-8e2e-cd37223ddbdd.png)

[2021-04-10 04:05] khareyash05 opened #934 "favourite button already clicked for 3 items"
The favourite button is getting already clicked for operation on sets, simple and compound interest and cost and selling prices. I will undo that

[2021-04-10 04:48] AB-san opened #935 "Move 9's 10's complement in the same button as it is for the other complements!"
![image](https://user-images.githubusercontent.com/71064674/114258662-c7962b00-99e5-11eb-8b43-88832fa02189.png)

1)Rename 1's 2's complement -> (R-1)'s and R's complement
2) Move 9's 10's complement into button- (R-1)'s and R's complement

As well as update the same for  readme file
![image](https://user-images.githubusercontent.com/71064674/114258741-6a4ea980-99e6-11eb-919c-c0747356a42a.png)

[2021-04-10 04:49] AB-san commented on #935
Please assign me this issue

[2021-04-10 05:20] RaveenaBhasin opened #937 "Adding images in properties of circle section"
I would like to design an image of each property mentioned in the properties of the circle section so as to make it more attractive.
Please assign this issue to me.

[2021-04-10 05:25] AB-san opened #938 "Bug in button 'Cost and selling prices'"
1) Fix 'Cost and selling prices' -> button isnt working !!

[2021-04-10 05:25] AB-san commented on #938
Please assign me this issue

[2021-04-10 05:44] khareyash05 commented on #938
@AB-san i have already created the same issue #933 . Kindly close the issue

[2021-04-10 05:48] AB-san commented on #938
Okay I have changed my issue now its different from yours

[2021-04-10 06:05] shonali2600 opened #939 "Sidenav under the linear algebra, icon disturbs all other options"
## **Describe the bug**

under the linear algebra there is a big heart which disturbs the all other options, and some useless content(styling code) is displaying below it.

## **Possible solution**

I will resolve this issue

## **Screenshots**

![mathe](https://user-images.githubusercontent.com/57946528/114260162-ba326e00-99f0-11eb-939a-39a566e24aa7.png)

[2021-04-10 06:05] shonali2600 commented on #939
I would like to work on this issue, please assign it to me

[2021-04-10 06:24] rohank2502 opened #940 "Add link of Documentation Website rather than Repository link"
## **Describe the bug**

- A clear and concise description of what the bug is.
- I will like to add the website link of documentation website so it will be easy to directly navigate to website section

## **Possible solution**

- I will add the link in read me

[2021-04-10 07:18] RaveenaBhasin opened #942 "Pressure unit convertor missing"
The pressure unit convertor is missing i.e. it is not visible in the unit convertor section.
I would like to resolve the issue. Please assign this issue to me.
![Screenshot (1721)](https://user-images.githubusercontent.com/73697080/114261975-04205180-99fb-11eb-9144-6ee21ee39cdd.png)

[2021-04-10 07:20] ShrutiOmer opened #943 "Pressure and Time are shown in division of fractions"
## **Describe the bug**

- In Division of fractions under operation of fraction shows pressure and time which is irrelevant.

## **Screenshots**
![image](https://user-images.githubusercontent.com/75009990/114262003-1dc19900-99fb-11eb-993a-adae007f0b6d.png)

[2021-04-10 07:21] ShrutiOmer commented on #943
Please assign this issue to me. I am a Gssoc Participant.

[2021-04-10 07:26] ShrutiOmer opened #944 "GST Calculator"
## Proposal
I want to make a GST Calculator under general math , which calculates GST(CGST/SGST) from selected GST rate.

[2021-04-10 07:26] ShrutiOmer commented on #944
Please assign this issue to me, I am a Gssoc participant.

[2021-04-10 08:49] madihamallick opened #945 "Bug in Geometric Mean"
## **Describe the bug**

Geometric mean cannot be calculated for negative numbers.

## **Possible solution**

 I would like to display warning message when user enter any one negative value. Kindly assign this to me under GSSoc.

## **Screenshots**

![1](https://user-images.githubusercontent.com/70858557/114264257-74cd6b00-9a07-11eb-9f37-6156e0e4b419.PNG)