[2021-02-10 13:02] sairish2001 opened #1 "Design a Wireframe"
Wireframe needed for one page Web-Application
Appropriate Design for Explanation of Steps and Solution

For more clarification: [See Working](https://sairish2001.github.io/makesmatheasy.github.io/)

### Point to be Noted:
- It is one Page Application so design accordingly
- Should be Mobile friendly as going to release a Android App for the same
- Only Dark Mode (`#232a36`)-> Color Code

[2021-02-15 10:14] sairish2001 opened #2 "Reduce size of Materialize.min.js file"
**[Link to file](
https://www.github.com/sairish2001/makesmatheasy.github.io/tree/main/js%2Fmaterialize.min.js)**

Question!
Why and How I can reduce the size of file?
- I am using this file only for implementing SIDENAV provided by **Materialize**
- Rest of the functions I don't need in `materialize.min.js`
- Delete all Code other than SideNav's functionality

[2021-03-01 12:07] sairish2001 opened #3 "Improve code of Minors and Co-factors in Matrix Operations"
Write a code from scratch to solve Minors and Co-factors of a Matrix,
design a logic in the way, so that we can easily show steps of what we are doing.

Note!
No barrier of Time and Space Complexity. Feel free to write/design a code.

[Check out the previous code](https://github.com/sairish2001/makesmatheasy.github.io/blob/52f55fde909a8b4cc13f2d9ec7eb7a4831c90907/appjs/matrixlogic.js#L509)

[2021-03-01 12:17] sairish2001 opened #4 "Create Inverse of Matrix Calculator"
Design a code/logic to calculate Inverse of Matrix
Your can use either of any methods:
- Inverse of a Matrix using Elementary Row Operations (Gauss-Jordan)
- Inverse of a Matrix using Minors, Cofactors and Adjugate

Keep in mind!
Design a code in the way, so that we can easily show steps for what we are doing.

[2021-03-02 07:05] sachinh19 commented on #4
I would like to give this a go if you don't mind. I am relatively new to contribution in open source so I won't mind if you decide to do this yourself either.

[2021-03-02 07:07] sairish2001 commented on #4
should I assign this issue to you?

[2021-03-02 07:08] sachinh19 commented on #4
Yes

[2021-03-02 07:14] sairish2001 commented on #4
Thanks for showing interest, your every contribution is valuable. Feel free to ask your doubts if any.

[2021-03-02 07:16] sachinh19 commented on #4
Thanks. I will look into the codebase some more and come up with questions before I start working on the solution.

Do you have any contributing, branch naming or commit guidelines?

[2021-03-02 07:28] sairish2001 commented on #4
You can make a PR directly into **main branch** .

Kindly Read:
**[README.md](https://github.com/sairish2001/makesmatheasy.github.io/blob/main/README.md)**
**[CONTRIBUTING.md](https://github.com/sairish2001/makesmatheasy.github.io/blob/main/CONTRIBUTING.md)**

[2021-03-02 09:05] sairish2001 opened #5 "Create Angle plotter"
**Input Angle: 120°**
**Output:**
![PicsArt_03-02-02.31.58.jpg](https://user-images.githubusercontent.com/60106112/109624331-18537200-7b64-11eb-9510-b65c438ed494.jpg)
(image is just for illustration)

----
You can use any library if wants, or if wants to design your own logic then most welcome.**(Only libraries which compute in client side are allowed)**
Feel free to contribute in any way

[2021-03-03 22:10] sachinh19 commented on #4
I might take a few days to get this done, do you have any deadline for this? Asking this because I won't be able to deliver this urgently.

[2021-03-04 05:44] sairish2001 commented on #4
Sure, I will give you next 3 days more.
Have you understood the codebase or may I help?

[2021-03-04 07:04] sairish2001 opened #6 "Create helpjavascript.html page"
Since this project's working is entirely based upon JavaScript, but sometimes when JavaScript is disabled in the user's browser, the app will not work. So create a [HTML page](https://github.com/sairish2001/makesmatheasy.github.io/blob/main/helpjavascript.html) to guide user on how to enable JavaScript in your browser.
For different Browsers:
- Google Chrome
- Internet Explorer
- Microsoft Edge
-

[2021-03-04 08:26] sairish2001 opened #7 "Create Unit Converter Calculator"
Create a Unit Converter Calculator to convert Units

**Length**

- Millimeter
- Centimeter
- Meter
- Kilometer
- Inch
- Foot
- Yard
- Mile
- Nautical mile
- Mil

**Area**

- Acre
- Are
- Hectare
- Square centimeter
- Square foot
- Square inch
- Square meter

**Volume**

- Gallon (US)
- Gallon (UK)
- Liter
- Milliliter
- Cubic centimeter (cc)
- Cubic meter
- Cubic inch
- Cubic foot

**Mass**

- Ton

[2021-03-04 10:53] SHAIMA-HAQUE commented on #6
I would love to work on this issue. Could you please assign this to me. I am new to open source so I would take some time to implement it. You would like this to be added to the helpjavascript.html file right?

[2021-03-04 11:02] sairish2001 commented on #6
yeah! you are right! update the [helpjavascript.html](https://sairish2001.github.io/makesmatheasy.github.io/helpjavascript.html) page

[2021-03-04 11:05] sairish2001 commented on #6
Thanks for showing interest in this Project.
Take your time, to understand the codebase and feel free to ask doubts, if any. I will help you with that.

I will ask you the update in next 3 days.

[2021-03-04 11:07] SHAIMA-HAQUE commented on #6
Ok Thank you!

[2021-03-04 13:05] sairish2001 opened #8 "Responsive Font Size"
Make Font-Size responsive for whole application

Here's an example
![PicsArt_03-04-06 30 01](https://user-images.githubusercontent.com/60106112/109967663-b3407d80-7d17-11eb-971b-a40de2736921.jpg)

Make a good looking Symmetry in Font-Sizes

[2021-03-04 13:14] sairish2001 opened #9 "Element overlapping side-navbar"
Graph's Menu bar is overlapping the main-nav bar.
![PicsArt_03-04-06 37 06](https://user-images.githubusercontent.com/60106112/109968739-1a126680-7d19-11eb-9849-10a2412277bb.jpg)

Solution:
Try increasing z-index of side-nav
---
Graph is implemented in
- Plot Graph
- Integration
- Differentiation
- Laplace

You can test from any of the following

[2021-03-04 13:23] sairish2001 opened #10 "Categorise all available Calculators"
In side-navbar, Calculator Options are not properly categorised
![Screenshot_20210304-184803_Chrome](https://user-images.githubusercontent.com/60106112/109969834-5eeacd00-7d1a-11eb-990b-ed24dae9d941.jpg)

Categorise them with suitable Categories

Like under **General Maths** category:
there is
- Plot Graph

but it should be in other suitable category.

[2021-03-04 16:03] Avash027 opened #11 "Fix Numbers API functionality"
The Numbers API which is supposed to show trivia is not functioning. I would like to fix the issue

[2021-03-04 16:11] sachinh19 commented on #4
I will try my best to get done in three days but there is a good chance I won't be able to finish it this week as I am busy in my day job.

[2021-03-04 16:20] sairish2001 commented on #11
Go ahead. Thanks for showing interest in this project.

[2021-03-04 16:21] Avash027 commented on #11
Just one doubt. Should I make a separate JS file to implement this or implement in the index file

[2021-03-04 16:22] sairish2001 commented on #4
Take your time, I will not remove assignment, until someone else wants to work on it.

[2021-03-04 16:25] sairish2001 commented on #11
implement in index.js

[2021-03-04 17:28] Avash027 commented on #11
Sir, the PR is merged so the issue is resolved?

[2021-03-04 17:34] sairish2001 commented on #11
Well Done!
CORS issue is resolved but API with **http://** protocol fails to load in **https://**

[2021-03-04 17:36] sairish2001 commented on #11
Do you have a solution for it?

[2021-03-04 17:40] Avash027 commented on #11
Sir, It looks like the  API is only available for http. It fails for https

[2021-03-04 17:44] #11 closed

[2021-03-04 17:57] sairish2001 opened #13 "Design Homepage"
![PicsArt_03-04-11.24.25.jpg](https://user-images.githubusercontent.com/60106112/110007602-df242900-7d40-11eb-811c-2bd2c4deaf82.jpg)

Add some features to make it more user friendly.
like
- API to display some facts

come up with your own ideas

[2021-03-04 18:19] SHAIMA-HAQUE commented on #6
I have created a PR ,please review and tell me if there are any changes.

[2021-03-05 07:49] DeepanshuSarswat commented on #13
I would like to solve this problem as a part of girl Script Summer of code 2021

[2021-03-05 07:54] sairish2001 commented on #13
Sure!
Thanks for showing interest in this project.

[2021-03-05 07:57] sairish2001 commented on #13
Can you please tell me your ideas before implementation

[2021-03-05 07:58] sairish2001 commented on #13
Actually, it's a web App, not a website. So design accordingly.

[2021-03-05 08:06] sairish2001 opened #15 "Use Good Looking icons in Calculator"
![Untitled](https://user-images.githubusercontent.com/60106112/110085933-b8eda000-7db7-11eb-8f34-9df2640ef816.png)

Replace with icons

[2021-03-05 08:34] sairish2001 opened #16 "Conversion from Radian to Degree in Calculator"
Apply Working to Degree converter
![PicsArt_03-06-05 03 05](https://user-images.githubusercontent.com/60106112/110205451-f593c700-7e9d-11eb-85af-6e2fb5e3eedc.png)

Till now Default Answer is in Radians, I want to Convert it in Degree on clicking the DEG button

Working:
- Click DEG button
- DEG text changes to RAD
- fetch data from input field `document.getElementById('txt');`  having id="txt"
- R

[2021-03-05 11:58] Subhangini commented on #2
I want to work on this issue .

[2021-03-05 12:13] #6 closed

[2021-03-05 12:16] sairish2001 commented on #2
Thanks for showing interest in this Project.

[2021-03-05 12:41] Subhangini commented on #2
Thank you for assigning me .I am a beginner and I saw the  file and was not able to understand that huge code  but according to your instructions  I think that i have  to delete all other codes except  those containing ` sidenav ` right?

[2021-03-05 13:35] sairish2001 commented on #2
yeah!
I understand, code is not readable.
don't worry delete and check(hit and try) may work.

Tip!
Delete a code,
check sidenav's functionality not hindered.

[2021-03-05 13:35] sairish2001 commented on #2
be make sure, sidenav's functionality not hindered,
check before making PR

[2021-03-05 13:52] DeepanshuSarswat commented on #13
Initially for static design, I will use Html css  and Bootstrap. I will do the Java script for the API later.

[2021-03-05 14:29] Subhangini commented on #2
ok 👍

[2021-03-05 15:05] sairish2001 commented on #13
Great!
Try to find out good API's related to Maths and implement them in homepage

[2021-03-05 15:08] sairish2001 commented on #2
you have to look only into [materialize.min.js](https://www.github.com/sairish2001/makesmatheasy.github.io/tree/main/js%2Fmaterialize.min.js) file

don't remove any code from any other file other than it.

[2021-03-05 16:09] Ankita297 commented on #15
can i work on this ?

[2021-03-05 16:10] sairish2001 commented on #15
Thanks for showing interest in this Project.

[2021-03-05 17:47] satyampgt4 commented on #16
I would like to work on this issue as a part of GSSOC 2021 and I will make a PR for this when the contribution period starts.

[2021-03-05 18:43] sairish2001 commented on #16
Thanks for showing interest in this Project.
Feel free to ask your doubts if any.

[2021-03-06 05:59] sairish2001 commented on #5
Hint!
Can be implemented using HTML CANVAS

by drawing lines two lines with a particular angle in between them.

[2021-03-06 06:20] sairish2001 opened #17 "False Voice inputs in Calculator"
Calculator must allow only inputs containing integers,some arithmetic operations, and some special functions like (sin(), cos(),....etc)

---

For more clarification see video👇🏻

https://user-images.githubusercontent.com/60106112/110197352-13970280-7e71-11eb-893b-8d0435c6fa17.mp4

---

Solution:
You can use REGEX( Regular Expressions) for not allowing alphabets.
Special Case for:
![Screenshot_2021

[2021-03-06 11:37] sairish2001 commented on #16
Hey! @satyampgt4
I have updated the Issue, kindly read once again.
Actually the Answer is in Radians we have to convert it in Degrees.
Sorry for inconvenience.

[2021-03-06 15:51] sairish2001 opened #18 "Add log() and log10() to Calculator"
![Picture](https://user-images.githubusercontent.com/60106112/110212353-f9851080-7ec0-11eb-9691-d31a652f3db6.png)

---

Just Change the text of these two buttons when the user clicks on **More**
Refer to [`function more(){}`](https://github.com/sairish2001/makesmatheasy.github.io/blob/8fceba522f4b351926fc871c132ba18e7f835eb5/appjs/simplecallogic.js#L61) in [simplecallogic.js](https://github.com/sa

[2021-03-06 18:39] vmk8826 commented on #18
can you please give id of sqrt

[2021-03-06 18:54] vmk8826 commented on #18
Done

[2021-03-06 18:55] sairish2001 commented on #18
You can add id to sqrt button by yourself

[2021-03-06 18:56] vmk8826 commented on #18
Done

[2021-03-06 18:57] vmk8826 commented on #18
it is working now

[2021-03-06 18:57] sairish2001 commented on #18
Can I assign this issue to you?

[2021-03-06 18:57] vmk8826 commented on #18
yes

[2021-03-06 18:58] vmk8826 commented on #18
How do I upload the code
I am new to this

[2021-03-06 19:01] vmk8826 commented on #18
![converted github](https://user-images.githubusercontent.com/68069180/110217857-7a053a80-7edc-11eb-9cb9-6de11db761de.png)

[2021-03-06 19:02] vmk8826 commented on #18
this is what you wanted right

[2021-03-06 19:03] sairish2001 commented on #18
Yes! exactly
When you click **More** button will it's content change back to √ and . ?

[2021-03-06 19:04] sairish2001 commented on #18
Be make sure when user clicks **√** it must display **sqrt(** not **√** on input field

[2021-03-06 19:08] sairish2001 commented on #18
- fork this repository
- clone it in your local repository
- make changes to code
- make a commit to forked repository
- from forked repository make a PR with appropriate Message and Title

[2021-03-06 19:17] vmk8826 commented on #18
I have created a pull request
Did you get it

[2021-03-06 19:20] sairish2001 commented on #18
Well Done!
Thanks for your contribution.
Congratulations! your PR has been merged

[2021-03-06 19:21] #18 closed

[2021-03-06 19:34] sairish2001 opened #20 "Wrong input on button click in Calculator"
When user clicks **log10(** it displays **sqrt(** but should display **log10(** in input field
![Untitled](https://user-images.githubusercontent.com/60106112/110218604-a458f700-7ee0-11eb-9baa-f0ab9c6523d0.png)

Also on clicking More
![Untitledd](https://user-images.githubusercontent.com/60106112/110218634-d10d0e80-7ee0-11eb-8579-898da5b5f492.png)
Be make sure that on clicking √ it must display **s

[2021-03-07 10:25] satyampgt4 commented on #16
to get answer in Degrees.
i  try using following code
[code]
for all element like zero, one, two ...nine

to do i also need to remove all inline onclick call in index.html like -

[code]

so should i procede or you have any other suggetion to do so @sairish2001

[2021-03-07 10:28] sairish2001 commented on #16
This will hinder the all functionality, i will suggest you something

[2021-03-07 10:42] sairish2001 commented on #16
Is your code is working fine?

[2021-03-07 10:56] sairish2001 commented on #16
Go ahead with your code!

[2021-03-07 10:59] sairish2001 commented on #15
Any update? @Ankita297

[2021-03-07 11:00] sairish2001 commented on #2
Any Update? @Subhangini

[2021-03-07 11:32] sairish2001 opened #21 "Add Calculators in Searchbar"
Add All available calculators in autocomplete field

![Untitled](https://user-images.githubusercontent.com/60106112/110237769-c5aef700-7f63-11eb-9f15-5fd2983fe191.png)

When the user starts typing it shows all Calculators with matched keywords (logic for it is already implemented)

Your task is to add all available calculators in its functionality

Look into these codes
[click here](https://github

[2021-03-07 12:47] Ankita297 commented on #15
![Makes Math Easy - Google Chrome 07-03-2021 18_16_03 (2)](https://user-images.githubusercontent.com/67833077/110240324-6526b680-7f71-11eb-85ad-22ceec501bda.png)

[2021-03-07 12:48] Subhangini commented on #2
ok

[2021-03-07 12:48] Subhangini commented on #2
Working on it

[2021-03-07 12:48] Ankita297 commented on #15
Sir is it okay ?
I have used font awesome icons .
If it is okay then i will make a PR .

[2021-03-07 12:55] sairish2001 commented on #15
It is not looking good, divide icon is looking different from others, try to maintain equality.
yes it's fine, but we are using fontawesome for just these 4 icons, but it loads whole file, hence increases loading time. So, I suggest to download icons from [flaticons](https://www.flaticon.com/)  or any other platform and save it locally in [icons](https://github.com/sairish2001/makesmatheasy.github

[2021-03-07 13:11] Ankita297 commented on #15
okay Sir.

[2021-03-07 14:26] sairish2001 opened #22 "Add Steps of Solving Roundoff"
[function Roundoff Calculator](https://github.com/sairish2001/makesmatheasy.github.io/blob/bc21219c8c6a8c6f6746217e646fe1cef8f901f1/appjs/logicjavascript.js#L1656)

Try to understand the code and show steps of what we are doing

---
**Example:**

Input Number: **6473**

Place of Roundoff: **Hundred**

<table>
    <tr>
      <th>Thousand</th>
      <th>Hundred</th>
      <th>Tens</th>
      <th>One

[2021-03-07 15:47] sairish2001 opened #23 "Create Calculator to Roundoff decimal numbers"
Create a calculator which Calculates Roundoff of a decimal number and implement it in [function roundoff()](https://github.com/sairish2001/makesmatheasy.github.io/blob/bc21219c8c6a8c6f6746217e646fe1cef8f901f1/appjs/logicjavascript.js#L1656)
you can check the condition that
[code]

Till now [function roundoff()](https://github.com/sairish2001/makesmatheasy.github.io/blob/bc21219c8c6a8c6f6746217e646

[2021-03-07 18:30] anjali7786 commented on #21
Hii, I would like to work on this issue under GSSoc 2021, please assign this issue to me.

[2021-03-07 18:31] sairish2001 commented on #21
Feel Free to ask your doubts, if any

[2021-03-07 18:35] DEEPALI-SUK commented on #23
I want to work on this issue and want to contribute to this.I am a participant of GSSOC 2021. Please could you assign me this issue as a part of GSSOC 2021.
Thank you.

[2021-03-07 18:37] DEEPALI-SUK commented on #23
Could you please tell me whether the function needs to be completed or we have to design a calculator?

[2021-03-07 18:39] sairish2001 commented on #23
No No, just complete a function.

[2021-03-07 18:40] DEEPALI-SUK commented on #23
I want to work on this issue and want to contribute to this. I am a participant of GSSOC 2021. Please could you assign me this issue as a part of GSSOC 2021.
Thank you.

[2021-03-07 18:46] sairish2001 commented on #23
Feel Free to ask your doubts, if any

[2021-03-07 18:51] satyampgt4 commented on #16
yes it is working

[2021-03-07 18:52] DEEPALI-SUK commented on #23
Ok and please could you tell me the deadline for this?

[2021-03-07 18:52] DEEPIKA-SUK commented on #20
I am a participant of GSSOC 2021. I want to contribute to this issue and work on the same. Please could you assign me this issue as a part of GSSOC 2021.
Thank you.

[2021-03-07 18:56] sairish2001 commented on #23
Take your time, I will ask you for the update after 3 days.

In the meantime, if any other participant comes and wants to work on this issue, I will ask you for the update before assigning him/her.

[2021-03-07 18:57] sairish2001 commented on #20
Feel free to ask your doubts, if any

[2021-03-07 18:58] DEEPIKA-SUK commented on #20
Thank you sir!

[2021-03-07 18:59] anjali7786 commented on #21
Thank you....will you please tell me the deadline?

[2021-03-07 19:01] sairish2001 commented on #21
Take your time, I will ask you for the update after 3 days.

In the meantime, if any other participant comes and wants to work on this issue, I will ask you for the update before assigning him/her.

[2021-03-07 19:02] sairish2001 commented on #16
Will your work be done by tomorrow?

[2021-03-07 19:06] satyampgt4 commented on #16
it is already done i just waiting once gsoc coding period officially start to make pull request

[2021-03-07 19:30] sairish2001 opened #24 "Create PNG Images of Shapes"
![equilateral](https://user-images.githubusercontent.com/60106112/110251633-670b6c80-7fa7-11eb-9782-446300fa96cd.png)

---

![isosceles](https://user-images.githubusercontent.com/60106112/110251638-6b378a00-7fa7-11eb-944b-d04a958e1145.png)

---

As the above images describe what's wrong in this.

Your task is to create PNG images for shapes:
- Equilateral Triangle [Click here](https://www.google.c

[2021-03-07 19:32] sairish2001 commented on #13
Any update?

[2021-03-07 19:43] vmk8826 commented on #8
can you assign this issue to me please

[2021-03-07 19:44] vmk8826 commented on #8
I am a GSoC 2021 aspirant

[2021-03-07 19:57] sairish2001 commented on #8
Feel Free to ask your doubts, if any

[2021-03-07 20:01] sairish2001 opened #25 "Add to Home Screen Pop up"
![Untitled-1 copy](https://user-images.githubusercontent.com/60106112/110252899-a341cb80-7fad-11eb-9558-424c410cb1d7.jpg)
(This is an edited image just for illustration)

When user visits this web App from mobile, this popup must come.

[2021-03-08 03:45] AishwaryaKaranth commented on #25
Can I work on this as part of GSSOC'21 ?

[2021-03-08 04:32] sairish2001 commented on #25
Feel free to ask your doubts, if any

[2021-03-08 04:34] sairish2001 commented on #16
Go ahead with PR, GSSOC'21 periods starts.

[2021-03-08 05:36] sairish2001 commented on #23
Don't use any inbuilt function to roundoff

Design your own code.
If wants a Hint how to design logic, feel free to ask.

[2021-03-08 06:14] sairish2001 opened #26 "Check Empty field"
In DIVIDE Calculator
![PicsArt_03-08-11.29.04.jpg](https://user-images.githubusercontent.com/60106112/110281802-61dc0b00-8003-11eb-89ed-bafb43cf12cb.jpg)

---

In Multiplication Table Calculator
![PicsArt_03-08-11.32.50.jpg](https://user-images.githubusercontent.com/60106112/110281859-7b7d5280-8003-11eb-8e7e-d0c00764e039.jpg)

---

In Ascending and Descending Order Calculator

![PicsArt_03-08-11.3

[2021-03-08 07:04] sukhpreet-singh1 commented on #26
can you please assign me this issue under GSSOC 21

[2021-03-08 07:05] sukhpreet-singh1 commented on #24
can you assign me this issue under GSSOC 21

[2021-03-08 07:08] sairish2001 commented on #26
Feel free to ask your doubts, if any

[2021-03-08 07:08] sairish2001 commented on #24
Feel free to ask your doubts,if any

[2021-03-08 08:25] DEEPALI-SUK commented on #23
Ok sir.

[2021-03-08 08:30] sairish2001 commented on #16
Well Done, Great Work!
Thanks for your contribution.

[2021-03-08 08:30] #16 closed

[2021-03-08 09:16] sairish2001 opened #28 "Create Trigonometry values Table"
Using HTML table create a Trigonometry table to display all these values.

![maxresdefault](https://user-images.githubusercontent.com/60106112/110297480-88a53c00-8019-11eb-8cc7-a100a99705e6.jpg)

---

Since we are using [Bootstrap](https://getbootstrap.com/docs/4.0/getting-started/introduction/) framework for styling.

You can use `class="table table-bordered"`
[code]
For documentation of Bootstra

[2021-03-08 09:44] haripriya9647 commented on #28
hey I would like to work on this issue

[2021-03-08 09:49] haripriya9647 commented on #22
Hey can you assign me??

[2021-03-08 09:51] haripriya9647 commented on #10
Hey I would like to work on this issue but I need a little guidance.

[2021-03-08 10:17] sairish2001 commented on #22
Feel free to ask doubts, if any.

Can you please tell are you a GSSOC'21 participant?

[2021-03-08 10:24] haripriya9647 commented on #22
Yes I am GSSOC21 participant.

[2021-03-08 10:26] sairish2001 commented on #13
@DeepanshuSarswat Are you able to solve this issue. Any Update?

[2021-03-08 10:30] sairish2001 commented on #28
Feel free to ask your doubts, if any.

[2021-03-08 10:33] sairish2001 commented on #10
Sorry! Since I already assigned you 2 issues, and you are currently working on it. Once you complete your either of any issue. I will assign you this also.

but in the meantime, if any other participant comes, I will assign to him/her.

[2021-03-08 10:33] haripriya9647 commented on #28
Where does project discussions takes place??

On Mon, 8 Mar 2021, 4:01 pm Rajinderpal Singh, <notifications@github.com>
wrote:

[2021-03-08 10:39] sairish2001 commented on #28
[Read](https://github.com/sairish2001/makesmatheasy.github.io/blob/main/CONTRIBUTING.md)

[2021-03-08 10:40] sairish2001 opened #29 "Kindly Read Contributin.md"
[Read](https://github.com/sairish2001/makesmatheasy.github.io/blob/main/CONTRIBUTING.md)

[2021-03-08 10:42] #29 closed

[2021-03-08 10:44] sairish2001 commented on #26
[Read](https://github.com/sairish2001/makesmatheasy.github.io/blob/main/CONTRIBUTING.md)

[2021-03-08 10:44] sairish2001 commented on #25
[Read](https://github.com/sairish2001/makesmatheasy.github.io/blob/main/CONTRIBUTING.md)

[2021-03-08 10:44] sairish2001 commented on #24
[Read](https://github.com/sairish2001/makesmatheasy.github.io/blob/main/CONTRIBUTING.md)

[2021-03-08 10:45] sairish2001 commented on #23
[Read](https://github.com/sairish2001/makesmatheasy.github.io/blob/main/CONTRIBUTING.md)

[2021-03-08 10:45] sairish2001 commented on #21
[Read](https://github.com/sairish2001/makesmatheasy.github.io/blob/main/CONTRIBUTING.md)

[2021-03-08 10:45] sairish2001 commented on #20
[Read](https://github.com/sairish2001/makesmatheasy.github.io/blob/main/CONTRIBUTING.md)

[2021-03-08 10:45] sairish2001 commented on #17
[Read](https://github.com/sairish2001/makesmatheasy.github.io/blob/main/CONTRIBUTING.md)

[2021-03-08 10:46] anjali7786 commented on #21
Hello...will you please tell me that I have to show the suggestions for the id's given in openit function only or others also.
Like: id for  Roman/Arabic Numerals is not mentioned in the function so I have to show this also or not?

[2021-03-08 10:46] sairish2001 commented on #9
[Read](https://github.com/sairish2001/makesmatheasy.github.io/blob/main/CONTRIBUTING.md)

[2021-03-08 10:46] sairish2001 commented on #8
[Read](https://github.com/sairish2001/makesmatheasy.github.io/blob/main/CONTRIBUTING.md)

[2021-03-08 10:47] sairish2001 commented on #5
[Read](https://github.com/sairish2001/makesmatheasy.github.io/blob/main/CONTRIBUTING.md)

[2021-03-08 10:47] sairish2001 commented on #4
Can you please tell are you a GSSOC'21 participant?
[Read](https://github.com/sairish2001/makesmatheasy.github.io/blob/main/CONTRIBUTING.md)

[2021-03-08 10:48] sairish2001 commented on #3
[Read](https://github.com/sairish2001/makesmatheasy.github.io/blob/main/CONTRIBUTING.md)

[2021-03-08 10:48] sairish2001 commented on #2
[Read](https://github.com/sairish2001/makesmatheasy.github.io/blob/main/CONTRIBUTING.md)

[2021-03-08 10:48] sachinh19 commented on #4
I am not.

[2021-03-08 10:58] satyampgt4 commented on #7
I would like to work on this issue as a part of GSSOC 2021 @sairish2001 please assign it to me

[2021-03-08 11:01] sairish2001 commented on #21
Yess you have to show, actually it's a **modal** hence code for opening and closing modal is different., that's why it's id is not there in function openit().

That's my mistake, I haven't noticed it, thanks for pointing out

[2021-03-08 11:01] sairish2001 commented on #7
Feel Free to ask your doubts, if any

[2021-03-08 11:16] anjali7786 commented on #21
ok sir...thank you

[2021-03-08 11:28] DeepanshuSarswat commented on #13
@sairish2001  I am trying, I will update you soon

[2021-03-08 11:34] Ankita297 commented on #15
Sir on active state sholud i change the whole background color of button
![Makes Math Easy - Google Chrome 08-03-2021 17_02_25](https://user-images.githubusercontent.com/67833077/110316166-594df980-8030-11eb-9d30-f07ca8e290c8.png)
or not ?

[2021-03-08 11:35] Ankita297 commented on #15
I have used svg icons .

[2021-03-08 11:36] sairish2001 commented on #15
Great!
Keep it simple don't change background color

[2021-03-08 11:37] sairish2001 commented on #15
[Read](https://github.com/sairish2001/makesmatheasy.github.io/blob/main/CONTRIBUTING.md)

[2021-03-08 11:39] Ankita297 commented on #15
okay sir

[2021-03-08 12:22] Ankita297 commented on #10
Can i work on this ?

[2021-03-08 12:25] sairish2001 commented on #10
Feel free to ask your doubts, if any

[2021-03-08 13:26] Sukriti-sood commented on #17
@sairish2001  Can you assign this to me.

[2021-03-08 13:28] sairish2001 commented on #17
Feel Free to ask your doubts, if any

[2021-03-08 13:29] SravanKumarBattu commented on #4
Can i have this issue to solve ?

[2021-03-08 13:35] sairish2001 commented on #4
Feel Free to ask your doubts, if any

[2021-03-08 13:36] Ruchip16 commented on #8
@sairish2001 Can I work on this issue?

[2021-03-08 13:53] DeepanshuSarswat commented on #13
can you please share Discord/Slack link for this Project ?

[2021-03-08 14:08] robin025 opened #31 "Documentation for Makes Math Easy"
This feature will provide easy-to-read documentation to the users.

Hey @sairish2001, I have used this project and I think I am facing some issues while doing some calculations, not because of the code but because of less documentation available on this project

So here my suggestion request!
So while going through the project I was not able to fill the blanks correctly in the [website](https://sa

[2021-03-08 14:43] janvi01 commented on #28
I would like to work on this issue under GSSOC '21.

[2021-03-08 15:03] sairish2001 commented on #31
Go ahead, Good Issue.

[2021-03-08 15:04] sairish2001 commented on #28
Feel free to ask your doubts, if any

[2021-03-08 15:05] RituCs commented on #25
Hello, can I work on this issue?Is it still open?

[2021-03-08 15:16] AishwaryaKaranth commented on #25
I am working on it.

[2021-03-08 15:17] sairish2001 commented on #8
@Ruchip16 This issue is already assigned. Sorry!
Explore other issues

[2021-03-08 15:23] sairish2001 commented on #13
The server will be provided by GirlScript itself. Till now we don't have any server but. You can DM me anytime on Discord (username: sairish2001#7710)

[2021-03-08 15:38] vmk8826 commented on #8
can you give me the reference to the file in which the CSS of this page is present?

[2021-03-08 15:41] sairish2001 commented on #25
Can you please make me clear When the Pop up will show, as I am viewing this site from Mobile but no pop-up comes

[2021-03-08 15:44] AishwaryaKaranth commented on #25
When viewed in mobile device, it should be visible.
I'll recheck again.

[2021-03-08 15:44] vmk8826 commented on #8
is it overflowing in mobile devices, because I did not experience any overflow in my laptop?

[2021-03-08 15:45] AishwaryaKaranth commented on #25
But the manifest.json file is validated successfully. Service worker also is registered.

[2021-03-08 15:45] sairish2001 commented on #25
Open the site in your phone

[2021-03-08 15:48] RituCs commented on #9
Please assign this issue.

[2021-03-08 15:50] AishwaryaKaranth commented on #25
It is not showing up now.

[2021-03-08 15:51] sairish2001 commented on #8
[css/style.css](https://github.com/sairish2001/makesmatheasy.github.io/blob/main/css/style.css)
also maybe inline CSS also used in (index.html)

[2021-03-08 15:52] vmk8826 commented on #8
okay
i found the id "inputlaplace" but I am not able to  find its reference

[2021-03-08 15:52] DEEPIKA-SUK commented on #20
![Screenshot](https://user-images.githubusercontent.com/64724039/110344654-b909cc00-8053-11eb-8822-b4dac86580a2.png)
Please review my work and please could you tell me when should I create the pull request.

[2021-03-08 15:52] sairish2001 commented on #8
Yes, Overflow occurs in mobile devices

[2021-03-08 15:53] srimontidutta commented on #31
Can I contribute to this project's documentation as a part of GSSoC 21?

[2021-03-08 15:54] sairish2001 commented on #8
You are talking about in CSS reference?
look into
[code]
in [css/style.css](https://github.com/sairish2001/makesmatheasy.github.io/blob/main/css/style.css)

[2021-03-08 15:56] srimontidutta commented on #28
Can I contribute to this issue as a part of GSSoC 21?

[2021-03-08 15:57] sairish2001 commented on #31
@srimontidutta  Sorry! issue is already assigned

[2021-03-08 15:57] janvi01 commented on #28
where do we have to add our div trigonovaluestable?
I have added in div container but it isn't going well.

[2021-03-08 15:57] sairish2001 commented on #28
Sorry! issue is already assigned

[2021-03-08 15:59] sairish2001 commented on #20
Is your code is working fine with **√** symbol in input field?

[2021-03-08 15:59] sayna3311 commented on #3
I would love to work on this issue. Please, assign this to me?

[2021-03-08 16:01] sayna3311 commented on #9
I would love to work on this issue. Please assign this to me?

[2021-03-08 16:03] DEEPIKA-SUK commented on #20
Yes sir. I have provided this example as the input in the above attached screenshot and it's showing the correct output.

[2021-03-08 16:03] sairish2001 commented on #9
@sayna3311 Sorry! First come first serve. Be active to our issues. New issues will be available soon.

[2021-03-08 16:04] sairish2001 commented on #9
@RituCs Feel free to ask doubts, if any

[2021-03-08 16:06] sairish2001 commented on #20
log10( is working fine?

[2021-03-08 16:06] DEEPIKA-SUK commented on #20
![Screenshot (112)](https://user-images.githubusercontent.com/64724039/110347087-42ba9900-8056-11eb-8e17-d1dba5bb474f.png)
![Screenshot (113)](https://user-images.githubusercontent.com/64724039/110347090-43ebc600-8056-11eb-8263-e50894b4e9b3.png)

[2021-03-08 16:07] DEEPIKA-SUK commented on #20
Sir kindly review these examples.

[2021-03-08 16:07] sairish2001 commented on #3
Feel free to ask your doubts, if any

[2021-03-08 16:08] sairish2001 commented on #20
Great Work!
Make a PR

[2021-03-08 16:09] sairish2001 commented on #20
Please do mention this issue while making PR, as it's a good practice

[2021-03-08 16:09] DEEPIKA-SUK commented on #20
As a title sir?

[2021-03-08 16:17] sairish2001 commented on #28
@janvi01 I have added a <div id='trigonovaluestable'> in index.html. Move further with it

[2021-03-08 16:24] vmk8826 commented on #8
![IMG-20210308-WA0029.jpeg](https://user-images.githubusercontent.com/68069180/110349633-e2792680-8058-11eb-819d-f9a7a2d563fa.jpeg)

[2021-03-08 16:25] vmk8826 commented on #8
![IMG_20210308_215433.jpg](https://user-images.githubusercontent.com/68069180/110349687-f2910600-8058-11eb-82e0-f17cf419281e.jpg)

[2021-03-08 16:26] vmk8826 commented on #8
is this good enough

[2021-03-08 16:29] sairish2001 commented on #8
Fine! but don't change the placeholder text's alignment,make it left align.

[2021-03-08 16:29] vmk8826 commented on #8
okay

[2021-03-08 16:31] sairish2001 commented on #8
Try to make font-size in between 20px to 25px; whichever looks good.

[2021-03-08 16:31] vmk8826 commented on #8
![IMG_20210308_220104.jpg](https://user-images.githubusercontent.com/68069180/110350511-cfb32180-8059-11eb-8301-d17ac53a2990.jpg)

[2021-03-08 16:31] vmk8826 commented on #8
now

[2021-03-08 16:32] sairish2001 commented on #8
great!

[2021-03-08 16:32] sairish2001 commented on #8
Do you know. How to enable mobile view in chrome desktop?

[2021-03-08 16:32] vmk8826 commented on #8
I am not able to get that overflow bug as I am using a PC how do I see that

[2021-03-08 16:35] sairish2001 commented on #8
Steps to view Mobile view in Chrome desktop
- Ctrl+Shift+I (to open Inspect)
![Untitled](https://user-images.githubusercontent.com/60106112/110351077-6ed81900-805a-11eb-8671-79109d656cb6.png)

[2021-03-08 16:36] vmk8826 commented on #8
okay got it

[2021-03-08 16:38] sairish2001 commented on #8
Instead of clicking picture from Mobile phone of PC you can use
- Print Screen button
- then Ctrl+V to paste picture

[2021-03-08 16:48] sairish2001 commented on #20
Have you changed something in index.html file?

[2021-03-08 16:49] DEEPIKA-SUK commented on #20
Yes sir

[2021-03-08 16:50] DEEPIKA-SUK commented on #20
I am facing issues while creating pull request due to some conflicts in index.html file.
I made changes in only one line in index.html file.

[2021-03-08 16:51] DEEPIKA-SUK commented on #20
And some changes in js file.

[2021-03-08 16:51] sairish2001 commented on #20
can you please tell the changes

[2021-03-08 16:53] DEEPIKA-SUK commented on #20
Yes sir,
onclick="document.getElementById('txt').value+=this.innerText+(this.innerText=='√'?'(':'');calsol(document.getElementById('txt').value);"
I made this change in index file for sqrt one.

[2021-03-08 16:59] sairish2001 commented on #20
Actually while implementing the Radian to Degree conversion code, one of our contributor made changes into index.html and simplecal.js files. i.e. instead of `inline onclick=" "` he adds `eventlistner()` in simplecal.js.

That's why PR is creating conflicts.

I would suggest you to made these changes to newer code. Sorry for the inconvenience. It's not difficult just instead of inline onclick impl

[2021-03-08 17:01] nandini7637 commented on #1
Hello I would like to contribute to it being a part of GSSOC. Can you please elaborate the issue.

[2021-03-08 17:04] DEEPIKA-SUK commented on #20
Sorry I did not get what I have to do. Please could you explain me once again.

[2021-03-08 17:08] sairish2001 commented on #20
I am saying to made changes into updated files

[2021-03-08 17:10] sairish2001 commented on #1
Feel free to ask your doubts, if any

[2021-03-08 17:13] DEEPIKA-SUK commented on #20
Ok sir.

[2021-03-08 17:28] sairish2001 commented on #25
@AishwaryaKaranth  do you want to solve this bug?

[2021-03-08 17:30] AishwaryaKaranth commented on #25
Can I try fixing it till tomorrow?
If I am unable to fix it by tomorrow, I'll let you know?

[2021-03-08 17:31] sairish2001 commented on #25
Sure!

[2021-03-08 17:34] vmk8826 commented on #8
![image](https://user-images.githubusercontent.com/68069180/110358619-a1860f80-8062-11eb-8d97-f184e65a3111.png)

[2021-03-08 17:35] vmk8826 commented on #8
do you like it?

[2021-03-08 17:36] vmk8826 commented on #8
or this

[2021-03-08 17:37] vmk8826 commented on #8
![image](https://user-images.githubusercontent.com/68069180/110359025-004b8900-8063-11eb-8212-4cd4e3a49eb1.png)

[2021-03-08 17:38] Abhisheka394 commented on #22
Hi, I would like to work on this issue can you please assign it to me . I'm a GSsoc21 participant.

[2021-03-08 17:39] sairish2001 commented on #8
This looks good

[2021-03-08 17:41] sairish2001 commented on #22
Feel Free to ask your doubts,if any

[2021-03-08 17:42] vmk8826 commented on #8
should i generate a pull request

[2021-03-08 17:42] vmk8826 commented on #8
it is responsive now

[2021-03-08 17:48] sairish2001 commented on #8
Go ahead with Pull Request

[2021-03-08 17:58] vmk8826 commented on #8
done

[2021-03-08 17:59] #28 closed

[2021-03-08 18:02] sairish2001 commented on #8
Will review by Tomorrow

[2021-03-08 18:03] vmk8826 commented on #8
okay can you give me something else to work on

[2021-03-08 18:43] #7 closed

[2021-03-08 19:06] micksharma commented on #5
Can I work on this issue ?

[2021-03-08 20:52] Faizanrz7 commented on #26
@sairish2001 I would like to work in this issue as a part of gssoc'21, assign me if possible.

[2021-03-09 03:06] sahildotexe commented on #15
Hey !! I am a participant of GSSOC'21 , can you assign this issue to me?

[2021-03-09 03:07] sahildotexe commented on #26
Hey !! I am a participant of GSSOC'21 , can you assign this issue to me?

[2021-03-09 05:01] Karthik-Nayak98 opened #37 "Maximum limit for the numbers while generating Multiplication table."
- While generating the multiplication table if the numbers are very large then the browser hangs. So we need to provide an upper limit for the numbers.
- Also should add a scrollbar so we are able to scroll quickly through the table.

[2021-03-09 05:09] sairish2001 commented on #26
@sukhpreet-singh1 Any Update?

[2021-03-09 05:14] sukhpreet-singh1 commented on #26
yes i am working on it

[2021-03-09 05:26] janvi01 commented on #24
I would like to work on this, can you assign it under GSSOC?

[2021-03-09 05:47] vmk8826 commented on #8
did you check it

[2021-03-09 05:47] Swetha126 commented on #5
I am a part of GSSOC'21
I am interested in working on this issue

[2021-03-09 06:46] Pranjal-Jayaswal opened #38 "dropDown menu image bug"
The adjacent image in the DropDown menuList  (inside sideBar) shall show the correct collapsing direction.
![Screenshot (16)_LI](https://user-images.githubusercontent.com/63522945/110429620-39224700-80d1-11eb-970b-b862a0e03c03.jpg)

[2021-03-09 06:47] Pranjal-Jayaswal commented on #38
I want to work on this issue and want to contribute to this. I am a participant of GSSOC 2021. Please could you assign me this issue as a part of GSSOC 2021.
Thank you.

[2021-03-09 07:06] zhcet19 commented on #5
Can you assign me this task,I am participant of GSSOC' 21

[2021-03-09 07:35] sairish2001 commented on #5
Feel Free to ask your doubts, if any

[2021-03-09 07:39] sairish2001 commented on #38
Go ahead, Feel free to ask your doubts, if any

[2021-03-09 08:03] DEEPALI-SUK commented on #23
Sir, please could you tell me what will be the output of 1245.3369, if we round it to tens place, 1245.3370 or 1250?

[2021-03-09 08:05] DEEPALI-SUK commented on #23
Ones place in this example 1245.3369 is 9 or 5?

[2021-03-09 08:10] DEEPIKA-SUK commented on #20
Sir I have sent you the PR.

[2021-03-09 08:40] kavyamehra20 opened #41 "Design 'Tip of the day' under the search bar"

[2021-03-09 09:38] sairish2001 commented on #20
Still not getting required output

![Screenshot_20210309-150751_Chrome.jpg](https://user-images.githubusercontent.com/60106112/110450483-40ede580-80e9-11eb-866e-6786d2ac0c19.jpg)

kindly replace √ with sqrt(

[2021-03-09 09:47] sairish2001 commented on #21
`$('#myModal_ID').modal('show');`

for more reference
[Bootstrap's Modal Documentation:](https://getbootstrap.com/docs/4.0/components/modal/)

[2021-03-09 09:52] DEEPIKA-SUK commented on #20
![Screenshot (117)](https://user-images.githubusercontent.com/64724039/110452345-1ac94500-80eb-11eb-93fd-3d062000a820.png)
Sir I am getting correct output only for the code that I have written.

[2021-03-09 09:54] anjali7786 commented on #21
I had implemented this also but then also modal popup is not opening.

[2021-03-09 09:55] DEEPIKA-SUK commented on #20
Sir I also checked the output for input that you gave after cloning the main repo just now and its showing the correct output that is 12.

[2021-03-09 10:03] DEEPIKA-SUK commented on #20
![Screenshot (118)](https://user-images.githubusercontent.com/64724039/110453827-9bd50c00-80ec-11eb-8450-e6c5da7e1f49.png)
Sir its also showing the correct output when I calculated the same on https://sairish2001.github.io/makesmatheasy.github.io/

[2021-03-09 10:12] sairish2001 commented on #23
<table>
<tr>
<td>Thousand</td>
<td>Hundred</td>
<td>Tens</td>
<td>Ones</td>
<td></td>
<td>Ones</td>
<td>Tens</td>
<td>Hundred</td>
<td>Thousand</td>
</tr>
<td>1</td>
<td>2</td>
<td>4</td>
<td>5</td>
<td>.</td>
<td>3</td>
<td>3</td>
<td>6</td>
<td>9</td>
<tr>
</tr>
</table>

When round off to Tens Place
<table>
<tr>
<td>Thousand</td>
<td>Hundred</td>
<td>Tens</td>
<td>Ones</td>
<td></td>
<td>Ones</

[2021-03-09 10:14] DEEPIKA-SUK commented on #20
Sir the square root function is not working on mobile. I really don't know why its not working. It is working fine on PC but not on mobile. I will try to correct that.

[2021-03-09 10:20] SurbhiRathi23 opened #42 "Hover Effect on MENU ITEMS should be present to increase Interactivity with user"
Here hover effect should be present+ font styles can be changed

![WhatsApp Image 2021-03-09 at 3 44 43 PM](https://user-images.githubusercontent.com/55491101/110455631-ac868180-80ee-11eb-96d4-12b99b8c49b0.jpeg)

[2021-03-09 10:21] sairish2001 commented on #21
Check out [this](https://github.com/sairish2001/makesmatheasy.github.io/blob/351acf200788a3d79e42f888eb92b868c2583c52/appjs/index.js#L151)

[code]

[2021-03-09 10:22] SurbhiRathi23 commented on #42
Hello sir, I want to work on this issue and want to contribute to this. I am a participant of GSSOC 2021.
Could you please assign me this issue as a part of GSSOC 2021.

[2021-03-09 10:27] sairish2001 commented on #21
Use this code it will open the Modal

[2021-03-09 10:36] srisatya1197 commented on #37
I want to contribute to maximum Limit for the numbers while generating multiplication table issue. Please assign me this task as a part of GSSoC'21

[2021-03-09 10:39] DEEPALI-SUK commented on #23
![WhatsApp Image 2021-03-09 at 16 02 58](https://user-images.githubusercontent.com/64724041/110457817-1011ae80-80f1-11eb-9054-c54455f68e49.jpeg)
Sir here only one once is given and according to the above table there are two ones so can I add more options in the frontend?

[2021-03-09 10:40] Sakshi0401 commented on #4
As a GSSOC'21 participant I would like to contribute. so can I be assigned the issue to work upon?

[2021-03-09 10:46] sairish2001 commented on #23
No, need to add more options as our must view/change only those numbers which are on right side of decimal.

If you are confused a little bit. I would suggest you to see a video on how to Roundoff.

There's a spelling mistake
Correct:**Ones**
Wrong: **Once**

If you correct this also, in the JSON and Frontend, then I would appreciate.

[2021-03-09 10:48] DEEPALI-SUK commented on #23
Ok sir

[2021-03-09 10:51] anjali7786 commented on #21
![I](https://user-images.githubusercontent.com/57794837/110459522-19037f80-80f3-11eb-8357-3a9e04839941.PNG)

Again not working

[2021-03-09 11:01] sairish2001 commented on #21
Create a PR, I will configure out the bug

[2021-03-09 11:03] SurbhiRathi23 commented on #42
@sairish2001  sir please assign it to me.

[2021-03-09 11:04] anjali7786 commented on #21
Ok sir

[2021-03-09 11:13] kanishka8276 opened #43 "Suggestion for interesting facts below search bar"
We can create a list of around 15 interesting facts which are visible turn by turn below the search bar when the user is not connected to internet instead of showing "Turn on internet connection to read some interesting facts".
#GsSOC'21

[2021-03-09 11:18] sairish2001 commented on #21
`<a data-toggle="modal" data-target="#roman">Roman/Arabic Numerals</a>`

Let's assume it's my Button, which will open the Modal, basically it really opens a modal

These kind of anchor tags are there in Sidenav for opening modals by a click

You can check them out and make a click using

`document.getElementById('anchor_id').click()`

if still it not works, I have a another solution will surely wo

[2021-03-09 11:32] kanishka8276 commented on #43
Please assign this to me.

[2021-03-09 11:34] mridulabatra opened #44 "add animation on search bar and background"
the search bar is the first thing that appears it looks a little dull right now, adding some animation and design will make it look better

[2021-03-09 11:36] sairish2001 commented on #43
Feel free to ask your doubts, if any.

Actually the message you are seeing, on the top I.e. **Turn on your internet connection, to read interesting facts.**  is due to mixed content. API is of `http://` protocol and main website is of `https://` protocol that's why it's not able to call API.

By the I liked your Idea, i.e to make array of Facts and display them. I would Like to say kindly increase

[2021-03-09 11:39] sairish2001 commented on #42
@SurbhiRathi23 Go ahead, and feel free to ask your doubts,if any

[2021-03-09 11:40] kanishka8276 commented on #43
Yes sure! I will create an array with more number of amazing facts.
Thank you for assigning!

[2021-03-09 11:53] DEEPIKA-SUK commented on #20
![Screenshot (121)](https://user-images.githubusercontent.com/64724039/110466516-e01bd880-80fb-11eb-9e82-c0a6725102b6.png)
![WhatsApp Image 2021-03-09 at 17 14 27](https://user-images.githubusercontent.com/64724039/110466526-e14d0580-80fb-11eb-8c25-3b2c602ad42a.jpeg)
![WhatsApp Image 2021-03-09 at 17 14 27 (1)](https://user-images.githubusercontent.com/64724039/110466528-e1e59c00-80fb-11eb-9806-ba

[2021-03-09 11:56] sairish2001 commented on #20
Go ahead with PR

[2021-03-09 12:12] sairish2001 commented on #8
Actually your PR is creating Conflicts.
I saw your changes, you made changes in css/style.css
am I Right?
[code]
You need to only make PR for style.css file, but you included index.html and simplecal.js  also which creating conflicts while merging your PR

[2021-03-09 12:15] anjali7786 commented on #21
No id for anchor tag is there in the file.
<a data-toggle="modal" data-target="#orderit" style="font-size:15px;cursor: pointer;background:transparent;border:none;">Ascending/Descending</a>
Do I need to add some id with it?

[2021-03-09 12:19] anjali7786 commented on #21
No id is written with anchor tag in the file. Please check

[2021-03-09 12:19] sairish2001 commented on #20
Great Work!
Appreciated your patience
Well Done

[2021-03-09 12:19] #20 closed

[2021-03-09 12:20] sairish2001 commented on #21
Yes it's not there add it by yourself

[2021-03-09 12:21] mridulabatra commented on #44
hello sir, I want to contribute to this issue. Please assign me this task as a part of GSSoC'21

[2021-03-09 12:25] sairish2001 commented on #44
Feel free to ask your doubts, if any

[2021-03-09 12:27] mridulabatra commented on #44
okay, thank you sir

[2021-03-09 12:28] anjali7786 commented on #21
Finally it is working but what to do in case of Conversion to words

[2021-03-09 12:36] sairish2001 commented on #21
Do same for all modal anchor tags which is there in SideNav

[2021-03-09 12:39] sairish2001 commented on #42
But, hover effect does not work properly in  mobile devices, do apply hover effects only or desktop view, it should not be visible on mobile devices

[2021-03-09 12:41] sairish2001 opened #46 "Complete logic/working of Calculator for Shapes"
Working for
- Square
- Rectangle

is already done, you can check it out [visit](https://sairish2001.github.io/makesmatheasy.github.io/)

But for the rest of the Calculators (red color in the image) apply similar working, and fields according to formulas:
You can refer to Google Calculator for these, which makes you more comfortable
- Isosceles Triangle [Click Here](https://www.google.com/search?q=

[2021-03-09 12:43] sairish2001 commented on #44
@aanchalrakheja Sorry! already assigned. Check out some other issues, or create a new one

[2021-03-09 12:44] anjali7786 commented on #21
Yupp done...thank you.

[2021-03-09 12:47] aanchalrakheja commented on #46
Would like to contribute to this issue. Would need some guidance though. Please assign it to me.

[2021-03-09 12:50] aanchalrakheja commented on #46
Thank u so much. Sure :)

[2021-03-09 12:53] aanchalrakheja opened #47 "The image in the Equilateral Triangle under calculator for shapes is not appropriate."
Would like to fix it. Please allow me to do so.

[2021-03-09 13:02] sairish2001 commented on #47
Issue for the same is already created and is already assigned to someone [#24](https://github.com/sairish2001/makesmatheasy.github.io/issues/24)

Thanks for showing interest in this project

[2021-03-09 13:11] sairish2001 opened #48 "Use LaTeX text in displaying Trigonometry values"
![Untitled](https://user-images.githubusercontent.com/60106112/110472758-c4b4cb80-8103-11eb-933a-e9aba7362502.png)

Just replace these Text with LaTeX (Math Text)
Not familiar with LaTeX?
Not a difficult or complex task

---

for displaying
- ![3/4](https://latex.codecogs.com/gif.latex?\frac{3}{4}) use `\[\frac{3}{4}\]`
- ![sqrt(3)](https://latex.codecogs.com/gif.latex?\sqrt{3}) use `\[\sqrt{3}\]`

[2021-03-09 13:15] paulamib123 commented on #48
Hi!
I am a GSSOC'21 Participant.
I would like to contribute to this issue.

[2021-03-09 13:16] sairish2001 commented on #48
Feel free to ask your doubts, if any

[2021-03-09 13:24] #47 closed

[2021-03-09 13:39] SurbhiRathi23 commented on #42
okay sir

[2021-03-09 13:50] DEEPALI-SUK commented on #23
Sir kindly review my work.
**1) When rounded to ones place.**

![ones place](https://user-images.githubusercontent.com/64724041/110479542-88856900-810b-11eb-9017-5a0a247c1c53.jpeg)

**2)When rounded to ones place.**

![ones place1](https://user-images.githubusercontent.com/64724041/110479715-b7034400-810b-11eb-86f0-360eb4f64627.jpeg)

**3)When rounded to tens place.**

![tens place](https://user-i

[2021-03-09 13:58] DEEPALI-SUK commented on #23
**Sir, the previously written code for the integer, was giving wrong output for some of the inputs, so I have made some changes in that part also.**
**Like for the input 9999 when rounded to tens place it displayed the output 91000**

![pic1](https://user-images.githubusercontent.com/64724041/110481183-49f0ae00-810d-11eb-8fdc-af080732fbf5.jpeg)

**and after I changed the code it showed the correct

[2021-03-09 13:59] DEEPALI-SUK commented on #23
Sir may I generate the PR now?

[2021-03-09 14:06] anjali7786 commented on #21
I have created a PR please review it.

[2021-03-09 14:20] vmk8826 commented on #8
okay

[2021-03-09 14:20] vmk8826 commented on #8
will do in some time thanks

[2021-03-09 15:09] paulamib123 commented on #48
Thanks for assigning this to me.
I had a question
For the values that are undefined should I make any changes? or just leave it as it was before?

[2021-03-09 15:12] sairish2001 commented on #48
Use LaTeX
`\[Not \space Defined\]`

[2021-03-09 15:46] sairish2001 commented on #31
[Makes Math Easy Documentation](https://github.com/sairish2001/Makes-Math-Easy-Documentation/) Repository

Go ahead with this Repository and make your valuable Contribution @robin025

[2021-03-09 15:53] asmitsirohi opened #51 "Single Matrix functionality is not working!"
Hey,
While doing any operation on single matrix, select of operations becomes blank. Also the solve button is not able to solve the problem.

![Screenshot_2021-03-09 Makes Math Easy](https://user-images.githubusercontent.com/63240102/110498840-b1165e80-811d-11eb-8453-4abbb59e6c53.png)

[2021-03-09 15:53] DEEPALI-SUK commented on #23
Sir, may I make a PR?

[2021-03-09 15:55] paulamib123 commented on #48
Thank You!

[2021-03-09 16:05] aanchalrakheja commented on #46
Hey! Can u guide me about the calculation part. I have successfully added the input fields.

[2021-03-09 16:07] sairish2001 commented on #51
It is working fine, try to check again.
Click on blank part you will see options. It will become blank when no option selects

[2021-03-09 16:09] janvi01 opened #53 "Make contact us page more interactive."
I want to make contact us page more interactive by matching its theme with main web site and adding some header portion.

[2021-03-09 16:10] janvi01 commented on #53
Please can you assign it to me.

[2021-03-09 16:14] robin025 commented on #31
thankyou @sairish2001

[2021-03-09 16:17] sairish2001 commented on #51
Are you agree with it?

[2021-03-09 16:19] sairish2001 commented on #53
Go ahead, feel free to ask your doubts, if any

[2021-03-09 16:21] asmitsirohi commented on #51
yes, thanks for your help.

[2021-03-09 16:24] abhinav5481 commented on #48
Hi,
I would like to work on this issue for GSsoc'21 . Could you please assign it to me?

[2021-03-09 16:39] sairish2001 commented on #23
No, will tell you tomorrow
There are some wrong outputs. Till then try to figure it out. With some online calculators or by solving yourself

[2021-03-09 16:41] DEEPALI-SUK commented on #23
sir I have checked all these with online calculator, the outputs are matching

[2021-03-09 16:43] janvi01 commented on #53
Earlier

<img width="1440" alt="Screenshot 2021-03-09 at 10 12 03 PM" src="https://user-images.githubusercontent.com/34344234/110505907-9a273a80-8124-11eb-9057-3c1988422cfc.png">

**Changes made by me**
<img width="1440" alt="Screenshot 2021-03-09 at 10 12 27 PM" src="https://user-images.githubusercontent.com/34344234/110505986-b034fb00-8124-11eb-9f78-1b58f0df8fb3.png">

Is it okay?

[2021-03-09 16:44] sairish2001 commented on #48
@paulamib123 Your [recent PR](https://github.com/sairish2001/makesmatheasy.github.io/pull/52) is creating issue while loading the whole index.html page

[2021-03-09 16:47] sairish2001 commented on #53
Amazing! Go ahead with PR

[2021-03-09 16:48] paulamib123 commented on #48
Okay. I found the issue i'll fix it right now.

[2021-03-09 16:51] #43 closed

[2021-03-09 16:53] sairish2001 commented on #23
Can you please mention the calculator here?

[2021-03-09 16:56] DEEPALI-SUK commented on #23
https://www.calculator.net/rounding-calculator.html
for decimal part calculator's tenths = ones place in our calculator

[2021-03-09 16:58] DEEPALI-SUK commented on #23
https://user-images.githubusercontent.com/64724041/110480047-0ea1af80-810c-11eb-8f44-327e3f475d24.jpeg
for this I am changing the code according to the online calculator

[2021-03-09 17:01] vmk8826 commented on #8
well I resolved the pull request can you check it again

[2021-03-09 17:02] sairish2001 commented on #23
Appreciated!

[2021-03-09 17:03] sairish2001 commented on #23
![Untitled](https://user-images.githubusercontent.com/60106112/110508824-70bbde00-8127-11eb-9d2f-d6f6df3c1ef5.png)
I have a doubt in this output

[2021-03-09 17:06] DEEPALI-SUK commented on #23
So according to our calculator ones place is the place just after the decimal point for floating numbers

[2021-03-09 17:07] DEEPALI-SUK commented on #23
According to this calculator it is the tenths(1) place

[2021-03-09 17:10] DEEPALI-SUK commented on #23
![WhatsApp Image 2021-03-09 at 22 33 27](https://user-images.githubusercontent.com/64724041/110509656-59312500-8128-11eb-85b6-b97b33cb8c63.jpeg)

I made the changes for this one also according to the online calculator

[2021-03-09 17:12] sairish2001 commented on #23
Are you using if the condition for particular inputs?

[2021-03-09 17:15] DEEPALI-SUK commented on #23
Yes I have used if-else conditions to implement round off

[2021-03-09 17:15] sairish2001 commented on #23
make a PR, any further bugs will be treated in next isse

[2021-03-09 17:20] sairish2001 commented on #13
12 March ,2021 is the deadline

[2021-03-09 17:24] aanchalrakheja commented on #48
hey! can i contribute to this issue.

[2021-03-09 17:33] #48 closed

[2021-03-09 17:39] sairish2001 commented on #1
If you want any changes in UI then create a wireframe for it, and do tell me before implementing, to which part you are going to change

[2021-03-09 18:49] vmk8826 commented on #8
can you please help me with what should I do as I am not able to resolve the conflict

[2021-03-09 18:52] sairish2001 commented on #8
just make a New PR by uploading only style.css file

[2021-03-09 19:04] vmk8826 commented on #8
I am not uploading any other file the code is getting changed by itself I tried to fork the repo again but the same error persists all the time

[2021-03-10 03:10] gnikita432 opened #62 "Responsive Calculator"
In mobile-view, the calculator is taking the whole width of the screen and that's why the last number is difficult to see.
![mi](https://user-images.githubusercontent.com/61223163/110570442-e6ea3000-817b-11eb-9ec0-3a8e075193df.PNG)
Some margin or padding can be added to the calculator.
I am a GSSOC'21 participant. kindly assign me this issue under gssoc'21.

[2021-03-10 03:46] nandini7637 commented on #1
yeah sure sir, I am a bit new to wireframe I'll tell u a soon as  I need to do any implementation

[2021-03-10 03:47] Subhangini commented on #2
ok, I was not aware of this .

[2021-03-10 04:05] sairish2001 commented on #62
Feel free to ask your doubts, if any

[2021-03-10 04:06] sairish2001 commented on #62
Deadline is 15 March,2021 (11:59 PM)

[2021-03-10 04:09] gnikita432 commented on #62
sure, thank you for assigning.

[2021-03-10 04:17] aanchalrakheja opened #63 "the homepage should contain some introduction about the website, maybe a tagline or so and it can be made more appealing"
I would love to work on this issue and make the homepage more attractive, adding logo, a tagline or so.

[2021-03-10 04:29] Swetha126 commented on #63
Hey! I am a GSSOC'21 participant
I would like to make the homepage attractive by adding precise and catchy content for the introduction and an appropriate tagline.
Can you please assign me this issue?

[2021-03-10 05:54] akshay399 opened #64 "The 'Home' button from sidebar is inactive and not directing to homepage when clicked"
i am a GGSOC member and can i please work on this issue?

[2021-03-10 06:00] Subhangini commented on #2
@sairish2001  the code inside materialize.min.js file is not related to functionality of any other operation except sidenav right?
Like matrix functionality will not get affected through the codes of this file right?

[2021-03-10 06:33] Subhangini commented on #2
ok

[2021-03-10 06:34] sairish2001 commented on #64
Feel free to ask your doubts, if any

[2021-03-10 07:22] niya210 commented on #62
@sairish2001 sir, could you please assign any task to me?

[2021-03-10 07:27] SurbhiRathi23 commented on #42
@sairish2001  I have added hover effects and it is also working fine on mobile devices. If you want, I can keep it only for large screen size.

I have also added some code to change the active button on navigating from one to other page using JavaScript.

![c1](https://user-images.githubusercontent.com/55491101/110591675-5f161d00-819f-11eb-9f4b-eec9be661aa3.JPG)
![c3](https://user-images.githubuse

[2021-03-10 07:35] akshay399 commented on #64
please review the pull request, thanks

[2021-03-10 07:41] Aanchal116 opened #66 "Make Website Screen Size Friendly"
I'm a GSSOC'21 participant. I would like to work on this issue to make the website mobile and tablet friendly. Please assign me this issue.

[2021-03-10 07:47] sairish2001 commented on #64
Have you checked it?
is it working fine!

after clicking home button it should close all the Calculators,

see appjs/working.js for the proper working of SideNav

[2021-03-10 07:57] sairish2001 commented on #2
Deadline 11 March,2021 (11:59 PM)

[2021-03-10 08:39] aanchalrakheja commented on #46
@janvi01 yes i'm. Would u like to work together if we can?

[2021-03-10 08:51] Sloth-Panda opened #67 "code of conduct file"
there is no code of conduct file so would like to add one under gssoc

[2021-03-10 08:55] Sloth-Panda opened #68 "issue and pull request templates"
as there are no issue and pull request templates in this repo so would like to add those

[2021-03-10 09:19] sairish2001 commented on #46
Sorry @janvi01 , we can't allow multiple participants to work on single issue, under GSSOC'21

[2021-03-10 09:21] sairish2001 commented on #9
Any Update? @RituCs

[2021-03-10 09:22] sairish2001 commented on #9
Deadline 11 March, 2021 (11:59 PM)

[2021-03-10 10:31] sairish2001 commented on #67
Go ahead, Feel free to ask your doubts if any

[2021-03-10 10:32] sairish2001 commented on #67
Deadline 13 March,2021(11:59 PM)

[2021-03-10 10:34] sairish2001 commented on #63
[#13](https://github.com/sairish2001/makesmatheasy.github.io/issues/13)
Same issue is already open, and one of our participant is working on it.

[2021-03-10 10:34] Faizanrz7 commented on #26
@sairish2001  I have solved the issue, can I create PR ??

[2021-03-10 10:36] sairish2001 commented on #26
No, someone else is working on it

[2021-03-10 10:36] sairish2001 commented on #26
@sukhpreet-singh1 any update? can you solve this issue?

[2021-03-10 10:39] sairish2001 commented on #3
Deadline 13 March,2021

[2021-03-10 10:40] sairish2001 commented on #4
Deadline 13 March,2021(11:59 PM IST)

[2021-03-10 10:41] sairish2001 commented on #5
Deadline 14 March,2021(11:59 PM IST)

[2021-03-10 10:42] sairish2001 commented on #10
Deadline 13 March,2021(11:59 PM IST)

[2021-03-10 10:43] sairish2001 commented on #17
Deadline 13 March,2021(11:59 PM IST)

[2021-03-10 10:43] sairish2001 commented on #22
Deadline 14 March,2021(11:59 PM IST)

[2021-03-10 10:45] Faizanrz7 commented on #26
@sairish2001  Ok

[2021-03-10 10:47] #23 closed

[2021-03-10 10:49] sairish2001 commented on #24
Deadline 13 March,2021(11:59 PM IST)

[2021-03-10 10:49] sairish2001 commented on #26
Deadline 13 March,2021(11:59 PM IST)

[2021-03-10 10:50] sairish2001 commented on #31
Deadline 14 March,2021(11:59 PM IST)

[2021-03-10 10:51] Sloth-Panda commented on #68
@sairish2001 can I work on this?

[2021-03-10 10:52] SurbhiRathi23 commented on #42
okay

[2021-03-10 10:54] sairish2001 commented on #62
Deadline 14 March,2021(11:59 PM IST)

[2021-03-10 10:58] sukhpreet-singh1 commented on #26
solved for multiplication and divide ,sorry for taking time i was going through whole code as i will work with this project for GSSOC

[2021-03-10 11:00] gnikita432 commented on #62
hey @sairish2001 the issue is already solved and the branch is also merged.

[2021-03-10 11:01] #67 closed

[2021-03-10 11:05] sairish2001 commented on #62
Yeah! but I reported some bug in it

[2021-03-10 11:25] sairish2001 commented on #68
Can you please elaborate, what does this issue mean

[2021-03-10 11:31] Sloth-Panda commented on #68
@sairish2001 basically an issue template will state what sort of issue it is with its complete description and will represent an issue in a systematic manner while a pr template basically means the same and in addition builds can be configured over it so that if some build fail you can ask for changes in the pr

[2021-03-10 11:40] sairish2001 commented on #68
how would you implement this as a markdown file?

[2021-03-10 11:43] Sloth-Panda commented on #68
yes @sairish2001

[2021-03-10 11:44] sairish2001 commented on #68
Go Ahead

[2021-03-10 11:46] #63 closed

[2021-03-10 11:49] sairish2001 commented on #1
Deadline 14 March,2021 (11:59 PM IST)

[2021-03-10 12:01] janvi01 opened #71 "Modify Clear C in calculator"
<img width="734" alt="Screenshot 2021-03-10 at 5 28 52 PM" src="https://user-images.githubusercontent.com/34344234/110626019-381f1180-81c6-11eb-9642-20181e905002.png">

On clicking C clear, the result doesn't get cleared.

<img width="734" alt="Screenshot 2021-03-10 at 5 29 14 PM" src="https://user-images.githubusercontent.com/34344234/110626112-538a1c80-81c6-11eb-8b23-bc059b8ba9c5.png">

I would

[2021-03-10 12:08] sairish2001 commented on #71
Actually it's not a issue.
Keeping answer in ans field causes no harm, Sometimes user wants to see previous answer so that's why it's not a issue.

[2021-03-10 12:16] #71 closed

[2021-03-10 12:22] Sloth-Panda opened #74 "welcome bot"
this bot basically greets someone who opens up an issue or makes a pr for the first time in the repo

download the bot from here and for it to work by giving some custom message I have to add another file
https://github.com/apps/welcome

[2021-03-10 12:22] Sloth-Panda commented on #74
@sairish2001 can I work on this issue?

[2021-03-10 12:37] aanchalrakheja commented on #46
I have a doubt

[2021-03-10 13:49] vmk8826 commented on #8
Can you check the PR I have uploaded just one file, i.e style.css

[2021-03-10 14:09] vmk8826 commented on #66
I have been working on this issue since last week can you assign it to me I am a GSoC 2021 participant.

[2021-03-10 14:19] kavyamehra20 commented on #41
Can I work on this issue ?

[2021-03-10 14:29] #26 closed

[2021-03-10 14:49] ayu222220 commented on #64
Would like it work on it. Can you assign me?
From GSSOC'21.

[2021-03-10 16:53] #42 closed

[2021-03-10 16:59] #68 closed

[2021-03-10 17:01] sairish2001 commented on #46
Yes!

[2021-03-10 17:05] vmk8826 commented on #8
did you check it?

[2021-03-10 17:07] sairish2001 commented on #8
Kindly update the whole code in your local machine, to resolve the conflicts

[2021-03-10 17:08] sairish2001 commented on #66
Feel free to ask your doubts, if any

Deadline 16 March,2021 (11:59 PM IST)

[2021-03-10 17:15] sairish2001 commented on #44
Try to remove the white line below field
[code]

it's occurring due to form__field class

[2021-03-10 17:17] sairish2001 commented on #44
Instead of using red color, use pink color
`background-color:var(--apppink);`

[2021-03-10 17:19] sairish2001 commented on #41
@vmk8826 Sorry! First come first server basis

[2021-03-10 17:19] sairish2001 commented on #41
@kavyamehra20 Feel free to ask your doubts, if any

Deadline 13 March,2021 (11:59 PM IST)

[2021-03-10 17:34] vmk8826 commented on #41
okay sir

[2021-03-10 17:36] vmk8826 commented on #8
okay got the problem thank you

[2021-03-10 18:02] vmk8826 commented on #8
a need a little help please

[2021-03-10 18:23] sairish2001 commented on #8
Just refork the repository
and open the style.css file directly on GitHub on your browser
click on edit button
make your edits
just commit changes

Then you will see a Compare Pull Request Option there make a new PR

[2021-03-10 18:39] vmk8826 commented on #8
okay thanks

[2021-03-10 18:45] Karthik-Nayak98 commented on #37
Shall I add an alert message to show that the numbers are crossing the limit?

[2021-03-10 18:49] sairish2001 commented on #37
Fine, it should trigger oninput.

[2021-03-10 18:51] #62 closed

[2021-03-10 19:28] Aanchal116 commented on #66
Sure, Thankyou so much.

[2021-03-10 23:59] kumarishalini6 commented on #13
Can I work on it??

[2021-03-11 04:40] #2 closed

[2021-03-11 04:41] #38 closed

[2021-03-11 05:00] kanishka8276 opened #83 "Suggestion for calculator for calculating the volumes and surface areas of the 3d shapes"
A calculator for 3d shapes. It Will calculate volumes and surface areas of the shapes. Similar to
the calculator for shape.
I would like to do this. Please assign this to me.
#GsSOC'21

[2021-03-11 05:21] kanishka8276 opened #84 "Add arrows on the scroll bar on the right of the calculator list ."
There are no arrows on the scroll bar in the right of the calculator list. Arrows will be better and make it more user friendly.
Please assign this to me.
#GsSOC'21

[2021-03-11 05:30] kanishka8276 opened #85 "Adding unit conversion of speed and time also in the unit converter."
We can add options for unit conversion of speed and time in the unit converter.
Please assign this to me.
#GsSOC'21

[2021-03-11 05:57] vmk8826 opened #87 "Plotting Graphs"
##Bug
The instructions are not clear on how to enter the equation to be plotted
every time the equation to be plotted is entered, an error message appears

## Possible Solution
Display Proper instructions on how to enter the equation and fix the graph bugs.

## **Screenshots**

-
![image](https://user-images.githubusercontent.com/68069180/110742645-bcbc6f00-825c-11eb-947a-de7f3b0687c5.png)

[2021-03-11 05:58] vmk8826 commented on #87
please assign it to me, I am a GSoC 2021 aspirant

[2021-03-11 06:04] jyotsana3108 commented on #64
I would like to work on this issue. I am a participant of GSSOC 21. Please assign this issue to me.

[2021-03-11 06:41] gritika18 commented on #64
Hii! I'm a GSSOC participant and i would lie to work on this issue. Could you please assign this to me?

[2021-03-11 06:41] shairanshrawat opened #89 "Revamping Question area"
The current question areas are very dull. I want to make it attractive by changing its position and adding the like and dislike button along with the share and bookmark buttons.

I am a participant in GSSOC 2021. I want to contribute to this issue and work on the same. Please could you assign me this issue as a part of GSSOC 2021?
Thank you

[2021-03-11 07:03] gritika18 opened #90 "Adding the logo of Makes Math easy on the home page"
When we open the site it looks blank and empty. I was thinking of addling the logo of Makes Math Easy at the top center position of home page. This will fill the space making it look somewhat like Google.

[2021-03-11 07:05] khareyash05 opened #91 "Update READMe.md"
I would like to add contributing.md file . I will contribute by putting steps on how to clone a repo and install on local system ,how to make a branch and use git commands to push it to origin ,How to make a PR , how to update your forked repo as well as local repo as the changes are made to the upstream
This will make this file a one stop for contributions

I would like to work on this as a part

[2021-03-11 07:10] Muskan-creator commented on #46
I would like to contribute this issue.Please assign it to me.

[2021-03-11 07:15] vmk8826 opened #92 "No space between the mic button and the search button."
## **Describe the bug**

- No space between the mic button and the search button.

## **Possible solution**

- There should be some amount of space between the mic and the search button.

## **Screenshots**

![bug](https://user-images.githubusercontent.com/68069180/110749759-8a643f00-8267-11eb-88e8-d6c6baef1a0a.jpg)

[2021-03-11 07:17] vmk8826 commented on #92
Can you assign it to me, I am a GSoC 2021 aspirant.

[2021-03-11 07:18] SanskrutiRP opened #93 "Changing the C (clear) button functioning, it is not clearing the all the fields"
In the calculator design we have to click on clear button to clear the input field.
And click on backspace button to clear the output field.
Which is creating problem for first time using user.
Would like to make changes to that?
Please assign this issue to me.
Thank You!!!

[2021-03-11 07:21] mohammedjameel24 commented on #9
assign it to me gssoc21

[2021-03-11 07:33] Muskan-creator commented on #24
I would like to work on this issue.Please assign it to me.I will create png files for all shapes.

[2021-03-11 07:38] SanskrutiRP opened #95 "Scroll calculator automatically on toggle down"
## **Describe the bug**

-Whenever we open calculator it remains open even if we have selected another functionality.
Suppose we have opened calculator and then we open integration tab. Then calculator must be closed but it needs to tab on calculator button to close.

## **Possible solution**

- Making calculator responsive. i.e. when another feature is opened it must be closed automatically. And

[2021-03-11 07:41] SanskrutiRP commented on #93
I am GSSoC'21 participant. Please assign this to me.

[2021-03-11 08:01] vanshikapandey commented on #90
I am interested in working in this issue please assign it to me ma'am.

[2021-03-11 08:23] gritika18 commented on #90
I'm not the Project admin. I'm a GSSOC participant. I've created this issue here so that the mentor will look upon it and if they find it relevant then he'll assign it to me.

[2021-03-11 08:37] aashishah opened #96 "Trigonometry Values favorite button fix."
## **Describe the bug**

Upon clicking the Trigonometry Values button, the P/B/H favorite button gets activated instead of the Trigonometry Values option. Although it shows up in the footer, it doesn't seem to activate the "heart"/favorite button.

## **Possible solution**

This is a simple bug fix in either the JS or the CSS script.

## **Screenshots**
![Issue](https://user-images.githubuserconte

[2021-03-11 08:38] aashishah commented on #96
I'd like to fix this issue under GSSOC'21, thank you!

[2021-03-11 08:55] #24 closed

[2021-03-11 08:57] satyampgt4 opened #97 "Currency converter"
## Proposal

Add currency converter using api to convet one currency  to other

[2021-03-11 08:57] satyampgt4 commented on #97
I would like to work on this issue @sairish2001 under gssoc 2021

[2021-03-11 09:24] sairish2001 commented on #95
Actually, I don't want it to close automatically, when other functions toggles, because sometimes while doing some other calculations, if user wants to do some basic Calculations at a same time ,then it would create a problem if we close the other opened Calculators.

[2021-03-11 09:26] sairish2001 commented on #93
Yeah! I was thinking off the same problem, you catch it right.

Can you make backspace button to work as clear button also, i.e if pressed long for 2 seconds then it must clear fields, otherwise serve a backspace functionality.

[2021-03-11 09:28] sairish2001 commented on #91
Go ahead!
Actually it's already there in the ReadMe file. But if you can make it more clear for beginners then you can make changes in ReadMe.md

[2021-03-11 09:30] sairish2001 commented on #89
Which question area are you talking about?

[2021-03-11 09:31] khareyash05 commented on #91
Okay Thanx

[2021-03-11 09:54] mohammedjameel24 opened #98 "A short tour for every Calculator to let users understand how to use it"
## Proposal

A short tour for every Calculator to let users understand how to use it

[2021-03-11 10:21] sairish2001 commented on #91
Feel free to ask your doubts, if any

Deadline 13 March,2021 (11:59 PM IST)

[2021-03-11 10:27] sairish2001 commented on #84
Feel free to ask your doubts, if any
Deadline 13 March,2021(11:59 PM IST)

[2021-03-11 10:27] kanishka8276 commented on #84
Ok! Thank you ☺️

[2021-03-11 10:29] sairish2001 commented on #83
Great!
Feel free to ask your doubt,if any
Deadline 16 March,2021 (11:59 PM IST)

[2021-03-11 10:31] sairish2001 commented on #97
Feel free to ask your doubts, if any
Deadline 16 March,2021 (11:59 PM IST)

[2021-03-11 10:33] sairish2001 commented on #92
One of our participant is making some new changes in this search bar.So, wait for the PR

[2021-03-11 10:36] sairish2001 commented on #85
I already assigned you 1 Major and 1 Minor issue, would you manage to deliver the outcome upto 16 March,2021 ? as it's also a Major issue.

[2021-03-11 10:48] sairish2001 commented on #9
Today is the last date @RituCs
11 March,2021 (11:59 PM IST)

[2021-03-11 10:50] SanskrutiRP commented on #95
You are right👍.
Then I think we can place calculator at fixed location on screen.
Because we need to scroll down to find calculator.

[2021-03-11 10:50] sairish2001 commented on #8
Please make a valid PR before 12 March,2021 (11:59 PM IST) without conflicts

It's a deadline

[2021-03-11 10:52] SanskrutiRP commented on #93
Yup I can, thank you!
Can you add GSSoC'21 label to it?

[2021-03-11 10:52] sairish2001 commented on #95
If you want, then you can make some changes like:
Whenever the calculator toggles down, automatically scroll the screen to the calculator

[2021-03-11 10:54] sairish2001 commented on #93
Feel free to ask your doubts, if any
Deadline 15 March,2021 (11:59 PM IST)

[2021-03-11 10:55] vmk8826 commented on #92
okay

[2021-03-11 10:55] #64 closed

[2021-03-11 10:56] sairish2001 commented on #92
[#44](https://github.com/sairish2001/makesmatheasy.github.io/issues/44)

[2021-03-11 10:57] SanskrutiRP commented on #93
Thank You!!!

[2021-03-11 10:58] sairish2001 commented on #87
Feel free to ask your doubts, if any
Deadline 16 March,2021 (11:59 PM IST)

[2021-03-11 10:59] SanskrutiRP commented on #95
Yes. It's better. Thank you!

[2021-03-11 10:59] sairish2001 commented on #87
One thing I would like to clear here is
This plotting function only supports plotting for single variable 'x' (small 'x' not Large 'X')

[2021-03-11 11:02] sairish2001 commented on #95
Feel free to ask your doubts, if any
Deadline 16 March,2021 (11:59 PM IST)

[2021-03-11 11:02] vmk8826 opened #99 "Add a inverse of matrix finding tool."
## Proposal
There is a matrix operator but not a determinant solver. There should be a way to find determinant and inverse
![determinant](https://user-images.githubusercontent.com/68069180/110777648-5c8ef280-8287-11eb-9dec-c7cd63b42005.jpg)
 matrix too.

[2021-03-11 11:03] vmk8826 commented on #99
please assign it to me I am a GSoC 2021 aspirant.

[2021-03-11 11:05] sairish2001 commented on #99
It's already there in
- Matrix
- Single Matrix
- Input Fields
- Determinant (up to 5x5)

[2021-03-11 11:07] sairish2001 commented on #99
In future I am planning to add more operations for the matrix, if I place all functions in the sidenav, then the list becames so long

[2021-03-11 11:08] sairish2001 commented on #96
![Untitled](https://user-images.githubusercontent.com/60106112/110778323-36b61d80-8288-11eb-9826-74ce97ad888e.png)

Here's the problem in index.html file

[2021-03-11 11:09] sairish2001 commented on #96
Feel free to ask your doubts, if any
Deadline 13 March,2021 (11:59 PM IST)

[2021-03-11 11:10] vmk8826 commented on #99
oh okay but I guess the tool for finding the inverse of a matrix is not there. Can I work on that

[2021-03-11 11:10] sairish2001 commented on #85
Feel free to ask your doubts, if any
Deadline 17 March,2021(11:59 PM IST)

[2021-03-11 11:40] #84 closed

[2021-03-11 11:41] vmk8826 commented on #99
can youreview above suggestion please

[2021-03-11 11:46] sairish2001 commented on #4
@SravanKumarBattu Any Update?

[2021-03-11 11:47] sairish2001 commented on #3
@sayna3311 Any Update?

[2021-03-11 11:51] #37 closed

[2021-03-11 11:55] sairish2001 commented on #22
@Abhisheka394 Any update? are you able to solve this.
There are some changes in our code kindly, update in your local machine

[2021-03-11 13:03] Abhisheka394 commented on #22
@sairish2001 I have started working on the task and I think I would be able to finish it on time. In case, I have some doubts I will ask you.

[2021-03-11 13:08] sairish2001 commented on #22
There are some changes in the code kindly, update in your local machine, otherwise while creating PR conflicts may occur

[2021-03-11 13:20] gnikita432 opened #101 "enhancement in about section"
## Proposal
The About section would look nicer in the center also can add a pointer cursor when a user hovers on it.
(A clear and concise description of what the proposal is.)
![mi3](https://user-images.githubusercontent.com/61223163/110793386-90bfde80-829a-11eb-96ad-9d8eecc4532f.PNG)

[2021-03-11 13:22] gnikita432 commented on #101
can you please assign me this issue under GSSOC'21

[2021-03-11 13:27] sairish2001 commented on #101
If you want to add some documentation in the About Section, then you can as this project is now Open Source.

[2021-03-11 13:28] sairish2001 commented on #101
Feel free to ask your doubts, if any
Deadline 13 March,2021 (11:59 PM IST)

[2021-03-11 13:48] Sapna2001 opened #102 "Copyright section"
## Proposal
I would like to add a footer to the page with a copyright statement - **Copyright © 2021 Makes Math Easy. All rights reserved**.
I am a GSSOC 2021 participant.

[2021-03-11 13:50] sairish2001 commented on #102
But actually it's a web app, I don't want any footer,

[2021-03-11 14:39] gnikita432 commented on #101
Sure I will let you know my ideas for the about section.

[2021-03-11 14:55] #102 closed

[2021-03-11 15:10] sairish2001 opened #106 "Copyright text is overlapping the SideNav"
![image](https://user-images.githubusercontent.com/60106112/110808313-dd5ee600-82a9-11eb-97e3-ed562aac695e.png)
It must be at the last of Sidenav, with smaller font-size

[2021-03-11 15:13] #91 closed

[2021-03-11 15:15] khareyash05 commented on #106
Can i have it a go?

[2021-03-11 15:21] sairish2001 commented on #106
Feel free to ask your doubts, if any
Deadline 13 March,2021(11:59 PM IST)

[2021-03-11 15:23] khareyash05 commented on #106
I have solved the problem sending in 2 mins

[2021-03-11 15:23] SanskrutiRP commented on #95
Thank You!!

[2021-03-11 15:39] Ankita297 commented on #10
Sir i need some guidance like we need to make a different category for plot graph ? Example like category should be Graphs
?

[2021-03-11 15:49] Ankita297 commented on #10
Because in Readme file plot graph is in general category .

[2021-03-11 16:25] vmk8826 commented on #99
can you please checkout above suggestion

[2021-03-11 16:30] aanchalrakheja opened #108 "The image for the right angled triangle has wrong labellings (specifically base)"
## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**
![image](https://user-images.githubusercontent.com/68388581/110820386-0d5fb680-82b5-11eb-8f25-7f76aac47335.png)

- If applicable, add screenshots to help explain your problem.

[2021-03-11 16:31] aanchalrakheja commented on #108
i would like to correct the issue. Please assign it to me

[2021-03-11 16:32] #106 closed

[2021-03-11 16:53] #46 closed

[2021-03-11 16:55] gnikita432 opened #110 "Font size of copyright is too small"
## **Describe the bug**

Font size of copyright is too small.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![mi4](https://user-images.githubusercontent.com/61223163/110823031-b3acbb80-82b7-11eb-9791-5921d2ca996b.PNG)

[2021-03-11 16:58] janvi01 opened #111 "fix Unit convertor."
In unit convertor , while clicking on any option other than length, the top part is showing length for all option.

<img width="1132" alt="Screenshot 2021-03-11 at 10 23 09 PM" src="https://user-images.githubusercontent.com/34344234/110824343-f9b64f00-82b8-11eb-98d2-4befbaec2b39.png">

Here, I clicked on volume, it still showing length while it should show volume.

[2021-03-11 16:58] janvi01 commented on #111
I would like to work.

[2021-03-11 17:05] sairish2001 commented on #110
I don't want, to show any information other than the app's motive. Hence I recommend to make its size small

[2021-03-11 17:08] sairish2001 commented on #10
Don't consider README.md

Make Categories which suits by yourself

[2021-03-11 17:08] sairish2001 commented on #10
Yes you can

[2021-03-11 17:12] sairish2001 commented on #108
Deadline 14 March,2021 (11:59 PM IST)

[2021-03-11 17:12] #110 closed

[2021-03-11 17:13] sairish2001 commented on #111
Go ahead
Deadline 14 March,2021 (11:59 PM IST)

[2021-03-11 17:15] #66 closed

[2021-03-11 17:17] vmk8826 commented on #8
done
there are no conflicts now

[2021-03-11 17:19] #8 closed

[2021-03-11 17:20] #92 closed

[2021-03-11 17:24] sairish2001 commented on #13
@DeepanshuSarswat Deadline is near, are you able to solve this issue?

[2021-03-11 18:28] #111 closed

[2021-03-11 18:29] sairish2001 commented on #9
Do you want to contribute?

[2021-03-11 18:38] sayna3311 commented on #9
Yes, I want to! :)

[2021-03-11 18:40] shairanshrawat commented on #89
![Screenshot (51)_LI](https://user-images.githubusercontent.com/62132905/110837377-26716300-82c7-11eb-920e-a4f3a77e555f.jpg)

Sir I'm talking about this question area. I will be working on designing it in a better perspective as I mention above

[2021-03-12 02:26] khareyash05 opened #116 "Add a Footer"
## **Is your feature request related to a problem? Please describe.**

I would like to add a Footer at the bottom
Somewhat like this
![Bootstrap-footer-by-Kate](https://user-images.githubusercontent.com/60147732/110882741-6573d880-8308-11eb-9949-a46f389c8325.jpg)

[2021-03-12 04:09] #97 closed

[2021-03-12 04:09] Krishan-2000 commented on #85
Can I work on this issue?
Please assign this issue to me @sairish2001
#GsSOC'21

[2021-03-12 04:14] Krishan-2000 opened #117 "Add Factorial and Permutations and Combinations of a Number(General Maths)"
Can I add two more option in General Maths :

1)Calculate Factorial of  a Number.
2)Permutations and Combinations of a Number.

I want to work on this feature Please assign this to me @sairish2001.

#GsSOC'21

[2021-03-12 05:10] LalitMishra1504 opened #118 "Calculator is Excepting answer of string input as well"
## **Describe the bug**

On writing string in input instead of showing invalid input it is showing the answer
#Gssoc'21 participant.
Sir please assign this to me @sairish2001

## **Possible solution**

-I can use REGEX for not allowing alphabets

## **Screenshots**
![Screenshot (1026)](https://user-images.githubusercontent.com/78636179/110894957-d7efb300-831e-11eb-8b31-f030dc36f38e.png)

[2021-03-12 05:48] sairish2001 commented on #118
[#17](https://github.com/sairish2001/makesmatheasy.github.io/issues/17) issue is already open for the same

[2021-03-12 05:49] sairish2001 commented on #117
Great issue!
Feel free to ask your doubts, if any
Deadline 17 March,2021 (11:59 PM IST)

[2021-03-12 05:50] sairish2001 commented on #116
Actually it's a web app, so I don't want such footers to appear

[2021-03-12 05:53] sairish2001 commented on #9
Feel free to ask your doubts, if any
Deadline 14 March,2021 (11:59 PM IST)

[2021-03-12 06:04] LalitMishra1504 opened #120 "Finding Mean,Median,Mode of a numbers"
if a user input numbers and he/she will click on mean button to find mean click on median button to find median and mode button to find mode.
I am a gssoc'21 participant can you please assign me this @sairish2001

[2021-03-12 06:08] LalitMishra1504 commented on #118
ok sir

[2021-03-12 06:08] sairish2001 commented on #120
Feel free to ask your doubts, if any
Deadline 17 March,2021 (11:59 PM IST)

[2021-03-12 06:08] Krishan-2000 commented on #117
Thanks for assign me this issue I will surely do this.

[2021-03-12 06:08] kavyamehra20 commented on #41
Kindly Check!

[2021-03-12 06:09] #116 closed

[2021-03-12 06:09] LalitMishra1504 commented on #120
Thanks for assigning this to me i will do my best

[2021-03-12 06:13] #118 closed

[2021-03-12 06:14] sairish2001 commented on #41
@kavyamehra20 What to check? Have you made the PR?

[2021-03-12 07:15] vmk8826 commented on #87
should I change it so that it supports both X and x

[2021-03-12 07:54] anjali7786 opened #123 "Checking prime"
Can I add one more feature to find whether a number is prime or not?
I want to work on this issue under GSSOC'21. Please assign this to me.

[2021-03-12 08:56] rk05-lenavo commented on #120
I'm a GSSOC'21 participant kindly assign me this issue. I would love to work in this.

[2021-03-12 08:57] rk05-lenavo commented on #117
I'm a GSSOC'21 participant kindly assign me this issue. I would love to work in this.

[2021-03-12 08:59] rk05-lenavo commented on #93
I'm a GSSOC'21 participant kindly assign me this issue. I would love to work in this.

[2021-03-12 08:59] rk05-lenavo commented on #74
I'm a GSSOC'21 participant kindly assign me this issue under GSSOC'21. I would love to work in this.

[2021-03-12 09:01] rk05-lenavo commented on #9
I'm a GSSOC'21 participant kindly assign me this issue. I would love to work in this.

[2021-03-12 09:02] rk05-lenavo commented on #13
I'm a GSSOC'21 participant kindly assign me this issue. I would love to work in this.

[2021-03-12 09:09] #96 closed

[2021-03-12 09:24] sairish2001 commented on #123
Feel free to ask your doubts, if any
Deadline 17 March,2021 (11:59 PM IST)

[2021-03-12 09:26] sairish2001 commented on #123
I would appreciate if you add
- Print prime numbers up to **n** calculator

along with checker

[2021-03-12 09:28] anjali7786 commented on #123
Thank you for assigning me this issue. I will add that also

[2021-03-12 09:33] Ankita297 commented on #10
![Makes Math Easy - Google Chrome 12-03-2021 15_03_02](https://user-images.githubusercontent.com/67833077/110921056-1ea3d400-8344-11eb-8c7a-5431db716c62.png)
![Makes Math Easy - Google Chrome 12-03-2021 15_03_10](https://user-images.githubusercontent.com/67833077/110921061-206d9780-8344-11eb-9fe0-11a13c7c270c.png)

[2021-03-12 09:34] Ankita297 commented on #10
![Makes Math Easy - Google Chrome 12-03-2021 15_02_41](https://user-images.githubusercontent.com/67833077/110921137-35e2c180-8344-11eb-8f20-a4669266269a.png)
![Makes Math Easy - Google Chrome 12-03-2021 15_02_52](https://user-images.githubusercontent.com/67833077/110921145-37ac8500-8344-11eb-8993-f12c0ea20c05.png)

[2021-03-12 09:35] Ankita297 commented on #10
Sir is it okay ?

[2021-03-12 10:11] sairish2001 commented on #10
Do add **Play with Equations** function in **General Equations category**

Change **General Equations Category** name to **_Equations_**

[2021-03-12 10:37] rk05-lenavo commented on #44
Hey , I am participant in GSSOC'21 . Can you please assign this to me under GSSOC'21?

[2021-03-12 10:39] rk05-lenavo commented on #87
Hey , I am participant in GSSOC'21. Can you please assign this to me?

[2021-03-12 10:52] khareyash05 opened #125 "Simple and Compound Interest"
Can I add a feature of finding simple and compound interest

[2021-03-12 10:53] rk05-lenavo commented on #123
Hey , I am participant in GSSOC'21. Can you please assign this to me?

[2021-03-12 10:54] sairish2001 commented on #87
just f(x)=
You can make a function to alert user to only enter lowercase letters if CapsLock is turned on

[2021-03-12 10:56] sairish2001 commented on #125
Feel free to ask your doubts, if any
Deadline 17 March,2021 (11:59 PM IST)

[2021-03-12 10:56] khareyash05 opened #126 "Surface Areas and Volumes of 3-D Shapes"
Till now we can find areas of only 2-D Shapes . I would like to extend it to 3-D shapes and calculate surface areas and volumes

[2021-03-12 10:57] #126 closed

[2021-03-12 10:57] sairish2001 commented on #99
Feel free to ask your doubts, if any
Deadline 15 March,2021 (11:59 PM IST)

[2021-03-12 11:11] #10 closed

[2021-03-12 11:37] amrzaki2000 opened #128 "[GSSoC '21] Binary Converter"
Hello,
I'd like to work on a feature that shows how to convert decimal numbers to binary numbers.
I'm a GSSoC participant.

[2021-03-12 12:25] vmk8826 commented on #87
okay

[2021-03-12 12:26] vmk8826 commented on #87
ma'am this issue is already being taken by me, you can try something other than this.

[2021-03-12 13:15] sairish2001 commented on #128
Feel Free to ask your doubts, if any
Deadline 17 March,2021 (11:59 PM IST)

[2021-03-12 13:45] amrzaki2000 commented on #128
Should I create a new list element for binary system or just add the feature to 'Basic Converters' section?
I mean in case there is going to be any more binary calculations

[2021-03-12 14:14] rohank2502 opened #131 "Adding Contributor section in readme ( Automatically )"
I will like to add a feature this will update contributor list in read me automatically !! Will start to work on this issue as soon as i get assigend !!

[2021-03-12 14:16] aanchalrakheja opened #132 "it would great to include the formula to calculate hypotenuse of the right angle triangle under shapes calculator"
i would love to work on this issue.

[2021-03-12 14:41] anshulsharma123 opened #133 "I would like add feature of finding slope of a line under shapes calculator"
Hello @sairish2001  I would like to add the feature of finding slope of a line please assign this issue to me under gssoc21

[2021-03-12 15:41] #108 closed

[2021-03-12 15:43] sairish2001 commented on #128
Add in Basic Converters section

[2021-03-12 15:45] amrzaki2000 commented on #128
Okay
Can I add more features or should I only create it then submit a new issue ?

[2021-03-12 15:47] sairish2001 commented on #128
Create this then Publish new issues, it's your choice if want to create issue, then go ahead

[2021-03-12 15:49] amrzaki2000 commented on #128
Okay, thanks

[2021-03-12 16:49] sairish2001 commented on #131
Feel Free to ask your doubts, if any
Deadline 16 March,2021 (11:59 PM IST)

[2021-03-12 16:50] sairish2001 commented on #132
Deadline 14 March,2021 (11:59 PM IST)

[2021-03-12 16:51] sairish2001 commented on #133
Feel free to ask your doubts,if any
Deadline 17 March,2021(11:59 PM IST)

[2021-03-12 16:56] rohank2502 commented on #131
Ok Thanks !!

[2021-03-12 17:08] rohank2502 commented on #131
Please give a review to PR I will do suggested changes !!

[2021-03-12 17:11] Hamza3226 commented on #128
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:23] #131 closed

[2021-03-13 04:43] rk05-lenavo commented on #13
I'm a GSSOC'21 participant kindly assign me this issue. I would love to work in this.

[2021-03-13 04:44] rk05-lenavo commented on #125
I'm a GSSOC'21 participant kindly assign me this issue. I would love to work in this.

[2021-03-13 06:50] janvi01 opened #136 "Add trigonometric identities."
Add separate trigonometric identities folder in trigonometry part.

somewhat like this
![TI](https://user-images.githubusercontent.com/34344234/111022066-7c90f400-83f6-11eb-89d5-df166c66e441.png)

[2021-03-13 06:51] janvi01 commented on #136
I would like to work.

[2021-03-13 06:55] shrey27tri01 commented on #13
Hey @rk05-lenavo, if you are not able to get assigned an issue, you can play around with the codebase and explore the application, try to find bugs or more features to add, create your own issues and we can assign those to you.

[2021-03-13 07:10] sairish2001 commented on #136
Feel Free to ask your doubts, if any
Deadline 18 March,2021 (11:59 PM IST)

[2021-03-13 07:12] sairish2001 commented on #3
Deadline is near @sayna3311 Any update?

[2021-03-13 07:13] sairish2001 commented on #17
Deadline is near @Sukriti-sood any update?

[2021-03-13 07:16] sairish2001 commented on #44
Deadline crossed, but I think you have completed your work, due to some conflicts PR not merged

So Deadline extended 13 March,2021 (11:59 PM IST)

Do make PR with the updated code to avoid conflicts

[2021-03-13 07:44] sairish2001 commented on #1
Any Update? @nandini7637

[2021-03-13 07:53] #101 closed

[2021-03-13 08:50] khareyash05 commented on #125
Sorry @rk05-lenavo I am already working on this issue

[2021-03-13 11:53] Sukriti-sood commented on #17
Sorry Sir due to some reason I was not able to do anything, I will try from my side in the time left.

[2021-03-13 12:26] Sukriti-sood commented on #17
@sairish2001  For invalid Expression, what calculator need to render,I mean will it give alert for invalid expression or will show no change n input?

[2021-03-13 12:30] sairish2001 commented on #17
no change

[2021-03-13 13:19] #136 closed

[2021-03-13 14:27] mridulabatra commented on #44
Sir i have made some changes that will take the content under the search bar and the calculator that was going to extreme left i corrected that too then i tried sending the pull request again and i was not able to do so

[2021-03-13 14:29] mridulabatra commented on #44
Sir also can u tell me what other changes i should make to avoid the conflicts in PR thank you

[2021-03-13 14:31] sairish2001 commented on #44
Just keep your code updated
Then probably no conflicts occur.

Today some PR's got merged, so kindly update your code.

[2021-03-13 14:51] anu-cn opened #139 "Adding animation to the "favourite" panel."
Hello sir, I am a GSSOC'21 participant.
I would like to add animation to the "favourite" panel that is displayed at the bottom of the page, so that it can look more responsive while hovering over it.

[2021-03-13 14:51] mridulabatra commented on #44
Okh sir

[2021-03-13 15:00] SanskrutiRP commented on #93
Hey @sairish2001 , I am done with this but I think it will be efficient if it clears when pressed for 1 sec.
What do you think?

[2021-03-13 15:03] sairish2001 commented on #93
yes! fine

[2021-03-13 15:17] SanskrutiRP commented on #93
Okay!!

[2021-03-13 17:56] sairish2001 commented on #44
Deadline is near

[2021-03-13 18:11] #93 closed

[2021-03-13 18:17] vmk8826 commented on #87
Hello sir, I want to extend the deadline for a bit on this, as I am also working on #99 which has a deadline on 15th. It will be very helpful.

[2021-03-13 18:21] Sukriti-sood commented on #17
@sairish2001 Please check The PR.

[2021-03-13 18:22] mridulabatra commented on #44
sir i have tried several times now its giving error saying "please make sure you have the correct access rights and repository exists".

[2021-03-13 18:26] #85 closed

[2021-03-13 18:27] sairish2001 commented on #44
Have you done with your work?

[2021-03-13 18:28] mridulabatra commented on #44
Yes sir

[2021-03-13 18:29] sairish2001 commented on #44
Try to make PR without CLI, may be it works

[2021-03-13 18:30] mridulabatra commented on #44
Okh sir

[2021-03-13 18:52] #132 closed

[2021-03-13 18:58] sairish2001 opened #147 "Missing height label in image"
Label for height is missing in Scalene Triangle image
![scalene](https://user-images.githubusercontent.com/60106112/111041009-1474f900-845c-11eb-9d8f-d1fea6518a3e.png)

[2021-03-13 19:33] mridulabatra commented on #44
Sir still not working and now its showing nothing to commit working tree clean

[2021-03-13 21:21] madihamallick commented on #147
@sairish2001 I would like to add the feature please assign this issue to me under gssoc21

[2021-03-14 03:11] deek121477 commented on #147
I would like to work on this issue.

[2021-03-14 03:43] #17 closed

[2021-03-14 03:47] sairish2001 commented on #44
Ping a message in our discord channel

[2021-03-14 04:13] sairish2001 commented on #147
Feel free to ask your doubts, if any
Deadline 16 March,2021 (11:59 PM IST)

[2021-03-14 06:00] #147 closed

[2021-03-14 06:13] ainy-123 opened #151 "checking sides of valid triangle"
I would like to add a feature to this project that, given 3 numbers ,output whether they can be the sides of a triangle or not?

I am a GSSoC'21 participant and want to work on this feature .Please assign it to me.

[2021-03-14 07:34] satcasm opened #153 "Product-to-sum and sum-to-product identities"
Would like to add product-to-sum and sum-to-product identities as an addition to existing trigonometric identities.
If seemed relevant , would like to work on it  under GSSOC' 21.
Thanks!

[2021-03-14 07:35] sairish2001 commented on #153
Feel free to ask your doubts, if any
Deadline 18 March,2021 (11:59 PM IST)

[2021-03-14 07:36] sairish2001 commented on #151
Under which category you will add this feature?

[2021-03-14 07:44] sairish2001 commented on #31
Will you be able to complete it by today?

[2021-03-14 08:06] robin025 commented on #31
Yes

[2021-03-14 08:09] ainy-123 commented on #151
We can create a section of 'geometry' like the trigonometry, calculus etc and then can add this issue in that category and there can be many issues created in this category which will make maths more easy,like we can implement various geometry formulas,like finding area of the triangle ,if the sides are valid ,and so on.

We can create a section of 'geometry' like the trigonometry, calculus etc an

[2021-03-14 08:46] sairish2001 commented on #151
Calculating areas, volums ,etc are already implemented in Shapes Calculator under Shapes and Graph Category you can check it out.

[2021-03-14 08:49] khareyash05 commented on #125
@sairish2001 Creating a new PR give me 2 mins

[2021-03-14 09:04] #125 closed

[2021-03-14 09:36] ainy-123 commented on #151
Ok thank you . should I close this issue then?

[2021-03-14 09:39] #151 closed

[2021-03-14 10:42] satcasm opened #156 "Scroll bar at the end of the page"
The scroll bar can be improved upon. As of now it is not covering the entire width of the left side of page.

Reference screenshot:
![image](https://user-images.githubusercontent.com/56315878/111065451-c570a780-84df-11eb-875f-b648e113781d.png)

Would like to work on it under GSSOC' 21.
Thanks!

[2021-03-14 11:00] #133 closed

[2021-03-14 11:01] #153 closed

[2021-03-14 11:30] anjali494 opened #158 "Add value of area and parameter under 'Calculator for Shapes' section"
In the calculator for shapes section, the values for parameter and area is not displayed for isosceles, right-angled and scalene triangle.

I am a GSSOC'21 participant and would like to work on ad fix this issue.

[2021-03-14 11:57] satcasm opened #161 "Complex number calculation"
I would like to add basic operations on complex numbers under GSSOC' 21.
Thanks!

[2021-03-14 12:05] SandeepKrSuman opened #162 "Triple angle formula"
Would like to add triple angle identities in addition to the existing trigonometric identities.

Please assign this to me under GSSOC21.

[2021-03-14 12:51] #117 closed

[2021-03-14 12:55] Drishtdyumnss opened #164 "LIMITS under calculus"
I want to add all the limit formulas under calculus section .
@sairish2001 please assign this feature to me under GSSOC21.

[2021-03-14 13:06] sairish2001 commented on #164
Feel Free to ask your doubts, if any
Deadline 19 March,2021(11:59 PM IST)

[2021-03-14 13:07] sairish2001 commented on #162
Feel free to ask your doubts, if any
Deadline 17 March,2021 (11:59 PM IST)

[2021-03-14 13:08] sairish2001 commented on #161
Feel free to ask your doubts, if any

Deadline 19 March,2021 (11:59 PM IST)

[2021-03-14 13:08] SandeepKrSuman commented on #162
sure. Thanks for assigning

[2021-03-14 13:09] sairish2001 commented on #158
Feel free to ask your doubts, if any
Deadline 19 March,2021 (11:59 PM IST)

[2021-03-14 13:37] #128 closed

[2021-03-14 14:08] anshulsharma123 opened #167 "Circle in geometry section is not working properly"
@sairish2001 Circle in geometry section is not working properly I would like to fix this issue please assign this issue to me under gssoc21

[2021-03-14 14:50] amrzaki2000 opened #169 "[GSSoC '21] More binary features"
Hello,
I'd like to work on more binary features. I can add AND, OR, XOR calculator and the user can write the numbers in decimal or binary base.

[2021-03-14 14:56] sairish2001 commented on #169
Go Ahead
Deadline 19 March,2021 (11:59 PM IST)

[2021-03-14 15:08] aanchalrakheja commented on #13
i would like to work on this issue.

[2021-03-14 15:24] #162 closed

[2021-03-14 15:25] #120 closed

[2021-03-14 15:27] sairish2001 commented on #13
Feel free to ask your doubts, if any
Deadline 20 March,2021 (11:59 PM IST)

[2021-03-14 15:42] satyampgt4 opened #171 "Interest calculator"
## Proposal

A calculator for calculating simple and compound interest

[2021-03-14 15:42] satyampgt4 commented on #171
I would like to work on this issue @sairish2001 under gssoc 2021

[2021-03-14 15:50] sairish2001 commented on #171
Feel free to ask your doubt, if any
Deadline 20 March,2021 (11:59 PM IST)

[2021-03-14 15:54] sairish2001 commented on #22
@Abhisheka394 Any update?

[2021-03-14 15:56] sairish2001 commented on #83
Any update? @kanishka8276

[2021-03-14 15:58] kanishka8276 commented on #83
Yes I am working on it. I have created the template for the calculator. Now I am working on the functions.

[2021-03-14 15:59] sairish2001 commented on #99
![image](https://user-images.githubusercontent.com/60106112/111075071-36c64f80-850c-11eb-99cb-7f71032f86a0.png)

Do add inverse of matrix option in between these options rather than in sidenav

[2021-03-14 16:12] zhcet19 opened #172 "Adding Octal to Binary Conversion and Viceversa option"
## **Is your feature request related to a problem? Please describe.**

Presently,there is only option of conversion of binary to decimal and viceversa why not include other bases .

## **Describe the solution you'd like**

I would like to add feauter of conversion of octal based number to binary and viceversa

[2021-03-14 16:13] zhcet19 commented on #172
I would like to work on this issue @sairish2001 under gssoc 2021

[2021-03-14 16:15] sairish2001 commented on #172
Feel free to ask your doubts, if any
Deadline 20 March,2021 (11:59 PM IST)

[2021-03-14 17:13] Itashi19 opened #173 "To convert binary number to hexadecimal number and vice-versa"
I would like to add this feature of conversion of binary to hexadecimal number and vice-versa in the basic convertors section.

I would like to work on this issue @sairish2001 under gssoc 2021.

[2021-03-14 17:49] #22 closed

[2021-03-14 17:51] sairish2001 commented on #173
Feel free to ask your doubts, if any
Deadline 20 March,2021 (11:59 PM IST)

[2021-03-14 17:59] sairish2001 commented on #31
Deadline extended 15 March,2021 (11:59 PM IST)

[2021-03-14 18:47] vmk8826 commented on #99
okay

[2021-03-14 19:46] Ayushbajpai19 commented on #171
Can you assign this issue to me, once approved I can start working on it under GSSOC'21.

[2021-03-14 19:46] Ayushbajpai19 commented on #156
Can you assign this issue to me, once approved I can start working on it under GSSOC'21.

[2021-03-15 05:45] lakshita15 commented on #13
i would like to work on this issue. i'll make the static page using html,scss, and react.Just tell me the basic requirements. i would love to work on this issue and will submit before deadline....

[2021-03-15 05:48] lakshita15 commented on #123
can you assign this to me. I eagerly want to contribute to this

[2021-03-15 08:36] #169 closed

[2021-03-15 08:36] amrzaki2000 opened #177 "[GSSoC '21] Adding Fourier Series"
Hello,
I want to add Fourier Series in the calculus section as part of my GSSoC participation.
Thank you

[2021-03-15 08:39] sairish2001 commented on #177
You want to add Calculator?

[2021-03-15 08:43] amrzaki2000 commented on #177
It will be like the integrals calculator one, but instead it should be able to compute fourier series coefficients.

[2021-03-15 08:45] sairish2001 commented on #177
Feel free to ask your doubts,if any

Deadline 20 March,2021 (11:59 PM IST)

[2021-03-15 09:14] zhcet19 opened #178 "Adding hexadecimel and octal based number in bitwise calculator"
## **Is your feature request related to a problem? Please describe.**

Presently,only decimal and binary base is present why not include all other bases .

## **Describe the solution you'd like**

I want to add hexadecimal  and octal base also in this calculator

[2021-03-15 09:21] zhcet19 commented on #5
@sairish2001 please assign me this issue

[2021-03-15 10:26] sairish2001 commented on #5
Feel free to ask your doubts, if any
Deadline 20 March,2021 (11:59 PM IST)

[2021-03-15 10:27] sairish2001 commented on #178
Feel free to ask your doubts, if any
Deadline 20 March,2021 (11:59 PM IST)

[2021-03-15 10:28] sairish2001 commented on #178
The issue is already opened for the same

[2021-03-15 10:32] sairish2001 commented on #13
@lakshita15 Most of our issues are already assigned, I would suggest you to explore the application find the bug, or suggest a new Calculator. Make a issue by yourself and ask for assignment

[2021-03-15 10:41] nidhivanjare opened #179 "Add feature to find the log value of x to the base y."
Adding a section to find the logarithmic base of the number in the general math section.
 I would like to work on this issue @sairish2001 under GSSOC 2021.

[2021-03-15 10:43] sairish2001 commented on #179
Feel free to ask your doubts, if any
Deadline 20 March,2021 (11:59 PM IST)

[2021-03-15 11:03] lakshita15 commented on #13
okay

[2021-03-15 11:45] sairish2001 opened #180 "Makes Math Easy Documentation for Linear Algebra"
Create a Documentation in github jekyll theme, telling briefly about how the Linear Algebra section works

Make a PR in [Documentation Repository](https://github.com/sairish2001/Makes-Math-Easy-Documentation)

[2021-03-15 11:48] sairish2001 opened #181 "Create Documentation for Calculus and Trigonometry"
Create Documentation in github jekyll theme

[Documentation Repository](https://github.com/sairish2001/Makes-Math-Easy-Documentation)

[2021-03-15 11:50] robin025 commented on #180
hey @sairish2001 I would like to work on this issue as a GSSOC 21 participant

[2021-03-15 11:51] sairish2001 commented on #180
Deadline 20 March,2021(11:59 PM IST)

[2021-03-15 11:52] robin025 commented on #181
hey @sairish2001 I would like to work on this issue as a GSSOC 21 participant and will provide all the info related to trigonometry along with all the necessary formulas and info
Kindly assign me this issue, I shall be very thankful to you

[2021-03-15 11:53] sairish2001 commented on #181
Go ahead Deadline 20 March,2021 (11:59 PM IST)

[2021-03-15 11:56] sairish2001 commented on #31
Make a PR in [Documentation Repository](https://github.com/sairish2001/Makes-Math-Easy-Documentation)

[2021-03-15 12:20] aanchalrakheja commented on #13
SURE

[2021-03-15 12:38] #31 closed

[2021-03-15 12:53] sairish2001 commented on #178
Feel free to ask your doubts, if any
Deadline 20 March,2021 (11:59 PM IST)

[2021-03-15 14:09] akankshaaa-08 commented on #41
@sairish2001 Is this issue currently assigned to somebody? If not, can it be assigned to me?

[2021-03-15 14:19] sairish2001 commented on #41
Feel free to ask your doubts, if any
Deadline 20 March,2021 (11:59 PM IST)

[2021-03-15 14:20] rajeshpanjiyar opened #182 "Add CONTRIBUTORS.md file"
Adding contributor's name automatically. I request you to assign me so that I can start working on this.
And I am a participant under GSSoC'21

[2021-03-15 14:21] sairish2001 commented on #182
Contributors.md file is already there

[2021-03-15 14:22] shrey27tri01 commented on #156
@satcasm you can work on this issue :)
Feel free to ask any doubts!
Deadline: 20 March, 2021 (11:59 PM IST)

Also, @Ayushbajpai19 you can look for other issues, or explore the codebase and find out bugs or features to add :smile:

[2021-03-15 14:32] shrey27tri01 commented on #98
@mohammedjameel24 A calculator tour has been already been covered in the documentation. There's no need of extra documentation, hence I'm closing this issue as of now. Feel free to ask any other doubts!

[2021-03-15 14:32] #98 closed

[2021-03-15 14:42] rajeshpanjiyar commented on #182
Sorry I didn't find it there. In which file is it?

[2021-03-15 14:45] shrey27tri01 commented on #74
@Sloth-Panda You can go ahead with the feature :)
But do let us know in advance what message you'll be using in the template.

And feel free to ask any doubts :smile:
Deadline: 20 March, 11:59 PM IST

[2021-03-15 14:49] shrey27tri01 commented on #89
@shairanshrawat I think there's a little confusion here: the area you are talking about contains the tip of the day, and we don't need further revamps in it's design :smile:
However, if you have any other ideas for the homepage or for the tip of the day, you are most welcome to work on those!

[2021-03-15 14:53] shrey27tri01 commented on #90
@gritika18 You can go ahead with the issue :)
But before creating the pull request, please show us the changes you intend to make through screenshots or any other medium as per your convenience :smile:

[2021-03-15 15:01] shrey27tri01 commented on #139
@anu-cn We are planning to change the UI for the Favorites section, so we can't go ahead with this issue right now. But if you have any other ideas on how to improve the UI for the Favorites section, please feel free to create a new issue and we can assign that to you :smile:

[2021-03-15 15:01] #139 closed

[2021-03-15 15:06] Sloth-Panda commented on #74
Sure @shrey27tri01

[2021-03-15 15:11] Sloth-Panda commented on #74
@shrey27tri01  I feel like when someone opens up an issue message will be like - thanks for opening your first issue in our repo, don't forget to go through our coc and contributing guidelines and wait till u get assigned to work on it.

And for first pr- thanks for opening up your first  pr In this repo. We will soon getting back to you.

For merged first time- yay, your pr has been merged thanks

[2021-03-15 15:26] sairish2001 commented on #182
It's Contributing.md

The contributors section is already implemented in readme.md

[2021-03-15 15:38] shrey27tri01 commented on #74
Sure, I just had some slight modifications as follows, and then you can go ahead with these! Also, see if you can include the username of the user in place of @_user:

**Someone opens a new issue:**

Hi @_user!

Thanks for opening a new issue to [makesmatheasy.github.io](https://sairish2001.github.io/makesmatheasy.github.io/)! Don't forget to go through our [Code of Conduct](https://github.com/sai

[2021-03-15 15:46] rajeshpanjiyar commented on #182
Okay You can close this.

On Mon, 15 Mar, 2021, 9:12 PM Rajinderpal Singh, ***@***.***>
wrote:

[2021-03-15 16:42] Shubhrima opened #186 "light mode"
## **Is your feature request related to a problem? Please describe.**

Different themes evoke different emotions. This project has only one kind of view.

## **Describe the solution you'd like**
I want to add a light mode view to it.

- A clear and concise description of what you want to happen.
[change mode.docx](https://github.com/sairish2001/makesmatheasy.github.io/files/6143034/change.mode.doc

[2021-03-15 16:44] Sloth-Panda commented on #74
@shrey27tri01 I am wondering whether it is possible to fetch someone's github id to just a markup file? Can we do that?? Let me know how can we or I will look myself and will try doing it

[2021-03-15 16:44] janvi01 commented on #44
I would like to work on this.

[2021-03-15 16:53] anjali494 opened #187 "Ellipse under 'Calculator for Shapes' is not working properly"
Ellipse section does not display any value for the input given.
I am a GSSOC'21 participant and would like to work on this issue.

[2021-03-15 17:23] shrey27tri01 commented on #74
@Sloth-Panda To achieve this, some tweaks would be needed in the default [probot](https://github.com/probot/probot) settings. You could have a look at it [here](https://probot.github.io/docs/github-api/#rest-api).

Just let me know in case you are facing any difficulties :)

[2021-03-15 18:06] #182 closed

[2021-03-15 18:09] #156 closed

[2021-03-15 18:11] mrunalvilas commented on #4
hello!
 I am a GSSoC'21 participant, can I work on this issue.

[2021-03-15 18:11] #167 closed

[2021-03-15 18:13] Drishtdyumnss commented on #164
[{sin\space\theta}{cos\space\theta}\]
what is this syntax called... i want to read more about this

[2021-03-15 18:14] #171 closed

[2021-03-15 18:15] sairish2001 commented on #187
Feel Free to ask your doubts, if any
Deadline 21 March,2021 (11:59 PM IST)

[2021-03-15 18:16] sairish2001 commented on #164
This is basically LaTex text

[2021-03-15 18:19] sairish2001 commented on #186
Feel free to ask your doubts, if any
Deadline 21 March,2021 (11:59 PM IST)

[2021-03-15 18:20] sairish2001 commented on #4
Feel free to ask your doubts, if any
Deadline 21 March,2021 (11:59 PM IST)

[2021-03-15 18:31] anu-cn opened #189 "Spelling mistake"
![image](https://user-images.githubusercontent.com/68462316/111203142-9f83f980-85ea-11eb-9c2e-af3a371c0e6c.png)

A small spelling mistake.

[2021-03-15 18:37] Drishtdyumnss commented on #164
under which section does it comes ....cs i find this often used in both html and js
can u provide me link to further explore this laTex

[2021-03-15 18:37] sairish2001 commented on #189
Go ahead
Feel free to ask your doubts, if any
Deadline 18 March,2021 (11:59 PM IST)

[2021-03-15 18:53] anu-cn opened #190 "Design of the Favourite Panel"
We can add a button on the top for favourite list.
By clicking the button the list will be displayed otherwise it will remain hidden and if we select a topic in the list it will be highlighted.
![image](https://user-images.githubusercontent.com/68462316/111205719-8b8dc700-85ed-11eb-8975-5e6bf2f1cc89.png)

[2021-03-15 18:56] Sloth-Panda commented on #74
@shrey27tri01 sure I will let you know

[2021-03-15 19:04] sairish2001 commented on #190
Great Idea!
Feel free to ask your doubts, if any
Deadline 21 March,2021 (11:59 PM IST)

[2021-03-15 19:09] sairish2001 commented on #9
@rk05-lenavo Do you want to work on this issue?

[2021-03-15 21:15] madihamallick opened #192 "Missing height label in image"
I guess it would be better to add the height label here too.

![Capture](https://user-images.githubusercontent.com/70858557/111222225-8dfa1c00-8601-11eb-8aba-a2abb1cf0b9a.PNG)

@sairish2001 I would like to add the feature please assign this issue to me under gssoc21

[2021-03-16 04:27] shrey27tri01 commented on #192
@madihamallick You can go ahead with the issue :)

Deadline: March 19, 2021, 11:59 PM IST

[2021-03-16 04:48] zhcet19 opened #195 "Extra currency convertor under "Binary Calculations""
## **Describe the bug**

No event has been attached on clicking currency convertor section
## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-03-16 05:24] shrey27tri01 commented on #195
@zhcet19 Is this the one you're talking about? We already have a currency converter :)

![Screenshot from 2021-03-16 10-51-28](https://user-images.githubusercontent.com/52366674/111259883-d76c5a80-8645-11eb-8a43-6d005e636551.png)

[2021-03-16 05:28] zhcet19 commented on #195
![gssoc7](https://user-images.githubusercontent.com/55043876/111260244-7b560600-8646-11eb-880e-390f44e9295b.png)

[2021-03-16 05:29] zhcet19 commented on #195
@shrey27tri01 there is another one under binary calculation that is not working properly

[2021-03-16 05:52] surbhi594 opened #196 "I would like to add data convertor in basic convertor section"
## **Is your feature request related to a problem? Please describe.**

- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## **Describe the solution you'd like**

- A clear and concise description of what you want to happen.

[2021-03-16 05:54] nidhivanjare commented on #179
Sure, Thanks !!

[2021-03-16 06:00] surbhi594 commented on #196
Please assign this issue to me as I'm participant of GSSOC'21.

[2021-03-16 06:04] surbhi594 commented on #196
Please assign this issue to me @Nidhirajput1301 as I'm participant of GSSOC'21.

[2021-03-16 06:08] #196 closed

[2021-03-16 06:26] Drishtdyumnss commented on #164
@sairish2001
how to write superscript and subscript using LaTex syntax in html
can u give one example

[2021-03-16 06:52] shrey27tri01 commented on #195
Oh! My bad. That is actually a bug. We need to remove that currency converter option from under "Binary Calculations", since we already have a currency converter under "Basic Converters". You can go ahead and remove that if you want :)

[2021-03-16 07:15] zhcet19 commented on #195
Similarly there is an intereset calculator which is already under "General Maths".So can I remove both of them from "Binary Calculations " tag.

[2021-03-16 07:28] rk05-lenavo commented on #9
@sairish2001 Yes sir. Sure

[2021-03-16 08:25] shrey27tri01 commented on #195
You can leave the interest calculator as of now, we can create a separate issue for that. For now, you can just go ahead with the currency converter issue :)

[2021-03-16 09:47] surbhi594 opened #197 "I would like to make temperature convertor in basic convertors section"
Please assign this issue to me as I'm the participant of GSSOC'21.

[2021-03-16 10:05] #189 closed

[2021-03-16 10:09] #178 closed

[2021-03-16 10:14] #89 closed

[2021-03-16 10:16] sairish2001 commented on #9
Feel free to ask your doubts, if any
Deadline 21 March,2021 (11:59 PM IST)

[2021-03-16 10:24] satcasm commented on #161
Hey @sairish2001 I was wondering whether I should write a code for a complex number calculator or add it in like as a separate option?
I am planning on doing something like this:
![image](https://user-images.githubusercontent.com/56315878/111293887-c20c2600-866f-11eb-9858-ea35c3ebb455.png)

[2021-03-16 10:51] sairish2001 commented on #161
Add a single option which serves the purpose for all

[2021-03-16 11:13] lakshita15 commented on #41
hi , i'm gssoc'21 participant
I want to work on this issue
Can you assign issue to me ?
i'll submit before deadline

[2021-03-16 12:13] kanishka8276 commented on #83
@sairish2001 Can you please extend the deadline.
There are so many functions to be worked upon, So it's taking time.
Sorry for the delay!

[2021-03-16 12:14] Raj142 opened #199 "I would like to add "Bit Manipulation" (like OR , AND , XOR ) functionality"
please assign it to me. i am participant of GSSoc'21 .

[2021-03-16 12:14] sairish2001 commented on #83
Deadline extended 18 March,2021 (11:59 PM IST)

[2021-03-16 12:15] Raj142 commented on #199
Please assign it to me . i am a participant of GSSoC'21.

[2021-03-16 12:15] kanishka8276 commented on #83
Thank you for considering!

[2021-03-16 12:19] sairish2001 commented on #199
Feel free to ask your doubts, if any
Deadline 21 March,2021 (11:59 PM IST)

[2021-03-16 12:39] #195 closed

[2021-03-16 12:41] #173 closed

[2021-03-16 12:42] #172 closed

[2021-03-16 12:47] sairish2001 commented on #199
This function is already there in our webapp
![image](https://user-images.githubusercontent.com/60106112/111311108-d3f7c400-8683-11eb-8b9d-a9bf92665fc5.png)

[2021-03-16 13:43] bishalshaw-164 commented on #44
Hi
I would like add animation on search bar and background,
Would you please assign me to do this.

[2021-03-16 13:47] khareyash05 opened #202 "add inverse trigonometric identities"
Hi! @sairish2001 I would like to add inverse trigonometric identities in trigonometry section

[2021-03-16 13:57] khareyash05 commented on #171
@sairish2001 To bring to your notice I had already created an interest calculator before . This has created a duplicate .

[2021-03-16 14:48] #44 closed

[2021-03-16 14:49] #186 closed

[2021-03-16 14:53] shrey27tri01 commented on #202
@khareyash05 You can go ahead with this issue :)
Deadline: March 19, 2021 (11:59 PM IST)

[2021-03-16 15:00] satcasm commented on #161
@sairish2001 can you please have a look as to why the ```complexcollapse``` is not working? I tried debugging it for a while and I got nowhere , it's a pretty basic mistake somewhere but still I am not getting it.
Much appreciated!

This is the code for the ```<li>```:

![image](https://user-images.githubusercontent.com/56315878/111330370-dfec8180-8695-11eb-9888-82baa3dcacc5.png)

This is the code

[2021-03-16 15:20] sairish2001 commented on #161
You are trying to say collapse, It's not collapsing?

[2021-03-16 15:23] satcasm commented on #161
yeah , I mean I tried doing something similar to other options. I saw that we have to  first define a ```li``` tag and then a div with ```collapse``` class where the main operation is performed.

[2021-03-16 15:30] sairish2001 commented on #161
What Problem you are facing?
It's not opening on button click?

[2021-03-16 15:31] satcasm commented on #161
Yeah

[2021-03-16 15:32] sairish2001 commented on #161
You need to add id `#complexcollapse` in `function openit()` in index.js file

[2021-03-16 15:37] sairish2001 commented on #161
also to call openit() function check out `working.js` file

[2021-03-16 15:42] satcasm commented on #161
Thanks man you are a life savor, I should have checked other files was stuck on it for the whole day!

[2021-03-16 15:54] sairish2001 opened #203 "Create Documentation for General Maths and Basic Converters"
Create a Documentation in github jekyll theme

Make a PR in [Documentation Repository](https://github.com/sairish2001/Makes-Math-Easy-Documentation)

[2021-03-16 15:55] sairish2001 opened #204 "Create Documentation for Graphs/Shapes and Equations"
Create a Documentation in github jekyll theme

Make a PR in [Documentation Repository](https://github.com/sairish2001/Makes-Math-Easy-Documentation)

[2021-03-16 15:56] robin025 commented on #203
hey @sairish2001 I would like to work on this issue as a GSSOC 21 participant and will provide all the info related to Genral Maths  along with all the necessary formulas and info
Kindly assign me this issue, I shall be very thankful to you

[2021-03-16 15:56] robin025 commented on #204
hey @sairish2001 I would like to work on this issue as a GSSOC 21 participant and will provide all the info related to graphs and equations along with all the necessary formulas and info
Kindly assign me this issue, I shall be very thankful to you

[2021-03-16 15:57] gnikita432 opened #205 "Search bar and home content is overlapping"
## **Describe the bug**

-The search bar icon and the content of the home page overlaps on scrolling ( search bar does not get scrolled up with other items on the page). Also In the mobile view, the contents are overlapping.

## **Possible solution**

- The position of the search bar can be changed with some more changes to keep that search bar stable.

## **Screenshots**

- If applicable, add scr

[2021-03-16 15:57] sairish2001 commented on #204
Go ahead
Deadline 21 March,2021 (11:59 PM IST)

[2021-03-16 15:58] sairish2001 commented on #203
Go ahead
Deadline 21 March,2021 (11:59 PM IST)

[2021-03-16 15:58] sairish2001 commented on #205
Feel free to ask your doubts, if any
Deadline 21 March,2021 (11:59 PM IST)

[2021-03-16 16:00] gnikita432 commented on #205
Sure, Thank you.

[2021-03-16 16:04] anjali7786 commented on #123
Hii sir, please tell me whether I should put both calculators under one sidebar navigation menu or different.

[2021-03-16 16:24] sairish2001 commented on #123
Single navigation menu

[2021-03-16 16:41] anjali7786 commented on #123
Ok sir, I have to show or just make a PR

[2021-03-16 16:54] AmrutaKoshe opened #206 "Change layout of input fields in Singular matrix"
## **Is your feature request related to a problem? Please describe.**

- In the single matrix section, when the size of matrix is selected, the inputs fields are all lined up vertically, which appears a bit messy and the user has to scroll down a lot.
- This is how it currently looks like:

![image](https://user-images.githubusercontent.com/59871941/111348307-14683980-86a6-11eb-820d-39a2f74fc9f6.p

[2021-03-16 17:03] khareyash05 opened #207 "Duplicacy of Interest Calculations"
There is a duplicacy of Interest calculator one in general maths (created by me) 5 days ago and another in Binary Calculations by someone 2 days back

[2021-03-16 17:28] Raj142 opened #208 "I would like to add "Prime numbers" functionality"
- it takes a number N as input and return all the prime numbers from 1 to N.
Example : input = 10 ;
     answer = 2, 3, 5, 7

[2021-03-16 17:29] Raj142 commented on #208
please assign it me . i am participant of GSSoC'21.

[2021-03-16 17:36] satyampgt4 opened #209 "Date Calculator"
## Proposal

Date Calculator :- find the difference between date in different formats such as (years , months ,days) or (months,days) or (days)

[2021-03-16 17:36] satyampgt4 commented on #209
I would like to work on this issue @sairish2001 under gssoc 2021

[2021-03-16 18:06] shrey27tri01 commented on #206
@AmrutaKoshe you can go ahead with the issue :)
Since this is a UI issue, please show us the screenshots of your changes while creating the PR.

Feel free to ask any doubts!
Deadline: 20 March, 2021, 11:59 PM IST

[2021-03-16 18:13] shrey27tri01 commented on #207
You can remove the interest calculator under the "Binary Calculations" menu, and go ahead with the issue :)

Deadline: 20 March, 2021, 11:59 PM IST

[2021-03-16 18:16] shrey27tri01 commented on #208
@Raj142 You can go ahead with the issue :)

Please feel free to ask any doubts!
Deadline: 21 March, 2021, 11:59 PM IST

[2021-03-16 18:18] shrey27tri01 commented on #209
@satyampgt4 You can go ahead with the issue :)

Feel free to ask any doubts!
Deadline 21st March, 2021, 11:59 PM IST

[2021-03-16 18:33] #180 closed

[2021-03-16 18:36] SanskrutiRP commented on #95
Hey due to some network issue I am unable to do my PR today.
Can I get extension till tomorrow?

[2021-03-16 18:46] sairish2001 commented on #208
[issue #123](https://github.com/sairish2001/makesmatheasy.github.io/issues/123) already opened for the same

[2021-03-16 19:50] garvitgupta13 opened #212 "Fix the position of search bar"
## **Describe the bug**

- Currently, the search bar is inconsistent. Please see the screenshot for clear understanding of this issue.

## **Possible solution**

-Change the position of search bar

## **Screenshots**

![image](https://user-images.githubusercontent.com/70805691/111371003-e17e6f80-86be-11eb-842e-66afa0257285.png)

Please assign me this issue under gssoc21

[2021-03-17 03:25] kanishka8276 commented on #83
@sairish2001  I have completed the template part of the 3-D shape calculator, and I am struggling in creating the function from the past 2 days but the output is not as expected. When I use .innerHTML to display the output, it's unable to show it in Katex format and instead shows it with all the slashes and square brackets. I have referred to the functions which were made for shapes but couldn't d

[2021-03-17 03:55] sairish2001 commented on #83
Oh! it's quite easy to render Text using LaTex. Yeah if you are getting slashes in the output, it's okay. Just call at the end of processing, basically at the end of,inside your function
 `renderMathInElement(document.getElementById(____))`

[2021-03-17 04:00] #207 closed

[2021-03-17 04:58] kanishka8276 commented on #83
I have already done that. Still I am getting those slashes and brackets

[2021-03-17 05:14] ShrutiOmer opened #214 "Adding volume calculator of shapes like cube, cuboid, cylinder, cone in section graphs and shapes"
## **Is your feature request related to a problem? Please describe.**

- I want to add volume calculator of 3-D shapes in the calculator for shapes section

## **Describe the solution you'd like**

- I will add shapes like cuboid, cube, cylinder, cone in the "calculator for shapes" and that will calculate the volume of the shapes.

I am a GSSOC participant ,please assign this issue to me

[2021-03-17 05:19] Raj142 commented on #212
please assign it to me . i am a participant of GSSoC'21

[2021-03-17 05:34] ShrutiOmer opened #215 "Add area calculator for general triangle"
## **Is your feature request related to a problem? Please describe.**

- I want to add a new option of general triangle in shape triangle in "calculator for shapes" under Graphs and Shapes section

## **Describe the solution you'd like**

- If a user doesn't know which type of triangle they have , then can calculate area by choosing general triangle option.

I am a GSSOC participant ,please assign

[2021-03-17 05:51] Raj142 opened #216 "Add styling to button ( onMouse zoom effect)"
Please assign it me . i am a participant of GSSoC'21

[2021-03-17 05:53] Raj142 commented on #216
![privios](https://user-images.githubusercontent.com/52609526/111421473-0dc3db80-8713-11eb-9259-62e7dfed21b9.png)
it looks like this .!
![new](https://user-images.githubusercontent.com/52609526/111421517-246a3280-8713-11eb-9a02-367ad973de65.png)
ONMouse Zoom effect

[2021-03-17 05:58] sairish2001 commented on #216
it's not looking good

[2021-03-17 06:00] sairish2001 commented on #214
[issue #83](https://github.com/sairish2001/makesmatheasy.github.io/issues/83) is already opened for the same

[2021-03-17 06:00] #214 closed

[2021-03-17 06:01] sairish2001 commented on #212
[issue #205](https://github.com/sairish2001/makesmatheasy.github.io/issues/205) is already opened for the same

[2021-03-17 06:01] #212 closed

[2021-03-17 06:01] #199 closed

[2021-03-17 06:42] ShrutiOmer opened #217 "I want to add rank calculator of matrix functionality in linear algebra section"
I want to add rank calculation option in single matrix under Linear Algebra
Please assign this issue to me

[2021-03-17 08:51] Upasana1216 opened #219 "When open in mobile the search bar and answer area below it overlaps."
The site is not enough responsive. When open in mobile the search section and the searched content below it overlap.

I would like to contribute to it by designing separate container for both of them

Please assign this to me

[2021-03-17 08:53] Upasana1216 opened #220 "Probability calculator"
Given a problem it will calculate the probability and will also provide the stepwise solution to the user.

Please assign this to me

[2021-03-17 08:55] Upasana1216 opened #221 "Mean median mode calculator"
Given the data, it will calculate the mean median and mode of the data.

[2021-03-17 08:56] Upasana1216 commented on #3
I would like to contribute to this. Please assign this to me

[2021-03-17 09:02] keshavgbpecdelhi opened #223 "Find Factors"
## **Enhancing Algebraic functioning by adding factors option**

- Adding a feature to find out all the factors of a given number. for example : 12 : 1,2,3,4,6,12 (excluding extremities is as per the admin wish, but I think it should be included)

## **Solution**

Adding the functionality form scratch :
- HTML and CSS enhancement for this functionality
- Some JavaScript coding required

[2021-03-17 09:03] keshavgbpecdelhi commented on #223
I want to work on this @sairish2001

[2021-03-17 10:01] sairish2001 commented on #223
Go ahead!
Feel free to ask your doubts, if any
Deadline 22 March,2021 (11:59 PM IST)

[2021-03-17 10:02] sairish2001 commented on #221
Calculator is already there in our webapp

[2021-03-17 10:03] sairish2001 commented on #220
Feel free to ask your doubts, if any
Deadline 22 March,2021 (11:59 PM IST)

[2021-03-17 10:03] sairish2001 commented on #219
issue is already opened for the same

[2021-03-17 10:04] sairish2001 commented on #217
Feel free to ask your doubts, if any
Deadline 22 March,2021 (11:59 PM)

[2021-03-17 10:05] #192 closed

[2021-03-17 10:11] #164 closed

[2021-03-17 10:17] Upasana1216 commented on #220
Okay sir

[2021-03-17 10:20] #161 closed

[2021-03-17 10:25] #221 closed

[2021-03-17 10:25] #219 closed

[2021-03-17 10:36] aanchalrakheja commented on #13
Hey! I tried creating this. It has an animated background wherein the color of blocks changes and creates a blinking effect.
Should I continue to merge it with the original homepage. Please give some suggestions also if anything else can be added and your views on how this looks.
![image](https://user-images.githubusercontent.com/68388581/111453990-2b586b80-873a-11eb-85e6-aa906c078023.png)

[2021-03-17 10:42] sairish2001 commented on #13
If something related to Maths can be in the  background will be appreciable

[2021-03-17 10:43] aanchalrakheja commented on #13
Ok will add some picture in the background related to maths.

[2021-03-17 10:53] sairish2001 commented on #13
also can you please show a video or gif of the animation

[2021-03-17 10:56] Karthik-Nayak98 opened #224 "Bug in Calculator code"
## **Describe the bug**

- When we insert the operators many times still it calculates the correct value.
-
## **Possible solution**

- There should some error value like  **Syntax error**.

## **Screenshots**
![calculator](https://user-images.githubusercontent.com/39642646/111456595-3365da80-873d-11eb-8a55-81d6342ca808.png)

[2021-03-17 10:56] Karthik-Nayak98 commented on #224
I would like to work on this issue as a part of GSSoC'21

[2021-03-17 11:02] satcasm opened #225 "Additional features in complex calculations"
Hey @sairish2001 was thinking about adding some additional features in complex calculations , namely:
Absolute value, Square root, complex exponentiation and also giving the Division option as a part of GSSOC' 21.
Thanks!

[2021-03-17 11:07] satcasm opened #226 "Inline style tags"
While going through the code in ```index.html```, I found that at some places the syntax used in inline styling was wrong and also the unit used was ```px```, which doesn't help much in keeping the site responsive.
Would like to work on these things as a part of GSSOC' 21 .
Thanks!

[2021-03-17 11:08] ShrutiOmer commented on #217
Thankyou for assigning this issue.

[2021-03-17 11:25] #181 closed

[2021-03-17 12:24] sairish2001 commented on #226
Go ahead
Deadline 22 March,2021 (11:59 PM IST)

[2021-03-17 12:25] sairish2001 commented on #225
Great👍

Go ahead
Feel free to ask your doubts, if any
Deadline 23 March,2021 (11:59 PM IST)

[2021-03-17 12:28] sairish2001 commented on #224
But if it's working well, then we should not show such messages

[2021-03-17 12:29] sairish2001 commented on #223
There's a option of Calculating LCM/HCF/Prime Factors under general maths category

Do implement your code for factors in this option

[2021-03-17 12:45] #208 closed

[2021-03-17 12:46] #197 closed

[2021-03-17 12:54] keshavgbpecdelhi commented on #223
Ok sure, thanks for telling @sairish2001.

[2021-03-17 13:15] Karthik-Nayak98 commented on #224
But a real calculator would show an error message. This is not the right math

[2021-03-17 13:36] khareyash05 commented on #202
@shrey27tri01 @sairish2001 Created a PR have a look!

[2021-03-17 14:58] #202 closed

[2021-03-17 15:49] #123 closed

[2021-03-17 15:53] sairish2001 commented on #95
Deadline extended 18 March,2021 (11:59 PM IST)

[2021-03-17 15:57] aashi2912 opened #230 "Want to add more in about section and more efficient in design."
## **Is your feature request related to a problem? Please describe.**

- About section is all empty. Only contains one line. Want to add more in about section related to website. What is represents and the features, use, developed by and other information.

## **Describe the solution you'd like**

- About section of any website should be precise and clear descriptive which is not so i want to make

[2021-03-17 16:12] khareyash05 commented on #202
@sairish2001 i just wanted to request a thing.... Actually this required loads of work and I don't think it should be added to level 1 .. I may be wrong.. I am happy with merging but just a small suggestion to increase the level of the issue

[2021-03-17 16:59] Maitryee-Choudhary opened #231 "Sum of N terms of an Arithmetic Progression"
## **Is your feature request related to a problem? Please describe.**

-Finding the sum of n terms of arithmetic progression(A.P.).

## **Describe the solution you'd like**

- The result will be the sum of N terms of A.P and G.P.
- The user will going to enter the number of terms(N) and first term of A.P. result would be sum of the N terms.

Hey @sairish2001 would you please assign to me.

[2021-03-17 17:06] #83 closed

[2021-03-17 17:23] kanishka8276 opened #232 "In matrix calculator if a negative value is entered for dimension a warning should be shown"
## **Is your feature request related to a problem? Please describe.**

- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
- In matrix calculator if a negative value is entered for the dimension there is no warning and when we click solve then the error is not explanatory.

## **Describe the solution you'd like**

- A clear and concise description of what

[2021-03-17 17:32] Maitryee-Choudhary commented on #231
Okay!

[2021-03-17 19:46] Upasana1216 commented on #3
Okay sir

[2021-03-17 19:58] shrey27tri01 commented on #230
@aashi2912 You can go ahead with the issue :)
Please show us the changes you did through screenshots or any other medium, while creating the PR.
Deadline: 22 March, 2021 11:59 PM IST

[2021-03-17 20:01] shrey27tri01 commented on #232
You can go ahead with the issue :)
Deadline: March 21 2021, 11:59 PM IST

[2021-03-18 04:33] #226 closed

[2021-03-18 05:57] aanchalrakheja commented on #13
I have added a picture related to maths as background.
![image](https://user-images.githubusercontent.com/68388581/111528689-78aefa00-8787-11eb-8723-c009fbeb28f0.png)

https://user-images.githubusercontent.com/68388581/111579903-d28ddf00-87dc-11eb-8f41-de036e373b10.mp4

[2021-03-18 07:31] RaveenaBhasin opened #235 "Adding Name of Project and logo on home screen"
## **Is your feature request related to a problem? Please describe.**

-when someone opens the home page there is nothing written on it like the project name, logo and user has no idea in which way this project can help him/her

## **Describe the solution you'd like**

-I would like to add the name of the project along with its logo on top so that the user can get to know the aim of this project

[2021-03-18 09:21] khareyash05 commented on #202
Thank you @shrey27tri01

[2021-03-18 11:00] shrey27tri01 commented on #224
@Karthik-Nayak98 Many calculators work differently, and ours is no exception, so we can't go ahead with this issue right now. Hope you understand!
But thanks for opening this issue! I am closing this as of now :)

[2021-03-18 11:01] #224 closed

[2021-03-18 11:24] #232 closed

[2021-03-18 11:31] #204 closed

[2021-03-18 11:55] aashi2912 commented on #230
Sure. Thanks!

[2021-03-18 12:38] shonali2600 opened #239 "[GSSOC'21] Mic is overlapping with the search icon."
## **Describe the bug**

mic overlaps with a search icon.

## **Possible solution**

I'll align the mic to the correct place.

## **Screenshots**

![mathEasy](https://user-images.githubusercontent.com/57946528/111627138-c58ce200-8814-11eb-8119-1198c8f03245.png)

[2021-03-18 12:41] shonali2600 opened #240 "[GSSOC'21] Improving the Home page UI"
## **Is your feature request related to a problem? Please describe.**

The home page looks dull

## **Describe the solution you'd like**

Will make it more appealing.

[2021-03-18 12:45] shonali2600 opened #241 "[GSSOC'21] Adding styling to the important facts."
## **Is your feature request related to a problem? Please describe.**

The styling of facts showing on the home page is not looking good.

## **Describe the solution you'd like**

I'll add some CSS like border, background, and shadows to make it beautiful.

[2021-03-18 13:07] Karthik-Nayak98 opened #242 "Adding a github action which will automatically add "GSSoC'21" label to the issue."
## Proposal

Adding labels to the issues are extra work for the maintainer, so we can add GitHub actions to reduce the work of maintainers.

[2021-03-18 13:09] Karthik-Nayak98 commented on #242
I would like to work on this issue as a part of GSSoC'21

[2021-03-18 13:14] aanchalrakheja commented on #13
Hey! Is it okay?

[2021-03-18 13:23] sairish2001 commented on #13
It looks like a music website, but the images in the background is fine.
So kindly remove this blocks along with animation.

[2021-03-18 13:27] aanchalrakheja commented on #13
okay.

[2021-03-18 13:29] aanchalrakheja commented on #13
what if we add some operators instead of these blocks with some animation?

[2021-03-18 13:56] #209 closed

[2021-03-18 14:25] nidhivanjare opened #243 "Add a feature to do operations on fractions"
## **Is your feature request related to a problem? Please describe.**

- I would like to add a feature to do arithmetic operation on fractions

## **Describe the solution you'd like**

- addition of fractions
- multiplication of fractions
- division of fractions
- subtraction of fractions
- conversion of a mixed fraction to an improper fraction
- conversion of an improper fraction to mixed fractio

[2021-03-18 14:46] aanchalrakheja commented on #13
something like this?
![image](https://user-images.githubusercontent.com/68388581/111645494-c29aed00-8826-11eb-9a0d-77bb072e7768.png)

[2021-03-18 14:53] sairish2001 commented on #243
Can you provide step by step solution to it?

[2021-03-18 15:17] sairish2001 commented on #13
This looks good! Do implement it in the `<div>` having `id="home"`

[2021-03-18 15:27] aashi2912 commented on #230
hey, @shrey27tri01 . I just forked the project and it's about section is not working. Something is not right. It is not displaying anything. The content which is already there. **App developed by**  thing and also if I am doing something my content is ready but it is not gonna show. Please look into this matter so I can work on my issue. Whenever you click on about section nothing happens.

[2021-03-18 15:28] aanchalrakheja commented on #13
the one with symbols right?

[2021-03-18 16:00] nidhivanjare commented on #243
Yes
I will display a step-by-step solution to all the operations.

[2021-03-18 16:04] sairish2001 commented on #243
Feel free to ask your doubts, if any
Deadline 24 March,2021 (11:59 PM IST)

[2021-03-18 16:13] kanishka8276 opened #246 "Bug in Multiplication table for decimal value."
## **Describe the bug**

- A clear and concise description of what the bug is.
In Multiplication table if a decimal value is entered in the number field it prints the table for the floor of that number. But it should print the table for that decimal number only.
## **Possible solution**
We can use parseFloat instead of parseInt for the number in printtable function.

## **Screenshots**

![Screensh

[2021-03-18 16:29] kanishka8276 opened #247 "Bug in mean median mode calculator"
## **Describe the bug**

- A clear and concise description of what the bug is.
If all same numbers are entered in mean mode median calculator in mode it shows "All number appeared just once".
![Screenshot (91)](https://user-images.githubusercontent.com/66053534/111661880-71dec080-8835-11eb-8fd6-ccd60fc1b3a5.png)

#GsSOC'21
Please assign this to me.

[2021-03-18 16:36] sairish2001 commented on #247
Go ahead
Feel free to ask your doubts, if any

Deadline 24 March,2021 (11:59 PM IST)

[2021-03-18 16:37] sairish2001 commented on #246
Go Ahead
Deadline 22 March,2021 (11:59 PM IST)

[2021-03-18 16:38] sairish2001 commented on #242
Label Should be

GSSOC21

There should not be any symbol in between.

[2021-03-18 16:38] sairish2001 commented on #242
Go ahead
Deadline 22 March,2021 (11:59 PM IST)

[2021-03-18 16:39] sairish2001 commented on #239
Go Ahead
Feel free to ask your doubts, if any
Deadline 23 March,2021 (11:59 PM IST)

[2021-03-18 16:54] kanishka8276 commented on #246
@sairish2001 Floating point arithmetic is not exact that's why I am getting this type of output.
![Screenshot (92)](https://user-images.githubusercontent.com/66053534/111665286-9daf7580-8838-11eb-883e-afe2911b9328.png)
![Screenshot (93)](https://user-images.githubusercontent.com/66053534/111665304-a142fc80-8838-11eb-9730-b34a0160a9d3.png)

[2021-03-18 16:57] sairish2001 commented on #246
[code]

you can use `.toFixed()` to set precision point

[2021-03-18 16:59] kanishka8276 commented on #246
Ok👍🏻

[2021-03-18 17:15] #246 closed

[2021-03-18 17:44] nidhivanjare commented on #179
There are some issues in this, I would like to resolve.

[2021-03-18 18:00] shrey27tri01 commented on #241
You can go ahead with this :)
Kindly provide screenshots showing the changes you did while creating the PR.

Deadline: March 22, 2021 11:59 PM IST

[2021-03-18 18:18] shrey27tri01 commented on #235
@RaveenaBhasin We already have this issue addressed [here](https://github.com/sairish2001/MakesMathEasy/issues/13), which is being worked upon. However, feel free to work on other issues!

[2021-03-18 18:18] #235 closed

[2021-03-18 18:29] shrey27tri01 commented on #240
@shonali2600 We already have this issue addressed [here](https://github.com/sairish2001/MakesMathEasy/issues/13), which is being worked upon. However, feel free to work on other issues!

[2021-03-18 18:57] #230 closed

[2021-03-18 19:02] #240 closed

[2021-03-18 20:26] ambivert-sam commented on #241
@shonali2600 I would like to work on this issue

[2021-03-18 20:28] ambivert-sam commented on #216
@Raj142  can I enhance this? Will you please assign it to me

[2021-03-18 20:29] ambivert-sam commented on #90
@gritika18 can I enhance it? Will you please assign it to me?

[2021-03-19 00:54] khareyash05 opened #253 "expansion of trigonometric functions"
I would like to add expansion of functions of sine,cosine,sine-inverse and other related trigonometric functions in Trigonometry section

[2021-03-19 03:39] #205 closed

[2021-03-19 03:49] #179 closed

[2021-03-19 03:55] #247 closed

[2021-03-19 03:56] #190 closed

[2021-03-19 03:56] #99 closed

[2021-03-19 04:22] shrey27tri01 commented on #253
You can go ahead with the issue :)
Just to be clear, by "expansion", you meant Taylor Series expansion, right?

[2021-03-19 06:33] RaveenaBhasin opened #255 "Adding algebraic identities"
I would like to add all the useful algebraic identities under the linear algebra section so that the user can find all the identities at one place.
Please assign this issue to me.

[2021-03-19 07:06] surbhi594 opened #257 "Adding Data Calculator"
for ex : Converting MB into KB

[2021-03-19 07:22] kanishka8276 opened #258 "Adding option for calculating variance and standard deviation"
We can add option for calculating variance and standard deviation in mean mode median calculator.
#gssoc21

[2021-03-19 07:33] anjali494 commented on #158
@sairish2001 to find the area of a scalene triangle, the formula given is 1/2bh but we will have to do it using heron's formula. I wanted to ask if i can change the change the formula given?

[2021-03-19 07:50] Raj142 opened #260 "Add Spi / CGPA Functionality in calculator"
please assign it me. I'm  a participant of GSSoC'21.

[2021-03-19 07:53] shonali2600 commented on #241
@shrey27tri01 , I've made a pull request, kindly review it.

[2021-03-19 08:24] khareyash05 commented on #253
Right

[2021-03-19 09:33] Ashwani132003 opened #262 "[gsoc'21] Add icons to homepage of website."
## **Is your feature request related to a problem? Please describe.**

Front page of website is too empty and for checking a topic we have to go through menu button and it makes difficult to explore topics from there.

## **Describe the solution you'd like**

I would like to add those menu  icons to front page, by making boxes of each icon . As frontpage of website is looking empty and
user have t

[2021-03-19 10:07] shonali2600 commented on #239
@sairish2001 sir, I've made the changes and made the pull request with the screenshots attached. Kindly review my work.

[2021-03-19 10:18] #239 closed

[2021-03-19 11:00] #231 closed

[2021-03-19 11:22] #217 closed

[2021-03-19 11:34] sairish2001 commented on #255
Feel free to ask your doubts, if any
Deadline 24 March,2021 (11:59 PM IST)

[2021-03-19 11:35] sairish2001 commented on #260
Feel free to ask your doubts, if any
Deadline 24 March,2021(11:59 PM IST)

[2021-03-19 11:40] sairish2001 commented on #158
Yes Sure! Change it

[2021-03-19 11:48] #255 closed

[2021-03-19 12:11] simranbhalla3 commented on #241
Hi I am a Gssoc'21 participant and would like to work on this issue , I have experience in css and js , please assign me this issue

[2021-03-19 12:15] simranbhalla3 commented on #13
Hi I am a Gssoc'21 participant and would like to work on this issue , I have experience in css and js .

[2021-03-19 12:29] RaveenaBhasin opened #267 "Adding all information of conic sections"
I would like to add all the important information about conic sections(parabola, ellipse, hyperbola) .
As I'm a beginner this issue may take some time. So I would request you to kindly give me 5-6 days for completing the PR.
Please assign this issue to me.

[2021-03-19 12:53] gritika18 commented on #90
![Screenshot](https://user-images.githubusercontent.com/76582250/111783208-fd149080-88df-11eb-83f5-44cdc7a9bfdb.png)
@shrey27tri01

[2021-03-19 13:00] likhitha-19 commented on #4
am a GSSoC'21 participant , can i work on this issue

[2021-03-19 13:03] gritika18 commented on #90
@ambivert-sam I'm not the project admin. I'm a participant of GSSOC'21. The issue has already been assigned to me by the mentor. You can look for another issue or create a new issue.

[2021-03-19 13:35] anjali494 commented on #158
@sairish2001 can i get a little more time then. I am also working on another issue for this project.

[2021-03-19 13:50] surbhi594 commented on #257
Please assign it to me as I'm participant of GSSOC'21.

[2021-03-19 14:10] Abhisheka394 commented on #87
@sairish2001 Can u please assign this issue to me. I'm a GSSOC21 participant.

[2021-03-19 14:53] lityest commented on #158
Which issue?

[2021-03-19 14:54] sairish2001 commented on #158
Which issue?

[2021-03-19 14:55] #241 closed

[2021-03-19 14:57] anjali494 commented on #158
#187

[2021-03-19 14:59] sairish2001 commented on #267
Feel free to ask your doubts, if any
Deadline 26 March,2021 (11:59 PM IST)

[2021-03-19 15:00] sairish2001 commented on #258
Feel free to ask your doubts, if any
Deadline 25 March,2021 (11:59 PM IST)

[2021-03-19 15:01] sairish2001 commented on #257
Feel free to ask your doubts, if any
Deadline 25 March,2021 (11:59 PM IST)

[2021-03-19 15:03] shrey27tri01 commented on #215
You can go ahead with the issue :)

[2021-03-19 15:04] sairish2001 commented on #158
Deadline extended 21 March,2021 (11:59 PM IST)

[2021-03-19 15:05] shrey27tri01 commented on #216
Since this change is not needed as of now, I am closing this issue.
However, feel free to open or work on other issues :)

[2021-03-19 15:05] #216 closed

[2021-03-19 15:05] anjali494 commented on #158
@sairish2001 thank you.

[2021-03-19 15:18] khareyash05 opened #269 "profit loss with profit and loss percentage"
We can add profit and loss percentage on mentioning cost price and the selling price
Kindly assign this to me I will work on this issue as soon as i complete previously assigned issues
I will complete this by 24th

[2021-03-19 15:20] khareyash05 opened #270 "add sum of n-terms in geometric progression"
i would like to add sum of  n-terms in a G.P.
Kindly assign this to me I will work on this issue as soon as i complete previously assigned issues
I will complete this by 26th

[2021-03-19 16:06] sairish2001 commented on #206
Deadline is near, Any Update? @AmrutaKoshe

[2021-03-19 16:10] AmrutaKoshe commented on #206
yes I am working on it!

[2021-03-19 16:16] aanchalrakheja commented on #13
I have merged the design with the existing homepage. But there are some absurd bugs i m not able to detect.
![image](https://user-images.githubusercontent.com/68388581/111810996-9ce01780-88fc-11eb-9c30-1ef910b593b2.png)

[2021-03-19 16:17] aanchalrakheja commented on #13
The line under the facts and the solve button at the bottom are the bugs

[2021-03-19 16:52] kanishka8276 opened #274 "Favorites menu is covering Interesting facts"
## **Describe the bug**

- A clear and concise description of what the bug is.
- The favorites menu is covering the interesting facts.

## **Possible solution**

- Describe the solution you thought of.
- Changing some css properties will solve this problem.

![Screenshot (102)](https://user-images.githubusercontent.com/66053534/111815369-97390080-8901-11eb-8980-07c880e88315.png)

GSSOC21

[2021-03-19 17:15] #242 closed

[2021-03-19 17:19] #187 closed

[2021-03-19 17:51] aanchalrakheja commented on #13
I had a word with one of the mentor regarding the same and so made a PR request so that he could verify the code once. Can i please get some time of a day or two to fix it.

[2021-03-19 18:49] satyampgt4 opened #278 "diffrent color of fav icon"
## **Describe the bug**

- the color of calculation in complex number  is blue/black
- while rest are of red / white

## **Possible solution**

-

## **Screenshots**

![Capture](https://user-images.githubusercontent.com/59261812/111828696-afb11700-8911-11eb-892a-83ce26d4ca35.JPG)

[2021-03-19 18:51] shrey27tri01 commented on #13
@aanchalrakheja You can keep working on this :)
New deadline is 23rd March, 2021, 11:59 PM IST

[2021-03-19 19:25] #274 closed

[2021-03-19 19:34] kanishka8276 opened #280 "Bug in P/B/H trigo calculator"
## **Describe the bug**

- A clear and concise description of what the bug is.
If all 3 parameters (base, height and hypotenuse) are entered together which don't follow Pythagoras theorem then too it shows the values of trigonometric ratio instead of the warning such right angle triangle is not possible.
## **Possible solution**

- Describe the solution you thought of.
We should consider the condi

[2021-03-20 03:20] Maitryee-Choudhary opened #281 "List of Algebraic Formulas"
## Proposal

Adding list of algebraic formulas.
For eg: (a^2-b^2)=(a+b)(a-b)
            (a+b)^2=(a^2+b^2+2ab)
            (a-b)^2=(a^2+b^2-2ab) and so on..
I will be adding nearly 15-20 such algebraic formulas.

hey @sairish2001 please assign this issue to me.

[2021-03-20 04:16] zhcet19 commented on #5
![Uploading gssoc10.png…]()

[2021-03-20 04:17] zhcet19 commented on #5
![gssoc10](https://user-images.githubusercontent.com/55043876/111858740-448f3100-8961-11eb-8a3b-7e69b14f2103.png)

[2021-03-20 04:18] zhcet19 commented on #5
@sairish2001 this is what i have currently made ,is this sufficient

[2021-03-20 06:12] sairish2001 commented on #5
Can you please show some more test cases:
120°
59°
75°

[2021-03-20 06:13] sairish2001 commented on #281
Go ahead
Feel Free to ask your doubts, if any
Deadline 25 March,2021 (11:59 PM IST)

[2021-03-20 06:14] #206 closed

[2021-03-20 06:16] #258 closed

[2021-03-20 06:17] sairish2001 commented on #269
Go ahead
Feel free to ask your doubts, if any
Deadline 25 March,2021 (11:59 PM IST)

[2021-03-20 06:18] sairish2001 commented on #270
Feel free to ask your doubts, if any
Deadline 26 March,2021 (11:59 PM IST)

[2021-03-20 06:19] sairish2001 commented on #280
Feel free to ask your doubts, if any
Deadline 25 March,2021 (11:59 PM IST)

[2021-03-20 06:20] sairish2001 commented on #278
Go ahead
Feel free to ask your doubts, if any
Deadline 23 March,2021 (11:59 PM IST)

[2021-03-20 06:24] zhcet19 commented on #5
Sure @sairish2001

[2021-03-20 06:25] sairish2001 commented on #13
Actually this design looks more like website rather than webapp. Try to use some API' s to display facts, or anything related to maths. It should provide information regarding maths rather than showing the application name.

[2021-03-20 06:26] zhcet19 commented on #5
![gssoc11](https://user-images.githubusercontent.com/55043876/111861328-47931d00-8973-11eb-8115-bffc36e69749.png)

[2021-03-20 06:27] zhcet19 commented on #5
![gssoc12](https://user-images.githubusercontent.com/55043876/111861337-6abdcc80-8973-11eb-904c-3c22f491c034.png)

[2021-03-20 06:31] sairish2001 commented on #5
Can you display numbers, in the y and x axis? which indicates the angle number

[2021-03-20 06:34] zhcet19 commented on #5
Yes I will do it

[2021-03-20 06:46] coding-geek21 opened #282 "Work on binary calculations"
Can you please assign this task to me i would like to work on binary calculations part, !'m a GSSoC'21 participant

[2021-03-20 06:56] sairish2001 commented on #282
Can you please elaborate, what type of binary Calculations you are talking about?

[2021-03-20 06:58] coding-geek21 commented on #282
In the menu i found binary calculations tab ,I would like to develop binary to decimal converter

[2021-03-20 08:17] #281 closed

[2021-03-20 10:50] arpit456jain opened #285 "Gsoc'21 Bug in Changing Modes"
## **Describe the bug**

When the website is loaded for first time there is light mode by-default , no problem its ok but when i changed it to dark mode the home page is looking like this
<img width="960" alt="prob1" src="https://user-images.githubusercontent.com/55352601/111867109-fcd7cc00-8997-11eb-81bb-bc939416d419.png">

## **Possible solution**

It should look like this
<img width="960" alt="

[2021-03-20 11:00] khareyash05 commented on #253
@shrey27tri01 Basically maclaurin expansion putting x=0 in taylor expansion

[2021-03-20 11:11] khareyash05 commented on #253
@sairish2001 Attached a PR Have a look

[2021-03-20 11:33] #253 closed

[2021-03-20 12:26] RaveenaBhasin opened #287 "Adding all Differentiation Formula"
I would like to add all the formula used in differentiation. I know in the project we can write the function and find the differentiation but if the user wants to see all the formulas related to differentiation there is no provision for that . So I would like to resolve this issue.
Please assign this to me

[2021-03-20 14:04] amrzaki2000 commented on #177
@sairish2001 Hello
Almost finished and I'll make my PR by tomorrow morning if you please.
Thanks

[2021-03-20 14:24] #267 closed

[2021-03-20 14:25] #41 closed

[2021-03-20 14:27] sairish2001 commented on #177
Sure!

[2021-03-20 15:57] khareyash05 commented on #269
@sairish2001 Added a profit loss calculator Have look!

[2021-03-20 15:57] #278 closed

[2021-03-20 16:00] #269 closed

[2021-03-20 16:01] sairish2001 commented on #4
@mrunalvilas any update?

[2021-03-20 16:02] sairish2001 commented on #287
Feel free to ask your doubts, if any
Deadline 26 March,2021 (11:59 PM IST)

[2021-03-20 16:05] sairish2001 commented on #285
Feel free to ask your doubts, if any
Deadline 23 March,2021 (11:59 PM IST)

[2021-03-20 16:13] khareyash05 commented on #270
@sairish2001 SHould i add the same to Arithmetic progression or should i create new?

[2021-03-20 16:34] zhcet19 commented on #5
![gssoc1](https://user-images.githubusercontent.com/55043876/111877212-3f190180-89c8-11eb-835b-4e3c4d812d0f.png)

[2021-03-20 16:35] zhcet19 commented on #5
@sairish2001 is it now fine

[2021-03-20 16:38] sairish2001 commented on #5
Great, go ahead with PR

[2021-03-20 17:09] #285 closed

[2021-03-20 17:21] bitaashna opened #292 "Adding integration formula"
I would like to add all the formula used in integration. I know in the project we can write the function and find the integration but if the user wants to see all the formulas related to integration there is no provision for that . So I would like to resolve this issue.
Can you please assign this to me.

[2021-03-20 17:23] sairish2001 opened #293 "Search bar closes while typing"
## **Describe the bug**
Search bar remains open only when we hover on it, while typing it closes automatically if we won't hover on it

## **Screenshots**
with hover
![image](https://user-images.githubusercontent.com/60106112/111879999-e6009c00-89ce-11eb-93a7-afbbf6477df5.png)

without hover
![image](https://user-images.githubusercontent.com/60106112/111879995-e0a35180-89ce-11eb-8343-d731d4e00075.

[2021-03-20 17:24] sairish2001 commented on #292
Feel free to ask your doubts, if any
Deadline 26 March,2021 (11:59 PM IST)

[2021-03-20 17:47] khareyash05 commented on #270
@sairish2001 I am having a small doubt pls help me with that
`var ans1 = a * (Math.pow(r,n)-1)`
When using this and returning value of ans1 the value coming out is NaN pls help me out

[2021-03-20 18:19] Abhisheka394 commented on #293
Can I work on this, I'm a GSSOC21 participant.

[2021-03-21 02:41] khareyash05 commented on #270
@sairish2001 Created a PR Have a look!

[2021-03-21 04:41] #5 closed

[2021-03-21 04:43] shrey27tri01 commented on #282
@coding-geek21 We already a binary to decimal converter. Hence, I'm closing this issue as of now. However, feel free to work on other issues!

[2021-03-21 04:47] #282 closed

[2021-03-21 05:12] sairish2001 commented on #293
Feel free to ask your doubts, if any
Deadline 25 March,2021 (11:59 PM IST)

[2021-03-21 06:56] bitaashna opened #298 "Inverse Trignometric identities disappear after a second."
on clicking on inverse trignometric formulae, it appears for a second and then disappears.
I would like to fix this bug.
Can you please assign it to me.
![Screenshot from 2021-03-21 12-23-19](https://user-images.githubusercontent.com/57864526/111896547-7dea9e00-8a40-11eb-8bfd-4bc31fef0475.png)

[2021-03-21 07:07] bitaashna opened #299 "Adding Definite integration formulae"
Adding the following:-

-  king's rule
- integration by part
- shifting
- periodicity
- Walli's theorem
- Labnitz Theorem

Can you please assign it to me.I would like to work on it!

[2021-03-21 07:20] gnikita432 opened #300 "Some Operators are not visible on the calculator"
## **Describe the bug**

- A clear and concise description of what the bug is.
-Some Operators are not visible on the calculator

## **Possible solution**

- Describe the solution you thought of.
- I will make the operators visible on the calculator

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
-
![mathissue4](https://user-images.githubusercontent.com/61223163

[2021-03-21 07:24] AmrutaKoshe opened #301 "Operators are not visible on the calculator"
## **Describe the bug**

- The operator signs (+ , - , / , *) are not visible on the calculator.

## **Screenshots**

-
![image](https://user-images.githubusercontent.com/59871941/111897150-4bdb3b00-8a44-11eb-8c99-838039970305.png)
![image](https://user-images.githubusercontent.com/59871941/111897179-82b15100-8a44-11eb-9737-158452a5316d.png)

I would like to solve this issue!

[2021-03-21 07:25] #301 closed

[2021-03-21 08:05] zhcet19 opened #302 "Add sum of Nth term of Geometric Progression under General Maths"
## **Is your feature request related to a problem? Please describe.**

There is a calculator to find sum of nth term of a AP but no such for GP.I want to add that.

## **Describe the solution you'd like**

- A clear and concise description of what you want to happen.

[2021-03-21 08:07] sairish2001 commented on #302
issue is already opened for the same

[2021-03-21 08:07] zhcet19 commented on #302
/assign

[2021-03-21 08:09] sairish2001 commented on #302
[#270](https://github.com/sairish2001/MakesMathEasy/issues/270)

[2021-03-21 08:15] kanishka8276 opened #303 "Adding scroll bar"
## **Is your feature request related to a problem? Please describe.**
There is no scroll bar in the index page. Due to which we have to use arrow keys to scroll the page.
We should add scroll bar to the page.

[2021-03-21 08:19] kanishka8276 opened #304 "Problem in code of formulas of limits"
## **Describe the bug**
P tags are visible in the formulas in the output.
![Screenshot (108)](https://user-images.githubusercontent.com/66053534/111898491-60bbcc80-8a4c-11eb-89c1-4f2e3f8bb4a4.png)

[2021-03-21 08:34] kanishka8276 opened #305 "Adding profit and loss percent to profit loss calculator."
We can add profit loss percentage calculation also to the profit loss calculator. Right now it only shows the amount of profit or loss not the percentage which is commonly used to measure the loss and profit.

[2021-03-21 08:37] #302 closed

[2021-03-21 09:40] abhijeet141 opened #306 "Copyright section should not hover and should be more bold"
## **Is your feature request related to a problem? Please describe.**

Copyright section is looking like a button.

## **Describe the solution you'd like**

- Copyright section should not hover.

[2021-03-21 09:41] abhijeet141 commented on #306
Hi, I want to work on this issue I will start working on it as soon as I get assigned!! I am a part of GSSoC'21.
Kindly assign this issue to me!
Discord Username : Abhijeet Sinha(P)
Discord Tag: #4018

[2021-03-21 09:54] khareyash05 commented on #270
Hi @sairish2001 is my PR ready to merge?

[2021-03-21 09:58] khareyash05 opened #307 "Feature in A. P. Portion"
Hi i would like to add one more formula for calculating A. P.  By knowing  last term instead of common difference

[2021-03-21 10:03] khareyash05 commented on #177
Hey @sairish2001 if this issue is free.. Could you pls assign this to me

[2021-03-21 10:04] keshavgbpecdelhi commented on #223
This is the path - Home > General Maths > LCM/HCF/Factors
This is the html part -

             <li>
                <table class="table">
                    <tr>
                        <td style="border-top: none;">
                            <a id="factorsoption"
                               style="font-size:0.9375rem;cursor: pointer;background:transparent;border:none;">LCM/HCF/Factors</a>

[2021-03-21 10:04] Alenjojo commented on #303
Can you assign me with this issue. Without the scroll bar it is becoming a bit confusing for the users when they go down. I'll make an good scroll bar and limit the scrolling too.

[2021-03-21 10:16] khareyash05 opened #308 "Properties of Matrices and Determinant"
Hi I would like to add a all the properties of matrices and determinants in the linear algebra section

[2021-03-21 10:40] Alenjojo opened #309 "Main Operators are missing"
## **Describe the bug**

The main operators are missing from the calculator,rest the functionalities are working fine

## **Possible solution**

As I've looked into the code the signs have been forgotten to add to the index.HTML file

[2021-03-21 10:51] Alenjojo opened #310 "The arrows in the <Input type='number'> does not have a proper CSS"
## **Is your feature request related to a problem? Please describe.**

- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## **Describe the solution you'd like**

- A clear and concise description of what you want to happen.

[2021-03-21 11:28] #270 closed

[2021-03-21 11:32] sairish2001 commented on #298
Feel free to ask your doubts, if any
Deadline 26 March,2021 (11:59 PM IST)

[2021-03-21 11:33] sairish2001 commented on #308
Feel free to ask your doubts, if any
Deadline 26 March,2021 (11:59 PM IST)

[2021-03-21 11:33] sairish2001 commented on #307
Feel free to ask your doubts, if any
Deadline 26 March,2021 (11:59 PM IST)

[2021-03-21 11:34] sairish2001 commented on #306
Feel free to ask your doubts, if any
Deadline 23 March,2021 (11:59 PM IST)

[2021-03-21 11:35] sairish2001 commented on #306
Don't increase the font size of copyright text

[2021-03-21 11:35] sairish2001 commented on #305
Feel free to ask your doubts, if any
Deadline 26 March,2021 (11:59 PM IST)

[2021-03-21 11:36] sairish2001 commented on #304
Feel free to ask your doubts, if any
Deadline 23 March,2021 (11:59 PM IST)

[2021-03-21 11:36] sairish2001 commented on #299
Feel free to ask your doubts, if any
Deadline 26 March,2021 (11:59 PM IST)

[2021-03-21 11:37] abhijeet141 commented on #306
Okk Sir, Thank You

[2021-03-21 11:37] sairish2001 commented on #300
The operators are there, but their font size is so small

[2021-03-21 11:37] sairish2001 commented on #300
Feel free to ask your doubts, if any
Deadline 26 March,2021 (11:59 PM IST)

[2021-03-21 11:38] sairish2001 commented on #303
Feel free to ask your doubts, if any
Deadline 26 March,2021 (11:59 PM IST)

[2021-03-21 11:42] gnikita432 commented on #300
sure, Thank you

[2021-03-21 11:45] Raj142 commented on #310
Please assign me. i want to work on it

[2021-03-21 11:46] sairish2001 commented on #310
@Alenjojo can you please elaborate this issue?

[2021-03-21 11:48] sairish2001 commented on #309
issue is already opened for the same

[2021-03-21 11:48] #309 closed

[2021-03-21 11:57] RaveenaBhasin commented on #287
I have made the PR Differentiation Formulae Added #311  kindly review it

[2021-03-21 12:07] bitaashna commented on #292
i have created a PR #297
 @sairish2001 Please review it

[2021-03-21 13:06] khareyash05 commented on #308
@sairish2001 Created a PR Have a look!

[2021-03-21 13:33] khareyash05 commented on #307
@sairish2001 Created a PR Have a look

[2021-03-21 13:40] #292 closed

[2021-03-21 13:41] Alenjojo commented on #310
Sorry, i think it was a typo error.
Is your feature request related to a problem? Please describe.

    When we select the <Input type='number'> to enter the number an arrow will be shown to increase or decrease it.So the arrow doesn't match the current UI experience

Describe the solution you'd like

    My solution is to hide the current arrows and add a custom arrows with additional CSS and JS.

[2021-03-21 13:52] #304 closed

[2021-03-21 13:58] #300 closed

[2021-03-21 14:01] #307 closed

[2021-03-21 14:02] sairish2001 commented on #177
@amrzaki2000 any Update?

[2021-03-21 14:03] #308 closed

[2021-03-21 14:04] #287 closed

[2021-03-21 14:06] sairish2001 commented on #87
Go ahead!
Feel free to ask your doubts, if any
Deadline 26 March,2021 (11:59 PM IST)

[2021-03-21 14:19] sairish2001 commented on #310
@Alenjojo
In open-source, creating an issue and asking for assignment is two different things

You just created an issue, which indicates there is a bug, or some enhancement requires. This doesn't mean you want to work on this issue.

If you want to work on issue you have to ask for an assignment.

[2021-03-21 14:31] khareyash05 commented on #306
@abhijeet141 if u can do - also when copyright is clicked it looks as if in the menu
Pls try to remove that also

[2021-03-21 14:34] sairish2001 commented on #306
@khareyash05 Yes!
Nice to see, you have the spirit of Open Source.

[2021-03-21 14:35] khareyash05 commented on #306
@sairish2001 Thanx

[2021-03-21 14:50] abhijeet141 commented on #306
Thanks for the suggestion 😊
Can you please check is it right?
![image](https://user-images.githubusercontent.com/67696867/111909324-d80c5300-8a82-11eb-8e45-ce12fe1ed3ca.png)

[2021-03-21 14:51] abhijeet141 commented on #306
I have removed that hover

[2021-03-21 15:13] #306 closed

[2021-03-21 16:16] Alenjojo commented on #310
I did ask for that, but somehow the details got reset as you can see above

[2021-03-21 16:26] bitaashna commented on #298
I have created a PR #321. Please check it!

[2021-03-21 17:07] #298 closed

[2021-03-21 17:19] amrzaki2000 commented on #177
Can I get one more day, please?
I got distracted due to the beginning of my spring semester

[2021-03-21 18:49] anjali7786 commented on #3
Hi, I would like to work on this issue under GSSOC'21. Kindly assign me this

[2021-03-21 18:52] anjali7786 commented on #9
Hi..I would like to work on this issue under GSSOC'21. Kindly assign me this issue.

[2021-03-21 19:31] bitaashna commented on #299
@sairish2001 I have created a PR #323 .Please check it!

[2021-03-21 19:37] bitaashna opened #324 "Adding Volume,CSA,TSA of 3d Solids"
In general maths section,I would like to add the formula for volume,CSA,TSA of flollowing solids :-

1. cube
2. cuboid
3. sphere
4. cone
5. hollow sphere
6. hemisphere
7. cylinder
8. hollow cylinder
9. prism
10. pyramid
11. frustum of cone

Can you please assign it to me.I would like to work on it.

[2021-03-21 19:45] bitaashna opened #325 "Adding conditional identities in trigonometry section"
I would like to add conditional identities which is valid when sum of three  angles is pie in the trigonometry section.
Can you please assign it to me.

[2021-03-21 21:27] abhijeet141 opened #327 "To allign inputs in matrix and also in some other section in center"
## **Is your feature request related to a problem? Please describe.**

-Like when i click on matrix solver the inputs of matrix is allign in left.

## **Describe the solution you'd like**

-I will allign the matrix input in center and also i will allign in some other section.
![image](https://user-images.githubusercontent.com/67696867/111921374-3ef92e80-8aba-11eb-81e3-3a03795f8f1e.png)
![image](ht

[2021-03-21 21:31] abhijeet141 commented on #327
Hi, I want to work on this issue I will start working on it as soon as I get assigned!! I am a part of GSSoC'21.
Kindly assign this issue to me!
Discord Username : Abhijeet Sinha(P)
Discord Tag: #4018

[2021-03-21 21:37] abhijeet141 opened #328 "The website link in share to whatsapp is not yet updated"
## **Is your feature request related to a problem? Please describe.**

- In share to whatsapp the link of website is old one and is not updated.

## **Describe the solution you'd like**

- The link should be updated in share to whatsapp so that anyone can share the link and it should be opened.

[2021-03-21 21:38] abhijeet141 commented on #328
Hi, I want to work on this issue I will start working on it as soon as I get assigned!! I am a part of GSSoC'21.
Kindly assign this issue to me!
Discord Username : Abhijeet Sinha(P)
Discord Tag: #4018

[2021-03-21 21:58] abhijeet141 opened #329 "To add more properties in section Properties of matrices and determinant"
## **Describe the solution you'd like**

- I would like to add more properties of matrices and determinant.

[2021-03-21 21:58] abhijeet141 commented on #329
Hi, I want to work on this issue I will start working on it as soon as I get assigned!! I am a part of GSSoC'21.
Kindly assign this issue to me!
Discord Username : Abhijeet Sinha(P)
Discord Tag: #4018

[2021-03-22 01:29] khareyash05 commented on #223
@keshavgbpecdelhi index.js is in appjs folder

[2021-03-22 01:31] khareyash05 commented on #223
@keshavgbpecdelhi look at other's PR's and see where they made changes to implement a functionality and then implement the same in your branch
I learned the same way!!

[2021-03-22 05:30] RaveenaBhasin opened #330 "Adding trignometric angle values for particular angles"
I would like values of specific angle like 18 degree, 36degree...and many more which are used very frequently and one should remember those value.
Please assign this issue to me.

[2021-03-22 05:37] RaveenaBhasin opened #331 "Adding general solutions of some trigonometric equations"
I would like to add general solutions of trigonometric equation like sintheta= 0 then theta=npi and many more such equations.
Please assign this issue to me

[2021-03-22 06:26] #293 closed

[2021-03-22 06:32] #299 closed

[2021-03-22 06:33] sairish2001 commented on #328
Go ahead
Feel free to ask your doubts, if any
Deadline 24 March,2021 (11:59 PM IST)

[2021-03-22 06:34] sairish2001 commented on #177
Deadline extended 22 March,2021 (11:59 PM IST)

[2021-03-22 06:36] sairish2001 commented on #9
@anjali7786 Go ahead
Feel free to ask your doubts, if any
Deadline 24 March,2021 (11:59 PM IST)

[2021-03-22 06:55] abhijeet141 commented on #328
Sure Sir 🙂

[2021-03-22 07:09] bitaashna commented on #324
@sairish2001  I would like to work on it. Can you please assign it to me!

[2021-03-22 07:11] bitaashna commented on #325
@sairish2001 i would like to work on this issue Can you please assign it to me.

[2021-03-22 07:56] nidhi-08 opened #334 "Add Arithmetic Progression upto n terms"
I would like to add arithmetic progression under general maths. This will take in the initial term (a), difference (d) and number of terms (n) and print the whole list.
Please assign this to me as a part of GSSOC'21.

[2021-03-22 08:08] satyampgt4 opened #335 "EMI calculator"
## Proposal

(A clear and concise description of what the proposal is.)

add a Emi calculator

[2021-03-22 08:09] satyampgt4 commented on #335
I would like to work on this issue @sairish2001 under gssoc 2021

[2021-03-22 09:47] Raj142 opened #336 "Unwanted "Currency Converter" Found."
There are two options for currency converter in which one is in Basic Converter Section and another one is in Binary Converter.
One is working properly and another is not.

Please assign this to me as a part of GSSoC'21.

[2021-03-22 09:47] Raj142 commented on #336
![1](https://user-images.githubusercontent.com/52609526/111970841-bf06af00-8b21-11eb-96f3-394c03d623f0.PNG)
![2](https://user-images.githubusercontent.com/52609526/111970853-c1690900-8b21-11eb-9f28-441935d1b310.PNG)

[2021-03-22 09:59] Upasana1216 commented on #3
Sir, I have designed the code for finding the minor matrix and cofactor matrix. Do I need to calculate the final minor and cofactor too?

[2021-03-22 10:12] Upasana1216 commented on #220
Sir, I have designed a probability calculator but it can calculate the probability of drawing a card given the number of copies in your deck, the number of cards in your deck, and the number of cards you are drawing.

[2021-03-22 10:42] khareyash05 opened #338 "duplicate algebraic identities page"
There are duplicate algebraic identities one in linear algebra section and one in equations one
I would like to delete any one on your choice I personally think it should be removed from linear algebra section

[2021-03-22 10:50] RaveenaBhasin commented on #338
@khareyash05 It's my suggestion that if you are deleting the identities from the linear algebra section just copy the 11th identity along with its condition and paste it in the equation section because I feel that's an important identity that should be remembered.

[2021-03-22 10:53] khareyash05 commented on #338
Sure @RaveenaBhasin Thanx

[2021-03-22 10:59] sairish2001 commented on #338
Open Source is for helping community, Great to see you have the spirit of Open Source

[2021-03-22 11:01] sairish2001 commented on #336
Your codebase is not updated! This issue is already fixed.

[2021-03-22 11:01] #336 closed

[2021-03-22 11:11] khareyash05 opened #340 "properties of triangles"
I would like to add properties of triangles like circumcenter,circumradius,incentre, orthocentre and their properties
There are lots of identities for solution of triangles

[2021-03-22 11:12] khareyash05 commented on #338
@sairish2001 Can i start working on this issue?

[2021-03-22 11:17] Ashwani132003 commented on #262
Sir, I tried to add icons on frontpage of website, but I don't have complete knowledge about Javascript right now.
So, I decided to  help visitors by telling, where to click for particular topics. It will also help them to explore and after learning Javascript also, I would like to modify frontpage of website. Thanks.
![Initial](https://user-images.githubusercontent.com/76273539/111981752-1874db00

[2021-03-22 11:20] khareyash05 commented on #299
@bitaashna @sairish2001 I am not able to add formulae as the way they are and  get distorted . Could you pls guide me on how to mention formulae as they are . Pls provide me with some documentation or a video maybe .Thanx

[2021-03-22 11:21] RaveenaBhasin commented on #338
@sairish2001 Thanks

[2021-03-22 11:22] RaveenaBhasin commented on #330
@sairish2001 Can I work on this issue?

[2021-03-22 11:24] sairish2001 commented on #3
can you please Share some screenshots

[2021-03-22 11:25] RaveenaBhasin commented on #331
@sairish2001 Can I work on this issue?

[2021-03-22 11:26] sairish2001 commented on #338
Go ahead
Feel free to ask your doubts
Deadline 27 March,2021 (11:59 PM IST)

[2021-03-22 11:27] khareyash05 commented on #340
Hey @sairish2001 Could you pls help me with a thing

[2021-03-22 11:27] sairish2001 commented on #340
Go ahead
Feel free to ask your doubts,if any
Deadline 27 March,2021 (11:59 PM IST)

[2021-03-22 11:28] khareyash05 commented on #340
I am not just getting how to add formulae as it is getting distorted Could you pls tell me how to do that

[2021-03-22 11:29] khareyash05 commented on #340
[1)\space\int x^n \,dx\space=\frac{x^{(n+1)}}{n+1}+c\] like this
Where can I find the documentation @sairish2001

[2021-03-22 11:31] sairish2001 commented on #335
Go ahead
Feel free to ask your doubts,if any
Deadline 27 March,2021 (11:59 PM IST)

[2021-03-22 11:31] khareyash05 commented on #340
![2021-03-22 (1)](https://user-images.githubusercontent.com/60147732/111983400-1ad83480-8b30-11eb-88e5-9b8b4181cda7.png)
See  how am i typing the formula
![2021-03-22 (2)](https://user-images.githubusercontent.com/60147732/111983484-2f1c3180-8b30-11eb-8913-55e41d8b4f24.png)
This is how I want it  way better than mine
Did u understood what i meant to say ? @sairish2001

[2021-03-22 11:32] sairish2001 commented on #334
You can implement this under Linear Algebra section

[2021-03-22 11:33] sairish2001 commented on #334
Go ahead
Feel free to ask your doubts,if any
Deadline 27 March,2021 (11:59 PM IST)

[2021-03-22 11:33] sairish2001 commented on #331
Go ahead
Feel free to ask your doubts,if any
Deadline 27 March,2021 (11:59 PM IST)

[2021-03-22 11:34] sairish2001 commented on #330
Go ahead
Feel free to ask your doubts,if any
Deadline 27 March,2021 (11:59 PM IST)

[2021-03-22 11:35] sairish2001 commented on #329
Go ahead
Feel free to ask your doubts,if any
Deadline 27 March,2021 (11:59 PM IST)

[2021-03-22 11:36] sairish2001 commented on #327
Go ahead
Feel free to ask your doubts,if any
Deadline 27 March,2021 (11:59 PM IST)

[2021-03-22 11:37] sairish2001 commented on #324
Go ahead
Feel free to ask your doubts,if any
Deadline 27 March,2021 (11:59 PM IST)

[2021-03-22 11:37] sairish2001 commented on #325
Go ahead
Feel free to ask your doubts,if any
Deadline 27 March,2021 (11:59 PM IST)

[2021-03-22 11:41] sairish2001 commented on #340
This is LaTeX text
https://www.overleaf.com/learn/latex/Mathematical_expressions

Check this out

[2021-03-22 11:42] khareyash05 commented on #338
@sairish2001 Created a PR Have a look!

[2021-03-22 11:54] Upasana1216 commented on #3
[minro.docx](https://github.com/sairish2001/MakesMathEasy/files/6181894/minro.docx)
Sir, this is code should I send the ss of the output too?

[2021-03-22 12:04] nidhi-08 commented on #334
So I should just print the series before the sum of arithmetic progression is being printed right?

[2021-03-22 12:10] sairish2001 commented on #3
yes,send screenshot

[2021-03-22 12:12] sairish2001 commented on #334
Yes, Right 👍

[2021-03-22 12:23] RaveenaBhasin commented on #330
@sairish2001 I have created the PR. Kindly review it.

[2021-03-22 12:30] sairish2001 commented on #262
This not looks good. If you can't solve this issue, no worries.

Explore the application and create other issues

[2021-03-22 12:32] #328 closed

[2021-03-22 12:42] bitaashna commented on #299
@khareyash05 We have to use katex library.
You can go through the following link [https://katex.org/docs/support_table.html](url)
I hope,it might help you.

[2021-03-22 12:43] Ashwani132003 commented on #262
Okay, I will not edit this.
Can you please give me Unit wise resources used in website differently,
because I am not able to distinguish them as there is only 1 basic html
file-index.html, it is difficult to find only 1 topic resource like for
Linear Algebra I had to search alot. If you can provide me each unit
resources in different html file, it will help me a lot. Otherwise I will
explore new i

[2021-03-22 13:47] aanchalrakheja opened #343 "Add basic information and formula list for various shapes for younger audience"
i would like to add a column dedicated to providing basic info about shapes and some related formula which could be helpful for younger audience.

[2021-03-22 13:56] kanishka8276 opened #345 "Adding magnitude,argument and conjugate calculation in complex number calculations."
I would like to add a calculator to calculate magnitude,argument and conjugate of complex number.

[2021-03-22 14:37] kanishka8276 opened #346 "Bug in date calculator"
## **Describe the bug**
If a date before the date in from column is entered in to column it shows wrong difference.
## **Possible solution**

- Describe the solution you thought of.
It should show the right difference between the days no matter whether the date is of past or future.

![Screenshot (120)](https://user-images.githubusercontent.com/66053534/112006822-1587e380-8b4a-11eb-9a34-ce7134710f

[2021-03-22 14:45] kanishka8276 opened #347 "Adding option to find sum of infinite terms of GM"
Adding option to find sum of infinite terms of a geometric progression with the common ratio less than 1.

[2021-03-22 14:47] #305 closed

[2021-03-22 15:09] khareyash05 commented on #338
@sairish2001 Created a PR Have a look!

[2021-03-22 16:01] #334 closed

[2021-03-22 16:01] nidhi-08 opened #349 "Add Geometric Progression upto n terms"
I would like to add geometric progression series under the Linear Algebra section in the Sum of Geometric progression. This will take in the initial term (a), ratio (r) and the number of terms (n) and print the whole series.
This will print the list before printing the sum.

Please assign this to me as a part of GSSOC'21.

[2021-03-22 16:15] bitaashna commented on #325
@sairish2001 I have created a PR #350 .Please check it!

[2021-03-22 16:25] #325 closed

[2021-03-22 16:43] asimaries opened #351 "Update the ReadMe file"
I can make a better readme file that will be easy to understand for the new beginner Opens source Contributors.
As It's difficult for the new contributor to understand Git and Github
I will make a proper stepwise Contribution Guide (for git and GitHub) for this Repo.
The old guide is very big and complex, I want to make it smaller, cleaner, and stepwise which will be easy to use

Please assign thi

[2021-03-22 17:21] #330 closed

[2021-03-22 17:53] Upasana1216 opened #352 "Find entered year is leap year or not"
When a user enters any year then it will tell whether it is a leap year or not.

Using the formula to calculate leap year at the backend we can design a page where user enters any year and he gets the result as if the year entered is a leap year or not.

[2021-03-22 18:03] Sukriti-sood commented on #95
@sairish2001 Is this isssue open for work.

[2021-03-22 18:05] sairish2001 commented on #95
Feel free to ask your doubts, if any
Deadline 25 March,2021 (11:59 PM IST)

[2021-03-22 18:06] Upasana1216 commented on #3
![2021-03-22 (1)](https://user-images.githubusercontent.com/52318225/112036979-41fe2880-8b67-11eb-9b73-37643c28e8b9.png)
[minro.docx](https://github.com/sairish2001/MakesMathEasy/files/6184377/minro.docx)

[2021-03-22 18:44] bitaashna commented on #324
@sairish2001 I have created a PR #353 .Please check it.

[2021-03-22 18:55] bitaashna opened #354 "Adding Statistics Formulae"
In general maths section,I would like to add a section for statistics formulae which will include:-

- mean
- weighted mean
- Combined mean
- median
- mode
- Range
- coefficient of range
- mean deviation about mean
- mean deviation about median
- mean deviation about mode
- mean deviation about any number 'a'
- Standard Deviation
- combined standard deviation
- variance
- coefficient of variation

[2021-03-22 18:56] bitaashna commented on #354
@sairish2001 i would like to work on it.
Can you please assign it to me

[2021-03-22 19:01] bitaashna opened #355 "Adding Equation of Director Circle for parabola, Ellipse, Hyperbola"
In the respective sections of Parabola,Hyperbola and Ellipse,I would like to add Equation of their respective director circles

[2021-03-22 19:01] bitaashna commented on #355
@sairish2001 I would like to work on it.
Please assign it to me.

[2021-03-23 05:48] #335 closed

[2021-03-23 05:49] #324 closed

[2021-03-23 06:28] RaveenaBhasin commented on #331
@sairish2001 I have created the PR. Please review it .

[2021-03-23 06:39] RaveenaBhasin opened #358 "Updating integration and definite integration formulae section"
I would like to add 2-3 important formulae in integration formulae sections and would like to add conditions according to which properties in definite integration is applied.
Please assign this issue to me.

[2021-03-23 06:47] shrey27tri01 commented on #346
Please go ahead with the issue :)

[2021-03-23 06:49] shrey27tri01 commented on #343
Can you please elaborate on what all information and formulae you are planning to add? That would be helpful in going ahead with the issue :)

[2021-03-23 06:50] shrey27tri01 commented on #347
You can go ahead with the issue :)
Deadline 28th March, 11:59 PM IST

[2021-03-23 06:52] shrey27tri01 commented on #349
You can go ahead with the issue :)
Deadline 28th March, 11:59 PM IST

[2021-03-23 06:55] shrey27tri01 commented on #351
You can go ahead with the issue, but please first show us the changes you suggest to be made before creating a PR.
Deadline 29th March, 11:59 PM IST

[2021-03-23 06:56] shrey27tri01 commented on #352
You can go ahead with the issue :)
Deadline 27th March 11:59 PM IST

[2021-03-23 06:57] shrey27tri01 commented on #354
You can go ahead with this issue :)

[2021-03-23 06:59] shrey27tri01 commented on #355
You can go ahead with the issue :)
Deadline 27th March 11:59 PM IST

[2021-03-23 07:04] shrey27tri01 commented on #358
@RaveenaBhasin Can you please elaborate what formulae you're suggesting to add?
Other than that, please go ahead with the issue :)
Deadline 27th March 11:59 PM IST

[2021-03-23 07:05] #345 closed

[2021-03-23 07:06] kanishka8276 opened #359 "Adding a calculator to calculate magnitude, argument and conjugate of complex number."
I would like to add a calculator to calculate magnitude,argument and conjugate of complex number.

[2021-03-23 07:08] madihamallick opened #360 "on changing to light mode some text getting displayed"
## **Describe the bug**

on changing the mode to light some text is getting displayed on the screen that need to be removed

## **Possible solution**

I would like remove that.

## **Screenshots**
![Capture](https://user-images.githubusercontent.com/70858557/112107015-6fcd8680-8bd4-11eb-8f21-ae45488a32ed.PNG)

I would like to work on this issue, Please assign this to me under GSSoC.

[2021-03-23 07:20] RaveenaBhasin opened #361 "Wrong answer of sum of A.P. when last term is given"
When we are calculating the sum of AP by knowing the last term result is coming wrong.
I would like to correct this issue. Please assign this to me.
<img width="949" alt="2021-03-23 (2)" src="https://user-images.githubusercontent.com/73697080/112108569-634a2d80-8bd6-11eb-9755-3d10f3f30bb8.png">

[2021-03-23 07:23] RaveenaBhasin commented on #358
I would like to that indefinite integration formula of exponential function.
Eg: Integration of e^axsinbx

[2021-03-23 07:47] shrey27tri01 commented on #358
@RaveenaBhasin Sure, you can go ahead with this :)

[2021-03-23 07:50] shrey27tri01 commented on #359
You can go ahead with this :)
Deadline 28th March, 11:59 PM IST

[2021-03-23 08:03] shrey27tri01 commented on #360
This issue has occurred most probably due to a merge conflict on a PR.
You can go ahead with this :)
Deadline 27th March 11:59 PM IST

[2021-03-23 08:04] shrey27tri01 commented on #361
@RaveenaBhasin You can go ahead with this :)
Deadline 27th March 11:59 PM IST

[2021-03-23 08:11] satyampgt4 opened #362 "sum of infinite gp"
## Proposal

sum of infinite Geometric Progression

[2021-03-23 08:11] satyampgt4 commented on #362
I would like to work on this issue @sairish2001 under gssoc 2021

[2021-03-23 08:13] kanishka8276 opened #363 "Adding option to print n terms of AP"
Adding option to print n terms of AP after getting the first term, common difference and number of terms from the user.

Please assign this to me.

[2021-03-23 08:15] #362 closed

[2021-03-23 08:20] kanishka8276 commented on #303
@sairish2001 I am working on this issue but I am facing some problems,  If I delete the code of hidescroll then it shows 2 vertical scroll bars.
I tried many other methods like using overflow properties but in that case the scroll bar is not even visible.

[2021-03-23 08:20] satyampgt4 opened #364 "remove unnecessary text"
## **Describe the bug**

unnecessary text

[code]

## **Possible solution**

REMOVE IT

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![Web capture_23-3-2021_134449_sairish2001 github io](https://user-images.githubusercontent.com/59261812/112114647-4e719800-8bde-11eb-805b-c594c2b16286.jpeg)
![Web capture_23-3-2021_134332_sairish2001 github io](https://user-imag

[2021-03-23 08:21] Alenjojo commented on #364
Can you assign me with this issue, I'd like to work on it

[2021-03-23 08:23] satyampgt4 commented on #364
issue already exist #360

[2021-03-23 08:23] #364 closed

[2021-03-23 08:24] madihamallick commented on #360
Okay. Thank you.

[2021-03-23 08:31] satyampgt4 opened #365 "rectangular hyperbola"
## Proposal

(A clear and concise description of what the proposal is.)

add rectangular hyperbola in hyperbola section of conic section tab

[2021-03-23 08:32] satyampgt4 commented on #365
i would like to work on it @sairish2001

[2021-03-23 08:46] kanishka8276 opened #366 "Bug in sum of GP calculator."
## **Describe the bug**
If a common ratio less than 1 is entered  then the sum of GP calculator always shows the sum as 0
![Screenshot (122)](https://user-images.githubusercontent.com/66053534/112118659-9bf00400-8be2-11eb-833c-b3084862392c.png)

Please assign this to me.
#GSSoC21

[2021-03-23 08:48] satyampgt4 commented on #257
just a suggestion instead of adding new calculator add this in unit converter

[2021-03-23 08:59] satyampgt4 opened #367 "grey code"
## Proposal

add binary to gray code converter and vice versa

[2021-03-23 09:00] satyampgt4 commented on #367
i would like to work on it under gssoc21

[2021-03-23 09:02] RaveenaBhasin commented on #361
I have made the PR kindly review it

[2021-03-23 11:18] #280 closed

[2021-03-23 11:40] AB-san commented on #366
Please kindly me assign me this issue!! I will start working on it as soon as possible

[2021-03-23 11:45] kanishka8276 opened #374 "Adding arrows to the horizontal scroll bar."
Horizontal scrollbar doesn't have arrows in the ends.
I would like to edit the css and add arrows.

Please assign this to me.

[2021-03-23 12:00] kanishka8276 opened #376 "Bug in EMI calculator."
## **Describe the bug**

in EMI calculator if rate is entered in decimal value it is showing wrong result.

![Screenshot (132)](https://user-images.githubusercontent.com/66053534/112143084-6ad0fd00-8bfd-11eb-9ec3-e561bb9534f0.png)
![Screenshot (133)](https://user-images.githubusercontent.com/66053534/112143090-6c9ac080-8bfd-11eb-91f6-d9a1fb08e2ee.png)

Please assign this to me.

[2021-03-23 12:12] #338 closed

[2021-03-23 12:14] #9 closed

[2021-03-23 12:16] #347 closed

[2021-03-23 12:17] khareyash05 opened #377 "rewrite inverse trigonometric identites and expansion using latex"
Hi!  I will  rewrite them using latex as they dont look great at the presnt state

[2021-03-23 12:18] #346 closed

[2021-03-23 12:19] AB-san commented on #363
i would like to work on this issue

[2021-03-23 12:19] #359 closed

[2021-03-23 12:34] anjali7786 commented on #4
Hi, I would like to work on this issue under GSSOC'21. Kindly assign this issue to me.

[2021-03-23 12:37] kanishka8276 commented on #303
@shrey27tri01 @sairish2001 I am working on this issue but I am facing some problems,  If I delete the code of hidescroll then it shows 2 vertical scroll bars.
I tried many other methods like using overflow properties but in that case the scroll bar is not even visible. I have tried all the alternatives Which I know but couldn't solve the issue . I request you to please assign this issue to someone

[2021-03-23 12:50] aanchalrakheja commented on #343
The idea is to include an image with an image of the shape along with basic information about it like maybe for a triangle- I am a three shape, things that are triangle shaped and so. The basic aim is to focus on the younger age group and just act as a medium of making them familiar with the shapes.

[2021-03-23 12:53] kanishka8276 opened #378 "Bug in interest calculator."
## **Describe the bug**
It's rounding up the simple interest to ones .
Like if simple interest is 30.4 it is showing 30 only.
![Screenshot (134)](https://user-images.githubusercontent.com/66053534/112149342-e08c9700-8c04-11eb-93fd-58c1b22f5496.png)
![Screenshot (135)](https://user-images.githubusercontent.com/66053534/112149348-e2eef100-8c04-11eb-8d80-ff5e5b20c24d.png)

Please assign this to me.